.<%= classname_prefix %>-ui-cards class=@class_name
  .<%= classname_prefix %>-ui-cards__container.container-fluid
    .<%= classname_prefix %>-ui-cards__flex
      - @cards.each do |card|
        = render(<%= application_namespace %>::Ui::CardComponent.new(**card))
