.<%= classname_prefix %>-ui-cards
  --<%= classname_prefix %>-ui-cards-gap: #{map-get($spacers, d)}

  container-type: inline-size
  margin: var(--<%= classname_prefix %>-ui-cards-gap) 0

  .container-fluid &__container
    padding-left: 0
    padding-right: 0

  &__flex
    display: flex
    align-items: stretch
    flex-wrap: wrap
    gap: var(--<%= classname_prefix %>-ui-cards-gap)

  +media-breakpoint-up(md)
    --<%= classname_prefix %>-ui-cards-gap: #{map-get($spacers, f)}
