.f-c-private-attachments-single-dropzone
  position: relative
  display: inline-block

  &--minimal
    display: inline-flex
    align-items: center
    justify-content: center

  &:not(&--loading) &__loader
    display: none

  &__upload
    cursor: pointer
    position: relative
    display: inline-flex
    align-items: center
    justify-content: center

    .dz-preview
      display: none

  &__upload-ico,
  &__upload-btn
    pointer-events: none

  &__upload--loading &__upload-ico
    visibility: hidden

  &--minimal &__loader
    background: transparent !important

  &__destroy
    cursor: pointer
