= render 'detail_heading', menu: @menu, action: :show

h2 = t('.title')

== cell('folio/console/menu_tree', { \
          menu: @menu, \
          items: @menu.menu_items.roots.ordered, \
          url: tree_sort_console_menu_path(@menu), \
          root: true, \
        })
