= form_header @menu, right: link_to(t('.header_link'), \
                                    url_for([:edit, :console, @menu]), \
                                    class: 'btn btn-outline')

h2 = t('.title')

== cell('folio/console/menu_tree', { \
          menu: @menu, \
          items: @menu.menu_items.roots.ordered, \
          url: tree_sort_console_menu_path(@menu), \
          root: true, \
        })
