@use "sass:math"

.f-c-atoms-word-count
  font-weight: $font-weight-normal
  position: relative

  &__flex
    color: $gray-medium-dark
    display: flex
    align-items: center
    gap: px-to-rem(8px)

  &[data-f-c-atoms-word-count-visible-value="false"]
    display: none

  &__tooltip
    position: absolute
    top: 100%
    min-width: 100%
    left: 50%
    transform: translate(-50%, 0)
    z-index: 1000
    padding-top: math.div($grid-gutter-width, 2)
    display: none

  &:hover &__tooltip
    display: block

  &__tooltip-inner
    color: $dark-gray
    white-space: nowrap
    text-align: right
    background: $body-bg
    padding: math.div($grid-gutter-width, 2)
    border-radius: $border-radius
    box-shadow: $box-shadow
