.f-c-atoms-word-count
  font-weight: $font-weight-normal
  color: $gray-medium-dark
  display: flex
  align-items: center
  gap: px-to-rem(8px)

  &[data-f-c-atoms-word-count-visible-value="false"]
    display: none
