.<%= classname_prefix %>-atom-text-with-image
  &__cover
    margin-bottom: map-get($spacers, 3)

  @media screen and (min-width: 640px)
    +clearfix

    &__cover
      float: left
      margin-right: $grid-gutter-width
      width: 100%
