$mailer-breakpoints: (xs: 0, sm: 430px, md: 600px, lg: 680px)
$mailer-breakpoint-mobile: sm

$mailer-font-family-sans-serif: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$mailer-font-family-base: $mailer-font-family-sans-serif
$mailer-heading-font-family: "Space Grotesk", $mailer-font-family-sans-serif

$mailer-font-size-base: 16px

$mailer-gap-a: 4px
$mailer-gap-b: 8px
$mailer-gap-c: 12px
$mailer-gap-d: 16px
$mailer-gap-e: 20px
$mailer-gap-f: 24px
$mailer-gap-g: 32px
$mailer-gap-h: 40px
$mailer-gap-i: 48px
$mailer-gap-j: 56px
$mailer-gap-k: 64px

$mailer-ui-typo-display-line-height: 1.2
$mailer-ui-typo-display-letter-spacing: -0.5px
$mailer-ui-typo-text-line-height: 1.5

$mailer-ui-typo-display-m-font-size: 36px
$mailer-ui-typo-display-m-line-height: $mailer-ui-typo-display-line-height
$mailer-ui-typo-display-m-letter-spacing: $mailer-ui-typo-display-letter-spacing

$mailer-ui-typo-display-s-font-size: 24px
$mailer-ui-typo-display-s-line-height: $mailer-ui-typo-display-line-height
$mailer-ui-typo-display-s-letter-spacing: $mailer-ui-typo-display-letter-spacing

$mailer-ui-typo-display-xs-font-size: 18px
$mailer-ui-typo-display-xs-line-height: $mailer-ui-typo-display-line-height
$mailer-ui-typo-display-xs-letter-spacing: $mailer-ui-typo-display-letter-spacing

$mailer-ui-typo-display-2xs-font-size: 16px
$mailer-ui-typo-display-2xs-line-height: $mailer-ui-typo-display-line-height
$mailer-ui-typo-display-2xs-letter-spacing: $mailer-ui-typo-display-letter-spacing

$mailer-ui-typo-display-3xs-font-size: 14px
$mailer-ui-typo-display-3xs-line-height: $mailer-ui-typo-display-line-height
$mailer-ui-typo-display-3xs-letter-spacing: $mailer-ui-typo-display-letter-spacing

$mailer-ui-typo-text-xl-font-size: 20px
$mailer-ui-typo-text-xl-line-height: $mailer-ui-typo-text-line-height

$mailer-ui-typo-text-l-font-size: 18px
$mailer-ui-typo-text-l-line-height: $mailer-ui-typo-text-line-height

$mailer-ui-typo-text-m-font-size: 16px
$mailer-ui-typo-text-m-line-height: $mailer-ui-typo-text-line-height

$mailer-ui-typo-text-s-font-size: 14px
$mailer-ui-typo-text-s-line-height: $mailer-ui-typo-text-line-height

$mailer-ui-typo-text-xs-font-size: 12px
$mailer-ui-typo-text-xs-line-height: $mailer-ui-typo-text-line-height

// color variables to prevent to color conversion of some mail clients
// probably not needed in most cases
$mailer-secure-primary-white: #fffffe
$mailer-secure-primary-black: #000001

$mailer-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.15)

$mailer-border-radius: 12px
$mailer-border-radius-sm: 8px
$mailer-btn-border-radius: 24px

$purple-300: #936cac !default
$cloud-100: #f5f5f5 !default
$cloud-200: #e8e8e8 !default
$cloud-300: #cbcbcb !default
$cloud-400: #8d8d8d !default
$cloud-500: #696969 !default
$cloud-600: #555555 !default
$cloud-700: #3e3e3e !default
$cloud-800: #2b2b2b !default
$mailer-brand-200: $purple-300 !default
$primary-black: #000000 !default
$primary-white: #ffffff !default
