.d-searches-results-list
  &__result
    text-decoration: none

  &__cover
    flex 0 1 auto

  &__text
    flex 1 0 auto

  &__title
    text-decoration: underline

  &__perex
    color: $shade-700

  &__url
    text-decoration: underline
    color: $shade-500

  &__title:hover
  &__url:hover
    text-decoration: none
