.container-fluid
  h1
    a.<%= classname_prefix %>-unlink href=<%= application_namespace_path %>_ui_path UI kit

  - %w[light dark].each do |theme|
    .bg-body.p-f.mt-g.border.rounded data-bs-theme=theme
      h2.mt-0 Chips - #{theme}

      - @chips.each do |hash|
        .my-f
          = render(<%= application_namespace %>::Ui::ChipsComponent.new(**hash))
