.container-fluid
  h1
    a.<%= classname_prefix %>-unlink href=<%= application_namespace_path %>_ui_path UI kit

  - %w[light dark].each do |theme|
    .bg-body.p-g.mt-g.border.rounded data-bs-theme=theme
      h2.mt-0 Tabs - #{theme}

      = <%= application_namespace_path %>_ui_tabs(tabs: @tabs)
