# frozen_string_literal: true

class <%= application_namespace %>::Atom::<%= class_name %> < Folio::Atom::Base
  ATTACHMENTS = %i[]

  STRUCTURE = {}

  ASSOCIATIONS = {}
  <%- if options[:cell] -%>

  def self.cell_name
    "<%= atom_cell_name %>"
  end
  <%- end -%>
end
