# frozen_string_literal: true

require 'test_helper'

class Atom::<%= class_name %>CellTest < Cell::TestCase
  test 'show' do
    atom = Atom::<%= class_name %>.create!
    html = cell('atom/<%= model_resource_name %>', atom).(:show)
    assert html
  end
end
