# frozen_string_literal: true

require 'test_helper'

class <%= global_namespace %>::Atom::<%= class_name %>CellTest < Cell::TestCase
  test 'show' do
    atom = create_atom(<%= global_namespace %>::Atom::<%= class_name %>)
    html = cell('<%= atom_cell_name %>', atom).(:show)
    assert html
  end
end
