# frozen_string_literal: true

module <%= application_namespace %>
  def self.table_name_prefix
    "<%= application_namespace_path %>_"
  end

  def self.rails_paths
    h = {}

    %i[
      root_path
    ].each do |key|
      h[key] = I18n.t("<%= application_namespace_path %>.menu.base.#{key}", default: key)
    end

    h
  end
end
