# frozen_string_literal: true

module <%= application_namespace %>
  def self.table_name_prefix
    "<%= application_namespace_path %>_"
  end

  def self.rails_paths
    {
      root_path: I18n.t("homepage"),
    }
  end
end
