$shade-light-contrast: #ffffff !default
$shade-100: #f5f5f5 !default

.iti
  --iti-path-flags-1x: url('https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/23.5.0/img/flags.png')
  --iti-path-flags-2x: url('https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/23.5.0/img/flags@2x.png')
  --iti-dropdown-bg: #{$shade-light-contrast}
  --iti-hover-color: #{$shade-100}

  &__search-input
    background: var(--iti-dropdown-bg)

.f-input-form-group--phone
  .iti
    display: block
    font-size: $input-font-size

  .iti__country-list
    background-color: $input-bg

  .iti__selected-country,
  .iti__selected-country-primary
    border-top-left-radius: $input-border-radius
    border-bottom-left-radius: $input-border-radius
