= render_folio_cache
  = render(Dummy::Ui::HeroComponent.new(title: @author.to_label,
                                        perex: @author.perex,
                                        breadcrumbs: @breadcrumbs_on_rails,
                                        show_divider: true,
                                        strong_subtitle: @author.job,
                                        subtitle: @published_articles_count,
                                        links: @hero_links,
                                        href: true))

  .container-fluid
    - if @articles.present?
      = render(Dummy::Blog::Articles::CardsComponent.new(size: :md,
                                                         hero_size: @pagy && @pagy.page > 1 ? nil : :lg,
                                                         column_classes: "col-12 col-sm-6 col-lg-4",
                                                         articles: @articles))

    - if @pagy.present?
      = render(Dummy::Ui::PagyComponent.new(pagy: @pagy))
