= index_header

= catalogue(@articles)
  ruby:
    cover
    edit_link :to_label
    association(:categories, link: [:edit, :console])
    featured_toggle
    published_toggle
    date(:published_at)
    actions
