$f-devise-invitations-show-strong-color: inherit !default

.f-devise-invitations-show
  &__submit
    +unbutton
    color: $link-color
    text-decoration: $link-decoration

    &:hover
      color: $link-hover-color
      text-decoration: $link-hover-decoration

  &__text
    max-width: 810px

    strong
      color: $f-devise-invitations-show-strong-color
