# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::SearchesControllerTest < ActionDispatch::IntegrationTest
  test "show" do
    create_and_host_site

    get <%= application_namespace_path %>_search_path
    assert_response(:ok)
    assert_select(".<%= classname_prefix %>-searches-show__title")
    assert_select(".<%= classname_prefix %>-searches-show__no-results")

    get <%= application_namespace_path %>_search_path(q: "foo")
    assert_response(:ok)
    assert_select(".<%= classname_prefix %>-searches-show__title")
    assert_select(".<%= classname_prefix %>-searches-show__no-results")

    create(:folio_page, title: "bar")
    get <%= application_namespace_path %>_search_path(q: "foo")
    assert_response(:ok)
    assert_select(".<%= classname_prefix %>-searches-show__title")
    assert_select(".<%= classname_prefix %>-searches-show__no-results")

    create(:folio_page, title: "foo")
    get <%= application_namespace_path %>_search_path(q: "foo")
    assert_response(:ok)
    assert_select(".<%= classname_prefix %>-searches-show__title")
    assert_select(".<%= classname_prefix %>-searches-show__results")
    assert_select(".<%= classname_prefix %>-searches-show__tabs")
    assert_select(".<%= classname_prefix %>-searches-show__results-title")
    assert_select(".<%= classname_prefix %>-searches-show__no-results", 0)

    create(:folio_page, title: "foo")
    get <%= application_namespace_path %>_search_path(q: "foo", tab: Folio::Page.model_name.human(count: 2))
    assert_response(:ok)
    assert_select(".<%= classname_prefix %>-searches-show__title")
    assert_select(".<%= classname_prefix %>-searches-show__results")
    assert_select(".<%= classname_prefix %>-searches-show__tabs")
    assert_select(".<%= classname_prefix %>-searches-show__results-title", 0)
    assert_select(".<%= classname_prefix %>-searches-show__no-results", 0)
  end

  test "autocomplete" do
    create_and_host_site

    get autocomplete_<%= application_namespace_path %>_search_path
    assert_response(:ok)
    page = Capybara.string(response.parsed_body["data"])
    assert_equal(0, page.find_css(".<%= classname_prefix %>-searches-autocomplete__klass").size)
    assert_equal(1, page.find_css(".<%= classname_prefix %>-searches-autocomplete__no-results").size)

    get autocomplete_<%= application_namespace_path %>_search_path(q: "foo")
    assert_response(:ok)
    page = Capybara.string(response.parsed_body["data"])
    assert_equal(0, page.find_css(".<%= classname_prefix %>-searches-autocomplete__klass").size)
    assert_equal(1, page.find_css(".<%= classname_prefix %>-searches-autocomplete__no-results").size)

    create(:folio_page, title: "bar")
    get autocomplete_<%= application_namespace_path %>_search_path(q: "foo")
    assert_response(:ok)
    page = Capybara.string(response.parsed_body["data"])
    assert_equal(0, page.find_css(".<%= classname_prefix %>-searches-autocomplete__klass").size)
    assert_equal(1, page.find_css(".<%= classname_prefix %>-searches-autocomplete__no-results").size)

    create(:folio_page, title: "foo")
    get autocomplete_<%= application_namespace_path %>_search_path(q: "foo")
    assert_response(:ok)
    page = Capybara.string(response.parsed_body["data"])
    assert_equal(1, page.find_css(".<%= classname_prefix %>-searches-autocomplete__klass").size)
    assert_equal(0, page.find_css(".<%= classname_prefix %>-searches-autocomplete__no-results").size)
  end
end
