.f-c-html-auto-format-toggle data=data
  = render(Folio::Console::Ui::BooleanToggleComponent.new(record: nil,
                                                          static: true,
                                                          attribute: nil,
                                                          checked: enabled,
                                                          small_label: t('.label')))
