.f-c-html-auto-format-toggle
  margin-left: auto
  flex: 0 0 auto
  align-self: center

  &__label
    cursor: pointer
    display: flex
    align-items: center
    gap: $grid-gutter-base

  &__input
    margin: 0
