.<%= classname_prefix %>-ui-console-preview-no-records-for-atom
  = render(<%= application_namespace %>::Ui::ConsolePreview::InvalidAtomComponent.new(atom: @atom,
                                                               message:))
