$f-tiptap__columns--min-horizontal-width: 550px !default;

:root {
  // TODO replace these --tt- defaults
  --tt-gray-light-a-100: rgba(15, 22, 36, 0.05);
  --tt-gray-light-a-200: rgba(37, 39, 45, 0.1);
  --tt-gray-light-a-300: rgba(47, 50, 55, 0.2);
  --tt-gray-light-a-500: rgba(52, 55, 60, 0.64);
  --tt-gray-light-a-900: rgba(29, 30, 32, 0.98);

  --tt-gray-dark-a-50: rgba(232, 232, 253, 0.05);
  --tt-gray-dark-a-100: rgba(231, 231, 243, 0.07);
  --tt-gray-dark-a-200: rgba(238, 238, 246, 0.11);
  --tt-gray-dark-a-500: rgba(236, 238, 253, 0.5);
  --tt-gray-dark-a-700: rgba(251, 251, 254, 0.75);
  --tt-gray-dark-a-800: rgba(253, 253, 253, 0.88);
  --tt-gray-dark-a-900: rgba(255, 255, 255, 0.96);

  --tt-gray-dark-100: rgba(32, 32, 34, 1);
  --tt-gray-dark-200: rgba(45, 45, 47, 1);
  --tt-gray-dark-500: rgba(124, 124, 131, 1);
  --tt-gray-dark-900: rgba(245, 245, 245, 1);

  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --f-tiptap__spacer: 1rem;

  --f-tiptap__root--white-space: pre-wrap;
  --f-tiptap__root--word-break: break-word;
  --f-tiptap__root--margin-x: auto;
  --f-tiptap__root--max-width: 750px;

  --f-tiptap__node--margin-top: var(--f-tiptap__spacer);
  --f-tiptap__node--margin-bottom: var(--f-tiptap__spacer);

  --f-tiptap__blockquote--padding: 0.375em 0 0.375em 1em;
  --f-tiptap__blockquote--background: rgba(34, 35, 37, 1);

  --f-tiptap__hr--margin: 2rem;
  --f-tiptap__hr--color: var(--bs-border-color);
  --f-tiptap__hr--height: 1px;

  --f-tiptap__headings--margin-top: 2rem;
  --f-tiptap__h1--margin-top: var(--f-tiptap__headings--margin-top);
  --f-tiptap__h2--margin-top: var(--f-tiptap__headings--margin-top);
  --f-tiptap__h3--margin-top: var(--f-tiptap__headings--margin-top);
  --f-tiptap__h4--margin-top: var(--f-tiptap__headings--margin-top);

  --f-tiptap__headings--margin-bottom: var(--f-tiptap__node--margin-bottom);
  --f-tiptap__h1--margin-bottom: var(--f-tiptap__headings--margin-bottom);
  --f-tiptap__h2--margin-bottom: var(--f-tiptap__headings--margin-bottom);
  --f-tiptap__h3--margin-bottom: var(--f-tiptap__headings--margin-bottom);
  --f-tiptap__h4--margin-bottom: var(--f-tiptap__headings--margin-bottom);

  --f-tiptap__headings--color: inherit;
  --f-tiptap__h1--color: var(--f-tiptap__headings--color);
  --f-tiptap__h2--color: var(--f-tiptap__headings--color);
  --f-tiptap__h3--color: var(--f-tiptap__headings--color);
  --f-tiptap__h4--color: var(--f-tiptap__headings--color);

  --f-tiptap__headings--font-weight: bold;
  --f-tiptap__h1--font-weight: var(--f-tiptap__headings--font-weight);
  --f-tiptap__h2--font-weight: var(--f-tiptap__headings--font-weight);
  --f-tiptap__h3--font-weight: var(--f-tiptap__headings--font-weight);
  --f-tiptap__h4--font-weight: var(--f-tiptap__headings--font-weight);

  --f-tiptap__headings--font-family: inherit;
  --f-tiptap__h1--font-family: var(--f-tiptap__headings--font-family);
  --f-tiptap__h2--font-family: var(--f-tiptap__headings--font-family);
  --f-tiptap__h3--font-family: var(--f-tiptap__headings--font-family);
  --f-tiptap__h4--font-family: var(--f-tiptap__headings--font-family);

  --f-tiptap__headings--font-size: 3em;
  --f-tiptap__h1--font-size: var(--f-tiptap__headings--font-size);
  --f-tiptap__h2--font-size: calc(var(--f-tiptap__headings--font-size) * 0.8);
  --f-tiptap__h3--font-size: calc(var(--f-tiptap__headings--font-size) * 0.6);
  --f-tiptap__h4--font-size: calc(var(--f-tiptap__headings--font-size) * 0.4);

  --f-tiptap__headings--line-height: 1.2;
  --f-tiptap__h1--line-height: var(--f-tiptap__headings--line-height);
  --f-tiptap__h2--line-height: var(--f-tiptap__headings--line-height);
  --f-tiptap__h3--line-height: var(--f-tiptap__headings--line-height);
  --f-tiptap__h4--line-height: var(--f-tiptap__headings--line-height);

  --f-tiptap__headings--letter-spacing: normal;
  --f-tiptap__h1--letter-spacing: var(--f-tiptap__headings--letter-spacing);
  --f-tiptap__h2--letter-spacing: var(--f-tiptap__headings--letter-spacing);
  --f-tiptap__h3--letter-spacing: var(--f-tiptap__headings--letter-spacing);
  --f-tiptap__h4--letter-spacing: var(--f-tiptap__headings--letter-spacing);

  --f-tiptap__ul--padding-left: 1.5em;

  --f-tiptap__li--spacer: 0.5rem;
  --f-tiptap__li--margin-top: var(--f-tiptap__li--spacer);
  --f-tiptap__li--margin-bottom: var(--f-tiptap__li--spacer);

  --f-tiptap__codeblock--background-color: var(--tt-gray-light-a-50);
  --f-tiptap__codeblock--border-color: var(--tt-gray-light-a-200);
  --f-tiptap__codeblock--border-radius: var(--bs-border-radius);
  --f-tiptap__codeblock--border-width: var(--bs-border-width);
  --f-tiptap__codeblock--color: var(--tt-gray-light-a-800);
  --f-tiptap__codeblock--font-size: 1rem;
  --f-tiptap__codeblock--padding: 1em;

  --f-tiptap__code--background-color: var(--tt-gray-light-a-100);
  --f-tiptap__code--border-color: var(--f-tiptap__codeblock--border-color);
  --f-tiptap__code--border-radius: var(--f-tiptap__codeblock--border-radius);
  --f-tiptap__code--border-width: var(--f-tiptap__codeblock--border-width);
  --f-tiptap__code--color: var(--bs-code-color);
  --f-tiptap__code--font-family: var(--bs-font-monospace);
  --f-tiptap__code--font-size: 0.875em;
  --f-tiptap__code--line-height: 1.4;
  --f-tiptap__code--padding: 0.1em 0.2em;

  --f-tiptap__a--color: #0a58ca;
  --f-tiptap__a--color-hover: var(--f-tiptap__a--color);
  --f-tiptap__a--text-decoration: underline;
  --f-tiptap__a--text-decoration-hover: none;

  --f-tiptap__styled-paragraph-small--color: inherit;
  --f-tiptap__styled-paragraph-small--font-family: inherit;
  --f-tiptap__styled-paragraph-small--font-size: 0.8rem;
  --f-tiptap__styled-paragraph-small--font-weight: inherit;
  --f-tiptap__styled-paragraph-small--line-height: inherit;

  --f-tiptap__styled-paragraph-large--color: inherit;
  --f-tiptap__styled-paragraph-large--font-family: inherit;
  --f-tiptap__styled-paragraph-large--font-size: 1.2rem;
  --f-tiptap__styled-paragraph-large--font-weight: inherit;
  --f-tiptap__styled-paragraph-large--line-height: inherit;

  --f-tiptap__columns--gap: var(--f-tiptap__spacer);
  --f-tiptap__column--border-in-editor-only: 1px dashed #ccc;

  --f-tiptap__table--border: 1px solid var(--tt-gray-light-a-200);
  --f-tiptap__table--background: transparent;
  --f-tiptap__table--header-background: var(--f-tiptap__table--background);
  --f-tiptap__table--cell-padding: 1rem;
  --f-tiptap__table--vertical-align: top;
  --f-tiptap__table--selected-background: var(--tt-brand-color-50);
  --f-tiptap__table--selected-border: 1px solid var(--tt-brand-color-100);
}

.f-tiptap-styles--dark {
  --f-tiptap__blockquote--background: rgba(245, 245, 245, 1);

  --f-tiptap__code--background-color: var(--tt-gray-dark-a-100);
  --f-tiptap__code--border-color: var(--tt-gray-dark-a-200);
  --f-tiptap__code--color: var(--tt-gray-dark-a-700);

  --f-tiptap__codeblock--background-color: var(--tt-gray-dark-a-50);
  --f-tiptap__codeblock--border-color: var(--tt-gray-dark-a-200);
  --f-tiptap__codeblock--color: var(--tt-gray-dark-a-800);
}

.f-tiptap-styles {
  white-space: var(--f-tiptap__root--white-space);
  word-break: var(--f-tiptap__root--word-break);
  container-type: inline-size;
  padding-left: var(--f-tiptap__root--padding-x);
  padding-right: var(--f-tiptap__root--padding-x);
  margin-left: var(--f-tiptap__root--margin-x);
  margin-right: var(--f-tiptap__root--margin-x);
  max-width: var(--f-tiptap__root--max-width);

  .container-fluid {
    padding: 0;
  }

  p,
  ul,
  ol,
  blockquote,
  pre,
  table,
  // .tableWrapper,
  .node-folioTiptapNode,
  .f-tiptap-node,
  .f-tiptap-columns {
    margin-top: var(--f-tiptap__node--margin-top);
    margin-bottom: var(--f-tiptap__node--margin-bottom);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .node-folioTiptapNode,
  .f-tiptap-node,
  .f-tiptap-columns {
    margin-left: calc(var(--f-tiptap__root--padding-x) * -1);
    margin-right: calc(var(--f-tiptap__root--padding-x) * -1);
  }

  .f-tiptap-columns,
  .node-folioTiptapNode{
    .f-tiptap-node,
    .node-folioTiptapNode,
    .f-tiptap-columns {
      --f-tiptap__root--padding-x: 0;
    }
  }

  a:not([class]) {
    color: var(--f-tiptap__a--color);
    cursor: pointer;
    text-decoration: var(--f-tiptap__a--text-decoration);

    &:hover {
      color: var(--f-tiptap__a--color-hover);
      text-decoration: var(--f-tiptap__a--text-decoration-hover);
    }
  }

  // Text decoration inheritance for spans
  a span {
    text-decoration: underline;
  }

  s span {
    text-decoration: line-through;
  }

  u span {
    text-decoration: underline;
  }

  blockquote {
    position: relative;
    padding: var(--f-tiptap__blockquote--padding);

    &::before,
    &.is-empty::before {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      height: 100%;
      width: 0.25em;
      background-color: var(--blockquote-background);
      content: "";
      border-radius: 0;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--f-tiptap__headings--color);
    font-family: var(--f-tiptap__headings--font-family);
    font-size: var(--f-tiptap__headings--font-size);
    font-style: inherit;
    font-weight: var(--f-tiptap__headings--font-weight);
    letter-spacing: var(--f-tiptap__headings--letter-spacing);
    position: relative;
    margin-top: var(--f-tiptap__headings--margin-top);
    margin-bottom: var(--f-tiptap__headings--margin-bottom);

    strong {
      font-weight: inherit;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @for $i from 1 through 4 {
    h#{$i} {
      color: var(--f-tiptap__h#{$i}--color);
      font-family: var(--f-tiptap__h#{$i}--font-family);
      font-size: var(--f-tiptap__h#{$i}--font-size);
      font-weight: var(--f-tiptap__h#{$i}--font-weight);
      letter-spacing: var(--f-tiptap__h#{$i}--letter-spacing);
      margin-top: var(--f-tiptap__h#{$i}--margin-top);
      margin-bottom: var(--f-tiptap__h#{$i}--margin-bottom);
    }
  }

  ol,
  ul {
    padding-left: var(--f-tiptap__ul--padding-left);
  }

  li {
    // reduce spacings inside list
    --f-tiptap__spacer: var(--f-tiptap__li--spacer);
    --f-tiptap__node--margin-top: var(--f-tiptap__li--spacer);
    --f-tiptap__node--margin-bottom: var(--f-tiptap__li--spacer);

    list-style-type: inherit;
    margin-top: var(--f-tiptap__li--margin-top);
    margin-bottom: var(--f-tiptap__li--margin-bottom);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ol {
    list-style: decimal;

    ol {
      list-style: lower-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }

  // Inline code
  code {
    background-color: var(--f-tiptap__code--background-color);
    border-radius: var(--f-tiptap__code--border-radius);
    border: var(--f-tiptap__code--border-width) solid
      var(--f-tiptap__code--border-color);
    color: var(--f-tiptap__code--color);
    font-family: var(--f-tiptap__code--font-family);
    font-size: var(--f-tiptap__code--font-size);
    line-height: var(--f-tiptap__code--line-height);
    padding: var(--f-tiptap__code--padding);
  }

  // Code blocks
  pre {
    background-color: var(--f-tiptap__codeblock--background-color);
    color: var(--f-tiptap__codeblock--color);
    border: var(--f-tiptap__codeblock--border-width) solid
      var(--f-tiptap__codeblock--border-color);
    padding: var(--f-tiptap__codeblock--padding);
    font-size: var(--f-tiptap__codeblock--font-size);
    border-radius: var(--f-tiptap__codeblock--border-radius);

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      -webkit-text-fill-color: inherit;
      color: inherit;
    }
  }

  hr {
    background-color: var(--f-tiptap__hr--color);
    border: none;
    height: var(--f-tiptap__hr--height);
    margin: var(--f-tiptap__hr--margin) 0;
  }

  .f-tiptap-columns {
    display: flex;
    flex-direction: column;
    gap: var(--f-tiptap__columns--gap);
  }

  .f-tiptap-column {
    box-sizing: border-box;
    position: relative;
    container-type: inline-size;
  }

  .f-tiptap-editor & .f-tiptap-column::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    inset: 0;
    border: var(--f-tiptap__column--border-in-editor-only);
    border-radius: var(--f-tiptap-editor--border-radius);
  }

  .f-tiptap-styled-paragraph {
    @each $variant in small, large {
      &[data-variant="#{$variant}"] {
        color: var(--f-tiptap__styled-paragraph-#{$variant}--color);
        font-family: var(--f-tiptap__styled-paragraph-#{$variant}--font-family);
        font-size: var(--f-tiptap__styled-paragraph-#{$variant}--font-size);
        font-weight: var(--f-tiptap__styled-paragraph-#{$variant}--font-weight);
        line-height: var(--f-tiptap__styled-paragraph-#{$variant}--line-height);
      }
    }
  }

  // .tableWrapper {
  //   max-width: 100%;
  //   overflow-x: auto;

  //   table {
  //     margin: 0;
  //   }
  // }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border: var(--f-tiptap__table--border);
    background: var(--f-tiptap__table--background);
    table-layout: auto;

    td,
    th {
      --f-tiptap__node--margin-bottom: 0;
      border: var(--f-tiptap__table--border);
      min-width: 1rem;
      padding: var(--f-tiptap__table--cell-padding);
      position: relative;
      vertical-align: var(--f-tiptap__table--vertical-align);
    }

    td {
      background: var(--f-tiptap__table--background);
    }

    th {
      background: var(--f-tiptap__table--header-background);
      font-weight: 700;
      text-align: left
    }

    .selectedCell {
      background: var(--f-tiptap__table--selected-background);
      border: var(--f-tiptap__table--selected-border);
    }

    // .column-resize-handle {
    //   background-color: var(--tt-brand-color-400);
    //   bottom: -2px;
    //   pointer-events: none;
    //   position: absolute;
    //   right: -2px;
    //   top: 0;
    //   width: 4px
    // }
  }

  // .tiptap.resize-cursor {
  //   cursor: ew-resize;
  //   cursor: col-resize
  // }

  @container (min-width: #{$f-tiptap__columns--min-horizontal-width}) {
    .f-tiptap-columns {
      align-items: stretch;
      flex-direction: row;
    }

    .f-tiptap-column {
      min-width: 0;
      flex: 1 1 0%;
    }

    .f-tiptap-editor
      &
      .f-tiptap-columns
      > .f-tiptap-columns:first-child
      .f-tiptap-column::before {
      border-top: 0;
    }

    .f-tiptap-editor
      &
      .f-tiptap-columns
      > .f-tiptap-columns:last-child
      .f-tiptap-column::before {
      border-bottom: 0;
    }
  }
}
