$f-tiptap__spacer: 1rem !default;

$f-tiptap__media-min-width--tablet: 576px !default;
$f-tiptap__media-min-width--desktop: 708px !default;

$f-tiptap-root__background-color: #ffffff !default;
$f-tiptap-root__color: inherit !default;
$f-tiptap-root__font-family: inherit !default;
$f-tiptap-root__font-size: inherit !default;
$f-tiptap-root__line-height: inherit !default;
$f-tiptap-root__padding-x: 0 !default;
$f-tiptap-root__padding-x--tablet: 0 !default;
$f-tiptap-root__padding-x--desktop: 0 !default;
$f-tiptap-root__margin-x: auto !default;
$f-tiptap-root__max-width: 750px !default;
$f-tiptap-root__white-space: pre-wrap !default;
$f-tiptap-root__word-break: break-word !default;

$f-tiptap-node__margin-top: $f-tiptap__spacer !default;
$f-tiptap-node__margin-bottom: $f-tiptap__spacer !default;

$f-tiptap-blockquote__padding: 0.375em 0 0.375em 1em !default;
$f-tiptap-blockquote__background: rgba(34, 35, 37, 1) !default;

$f-tiptap-hr__margin: 2rem !default;
$f-tiptap-hr__background: var(--bs-border-color) !default;
$f-tiptap-hr__height: 1px !default;

$f-tiptap-headings__margin-top: 2rem !default;
$f-tiptap-headings__margin-top--tablet: $f-tiptap-headings__margin-top !default;
$f-tiptap-headings__margin-top--desktop: $f-tiptap-headings__margin-top--tablet !default;
$f-tiptap-headings__margin-bottom: $f-tiptap-node__margin-bottom !default;
$f-tiptap-headings__margin-bottom--tablet: $f-tiptap-headings__margin-bottom !default;
$f-tiptap-headings__margin-bottom--desktop: $f-tiptap-headings__margin-bottom--tablet !default;
$f-tiptap-headings__color: $f-tiptap-root__color !default;
$f-tiptap-headings__font-weight: bold !default;
$f-tiptap-headings__font-family: inherit !default;
$f-tiptap-headings__font-size: 3em !default;
$f-tiptap-headings__line-height: 1.2 !default;
$f-tiptap-headings__letter-spacing: normal !default;

$f-tiptap-headings__levels: (
  "h1": (
    // you can override any of these
    "margin-top": null,
    "margin-bottom": null,
    "color": null,
    "font-weight": null,
    "font-family": null,
    "font-size": null,
    "font-size--tablet": null,
    "font-size--desktop": null,
    "line-height": null,
    "letter-spacing": null,
  ),
  "h2": (
    "font-size": calc($f-tiptap-headings__font-size * 0.8),
    "font-size--tablet": calc($f-tiptap-headings__font-size * 0.8),
    "font-size--desktop": calc($f-tiptap-headings__font-size * 0.8),
  ),
  "h3": (
    "font-size": calc($f-tiptap-headings__font-size * 0.6),
    "font-size--tablet": calc($f-tiptap-headings__font-size * 0.6),
    "font-size--desktop": calc($f-tiptap-headings__font-size * 0.6),
  ),
  "h4": (
    "font-size": calc($f-tiptap-headings__font-size * 0.4),
    "font-size--tablet": calc($f-tiptap-headings__font-size * 0.4),
    "font-size--desktop": calc($f-tiptap-headings__font-size * 0.4),
  ),
  "h5": (
    "font-size": calc($f-tiptap-headings__font-size * 0.4),
    "font-size--tablet": calc($f-tiptap-headings__font-size * 0.4),
    "font-size--desktop": calc($f-tiptap-headings__font-size * 0.4),
  ),
);

$f-tiptap-ul__padding-left: 1.5em !default;
$f-tiptap-li__spacer: 0.5rem !default;
$f-tiptap-li__margin-top: $f-tiptap-li__spacer !default;
$f-tiptap-li__margin-bottom: $f-tiptap-li__margin-top !default;

$f-tiptap-codeblock__background-color: var(--tt-gray-light-a-50) !default;
$f-tiptap-codeblock__border-color: var(--tt-gray-light-a-200) !default;
$f-tiptap-codeblock__border-radius: var(--bs-border-radius) !default;
$f-tiptap-codeblock__border-width: var(--bs-border-width) !default;
$f-tiptap-codeblock__color: var(--tt-gray-light-a-800) !default;
$f-tiptap-codeblock__font-size: 1rem !default;
$f-tiptap-codeblock__padding: 1em !default;

$f-tiptap-code__background-color: var(--tt-gray-light-a-100) !default;
$f-tiptap-code__border-color: $f-tiptap-codeblock__border-color !default;
$f-tiptap-code__border-radius: $f-tiptap-codeblock__border-radius !default;
$f-tiptap-code__border-width: $f-tiptap-codeblock__border-width !default;
$f-tiptap-code__color: var(--bs-code-color) !default;
$f-tiptap-code__font-family: var(--bs-font-monospace) !default;
$f-tiptap-code__font-size: 0.875em !default;
$f-tiptap-code__line-height: 1.4 !default;
$f-tiptap-code__padding: 0.1em 0.2em !default;

$f-tiptap-a__color: #0a58ca !default;
$f-tiptap-a__color-hover: $f-tiptap-a__color !default;
$f-tiptap-a__text-decoration: underline !default;
$f-tiptap-a__text-decoration-hover: none !default;

$f-tiptap__styled-paragraph-variants: (
  "small": (
    "color": inherit,
    "font-family": inherit,
    "font-size": 0.8rem,
    "font-size--tablet": 0.8rem,
    "font-size--desktop": 0.8rem,
    "font-weight": inherit,
    "line-height": inherit,
  ),
  "large": (
    "color": inherit,
    "font-family": inherit,
    "font-size": 1.2rem,
    "font-size--tablet": 1.2rem,
    "font-size--desktop": 1.2rem,
    "font-weight": inherit,
    "line-height": inherit,
  )
) !default;

$f-tiptap-columns__min-horizontal-width: 550px !default;
$f-tiptap-columns__gap: $f-tiptap__spacer !default;
$f-tiptap-columns__gap--tablet: $f-tiptap-columns__gap !default;
$f-tiptap-columns__gap--desktop: $f-tiptap-columns__gap--tablet !default;
$f-tiptap-column__border-in-editor-only: 1px dashed #ccc !default;

$f-tiptap-float__aside-background-color-in-editor-only: var(--bs-body-bg) !default;
$f-tiptap-float__aside-margin-x: 0 !default;
$f-tiptap-float__aside-margin-y: $f-tiptap__spacer !default;
$f-tiptap-float__aside-margin-x--tablet: $f-tiptap__spacer !default;
$f-tiptap-float__aside-margin-y--tablet: $f-tiptap-float__aside-margin-y !default;
$f-tiptap-float__aside-margin-x--desktop: $f-tiptap-float__aside-margin-x--tablet !default;
$f-tiptap-float__aside-margin-y--desktop: $f-tiptap-float__aside-margin-y--tablet !default;
$f-tiptap-float__aside-width-small: 180px !default;
$f-tiptap-float__aside-width-medium: 240px !default;
$f-tiptap-float__aside-width-large: 300px !default;
$f-tiptap-float__aside-offset: 0 !default;
$f-tiptap-float__aside-offset--tablet: 0 !default;
$f-tiptap-float__aside-offset--desktop: $f-tiptap-float__aside-offset--tablet !default;

$f-tiptap-table__background: transparent !default;
$f-tiptap-table__cell-padding: 1rem !default;
$f-tiptap-table__even-row-background: inherit !default;
$f-tiptap-table__font-family: inherit !default;
$f-tiptap-table__font-size: inherit !default;
$f-tiptap-table__line-height: inherit !default;
$f-tiptap-table__odd-row-background: inherit !default;
$f-tiptap-table__selected-background: var(--tt-brand-color-50) !default;
$f-tiptap-table__selected-border: 1px solid var(--tt-brand-color-100) !default;
$f-tiptap-table__vertical-align: top !default;
$f-tiptap-table__border: 1px solid var(--tt-gray-light-a-200) !default;

$f-tiptap-table-td__border-top: $f-tiptap-table__border !default;
$f-tiptap-table-td__border-bottom: $f-tiptap-table__border !default;
$f-tiptap-table-td__border-left: $f-tiptap-table__border !default;
$f-tiptap-table-td__border-right: $f-tiptap-table__border !default;
$f-tiptap-table-td__first-row-border-top: $f-tiptap-table-td__border-top !default;
$f-tiptap-table-td__first-row-border-bottom: $f-tiptap-table-td__border-bottom !default;
$f-tiptap-table-td__last-row-border-top: $f-tiptap-table-td__border-top !default;
$f-tiptap-table-td__last-row-border-bottom: $f-tiptap-table-td__border-bottom !default;
$f-tiptap-table-td__first-column-border-left: $f-tiptap-table-td__border-left !default;
$f-tiptap-table-td__last-column-border-right: $f-tiptap-table-td__border-right !default;

:root {
  // TODO replace these --tt- defaults
  --tt-gray-light-a-100: rgba(15, 22, 36, 0.05);
  --tt-gray-light-a-200: rgba(37, 39, 45, 0.1);
  --tt-gray-light-a-300: rgba(47, 50, 55, 0.2);
  --tt-gray-light-a-500: rgba(52, 55, 60, 0.64);
  --tt-gray-light-a-900: rgba(29, 30, 32, 0.98);

  --tt-gray-dark-a-50: rgba(232, 232, 253, 0.05);
  --tt-gray-dark-a-100: rgba(231, 231, 243, 0.07);
  --tt-gray-dark-a-200: rgba(238, 238, 246, 0.11);
  --tt-gray-dark-a-500: rgba(236, 238, 253, 0.5);
  --tt-gray-dark-a-700: rgba(251, 251, 254, 0.75);
  --tt-gray-dark-a-800: rgba(253, 253, 253, 0.88);
  --tt-gray-dark-a-900: rgba(255, 255, 255, 0.96);

  --tt-gray-dark-100: rgba(32, 32, 34, 1);
  --tt-gray-dark-200: rgba(45, 45, 47, 1);
  --tt-gray-dark-500: rgba(124, 124, 131, 1);
  --tt-gray-dark-900: rgba(245, 245, 245, 1);

  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --f-tiptap-root__background-color: #{$f-tiptap-root__background-color};
  --f-tiptap-root__padding-x: #{$f-tiptap-root__padding-x};

  --f-tiptap-code__border-radius: #{$f-tiptap-code__border-radius};
}

.f-tiptap-styles {
  background: var(--f-tiptap-root__background-color);
  color: $f-tiptap-root__color;
  container-type: inline-size;
  font-family: $f-tiptap-root__font-family;
  font-size: $f-tiptap-root__font-size;
  line-height: $f-tiptap-root__line-height;
  margin-left: $f-tiptap-root__margin-x;
  margin-right: $f-tiptap-root__margin-x;
  max-width: $f-tiptap-root__max-width;
  padding-left: var(--f-tiptap-root__padding-x);
  padding-right: var(--f-tiptap-root__padding-x);
  white-space: $f-tiptap-root__white-space;
  word-break: $f-tiptap-root__word-break;

  .container-fluid {
    padding: 0;
  }

  p,
  ul,
  ol,
  blockquote,
  pre,
  table,
  // .tableWrapper,
  .node-folioTiptapNode,
  .node-folioTiptapInvalidNode,
  .f-tiptap-node,
  .f-tiptap-columns,
  .f-tiptap-float,
  .f-tiptap-styled-paragraph,
  .f-tiptap-invalid-node {
    margin-top: $f-tiptap-node__margin-top;
    margin-bottom: $f-tiptap-node__margin-bottom;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .node-folioTiptapNode,
  .f-tiptap-node,
  .f-tiptap-columns {
    margin-left: calc(var(--f-tiptap-root__padding-x) * -1);
    margin-right: calc(var(--f-tiptap-root__padding-x) * -1);
  }

  .node-folioTiptapNode {
    .f-tiptap-node {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .f-tiptap-avoid-external-layout {
    --f-tiptap-root__padding-x: 0;
  }

  a:not([class]) {
    color: $f-tiptap-a__color;
    cursor: pointer;
    text-decoration: $f-tiptap-a__text-decoration;

    &:hover {
      color: $f-tiptap-a__color-hover;
      text-decoration: $f-tiptap-a__text-decoration-hover;
    }
  }

  // Text decoration inheritance for spans
  a span {
    text-decoration: underline;
  }

  s span {
    text-decoration: line-through;
  }

  u span {
    text-decoration: underline;
  }

  blockquote {
    position: relative;
    padding: $f-tiptap-blockquote__padding;

    &::before,
    &.is-empty::before {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      height: 100%;
      width: 0.25em;
      background-color: var(--blockquote-background);
      content: "";
      border-radius: 0;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    color: $f-tiptap-headings__color;
    font-family: $f-tiptap-headings__font-family;
    font-size: $f-tiptap-headings__font-size;
    font-style: inherit;
    font-weight: $f-tiptap-headings__font-weight;
    letter-spacing: $f-tiptap-headings__letter-spacing;
    position: relative;
    margin-top: $f-tiptap-headings__margin-top;
    margin-bottom: $f-tiptap-headings__margin-bottom;

    strong {
      font-weight: inherit;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @each $tag, $map in $f-tiptap-headings__levels {
    #{$tag} {
      color: map-get($map, "color");
      font-family: map-get($map, "font-family");
      font-size: map-get($map, "font-size");
      font-weight: map-get($map, "font-weight");
      letter-spacing: map-get($map, "letter-spacing");
      margin-top: map-get($map, "margin-top");
      margin-bottom: map-get($map, "margin-bottom");
    }
  }

  ol,
  ul {
    padding-left: $f-tiptap-ul__padding-left;
  }

  li {
    // // reduce spacings inside list
    // --f-tiptap__spacer: $f-tiptap-li__spacer;
    // --f-tiptap-node__margin-top: $f-tiptap-li__spacer;
    // --f-tiptap-node__margin-bottom: $f-tiptap-li__spacer;

    list-style-type: inherit;
    margin-top: $f-tiptap-li__margin-top;
    margin-bottom: $f-tiptap-li__margin-bottom;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ol {
    list-style: decimal;

    ol {
      list-style: lower-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }

  // Inline code
  code {
    background-color: $f-tiptap-code__background-color;
    border-radius: var(--f-tiptap-code__border-radius);
    border: $f-tiptap-code__border-width solid
      $f-tiptap-code__border-color;
    color: $f-tiptap-code__color;
    font-family: $f-tiptap-code__font-family;
    font-size: $f-tiptap-code__font-size;
    line-height: $f-tiptap-code__line-height;
    padding: $f-tiptap-code__padding;
  }

  // Code blocks
  pre {
    background-color: $f-tiptap-codeblock__background-color;
    color: $f-tiptap-codeblock__color;
    border: $f-tiptap-codeblock__border-width solid
      $f-tiptap-codeblock__border-color;
    padding: $f-tiptap-codeblock__padding;
    font-size: $f-tiptap-codeblock__font-size;
    border-radius: $f-tiptap-codeblock__border-radius;

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      -webkit-text-fill-color: inherit;
      color: inherit;
    }
  }

  hr {
    background: $f-tiptap-hr__background;
    border: none;
    height: $f-tiptap-hr__height;
    margin: $f-tiptap-hr__margin 0;
  }

  .f-tiptap-columns {
    display: flex;
    flex-direction: column;
    gap: $f-tiptap-columns__gap;
  }

  .f-tiptap-column {
    box-sizing: border-box;
    position: relative;
    container-type: inline-size;
    flex: 0 0 auto;
  }

  .f-tiptap-float {
    position: relative;
  }

  .f-tiptap-float__main {
    position: relative;
    z-index: 1;
  }

  .f-tiptap-float__aside {
    margin-bottom: $f-tiptap-float__aside-margin-y;
    position: relative;
    z-index: 2;
  }

  .f-tiptap-editor & .f-tiptap-column::before,
  .f-tiptap-editor & .f-tiptap-float::before,
  .f-tiptap-editor & .f-tiptap-float__aside::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    inset: 0;
    border: $f-tiptap-column__border-in-editor-only;
    border-radius: var(--f-tiptap-editor__border-radius);
  }

  .f-tiptap-editor & .f-tiptap-float__aside {
    background-color: $f-tiptap-float__aside-background-color-in-editor-only;
  }

  .f-tiptap-styled-paragraph {
    @each $variant, $map in $f-tiptap__styled-paragraph-variants {
      &[data-f-tiptap-styled-paragraph-variant="#{$variant}"] {
        color: map-get($map, "color");
        font-family: map-get($map, "font-family");
        font-size: map-get($map, "font-size");
        font-weight: map-get($map, "font-weight");
        line-height: map-get($map, "line-height");
      }
    }
  }

  // .tableWrapper {
  //   max-width: 100%;
  //   overflow-x: auto;

  //   table {
  //     margin: 0;
  //   }
  // }

  table {
    background: $f-tiptap-table__background;
    border: 0;
    border-collapse: collapse;
    font-family: $f-tiptap-table__font-family;
    font-size: $f-tiptap-table__font-size;
    line-height: $f-tiptap-table__line-height;
    max-width: 100%;
    overflow: hidden;
    table-layout: auto;
    width: 100%;

    td,
    th {
      border-bottom: $f-tiptap-table-td__border-bottom;
      border-left: $f-tiptap-table-td__border-left;
      border-right: $f-tiptap-table-td__border-right;
      border-top: $f-tiptap-table-td__border-top;
      min-width: 1rem;
      padding: $f-tiptap-table__cell-padding;
      position: relative;
      vertical-align: $f-tiptap-table__vertical-align;
    }

    td {
      background: $f-tiptap-table__background;
    }

    th {
      font-weight: 700;
      text-align: left
    }

    td, th {
      &:first-child {
        border-left: $f-tiptap-table-td__first-column-border-left;
      }

      &:last-child {
        border-right: $f-tiptap-table-td__last-column-border-right;
      }
    }

    tr:first-child {
      td, th {
        border-top: $f-tiptap-table-td__first-row-border-top;
        border-bottom: $f-tiptap-table-td__first-row-border-bottom;
      }
    }

    tr:last-child {
      td, th {
        border-top: $f-tiptap-table-td__last-row-border-top;
        border-bottom: $f-tiptap-table-td__last-row-border-bottom;
      }
    }

    tr:nth-child(odd) {
      td, th {
        background: $f-tiptap-table__odd-row-background;
      }
    }

    tr:nth-child(even) {
      td, th {
        background: $f-tiptap-table__even-row-background;
      }
    }

    .selectedCell {
      background: $f-tiptap-table__selected-background;
      border: $f-tiptap-table__selected-border;
    }
  }

  @container (min-width: #{$f-tiptap__media-min-width--tablet}) {
    --f-tiptap-root__padding-x: #{$f-tiptap-root__padding-x--tablet};

    .f-tiptap-float {
      &::after {
        content: "";
        clear: both;
        display: table;
      }
    }

    .f-tiptap-float__aside {
      float: left;
      margin-right: $f-tiptap-float__aside-margin-x--tablet;
      margin-bottom: $f-tiptap-float__aside-margin-y--tablet;
      margin-left: $f-tiptap-float__aside-offset--tablet;
      width: $f-tiptap-float__aside-width-medium;
      position: relative;
      container-type: inline-size;
      box-sizing: border-box;
      min-height: 2rem;
    }

    .f-tiptap-float[data-f-tiptap-float-side="right"] .f-tiptap-float__aside {
      float: right;
      margin-right: $f-tiptap-float__aside-offset--tablet;
      margin-left: $f-tiptap-float__aside-margin-x--tablet;
    }

    .f-tiptap-float[data-f-tiptap-float-size="small"] .f-tiptap-float__aside {
      width: $f-tiptap-float__aside-width-small;
    }

    .f-tiptap-float[data-f-tiptap-float-size="large"] .f-tiptap-float__aside {
      width: $f-tiptap-float__aside-width-large;
    }

    .f-tiptap-columns {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      gap: $f-tiptap-columns__gap--tablet;
    }

    .f-tiptap-editor
      &
      .f-tiptap-columns
      > .f-tiptap-columns:first-child
      .f-tiptap-column::before {
      border-top: 0;
    }

    .f-tiptap-editor
      &
      .f-tiptap-columns
      > .f-tiptap-columns:last-child
      .f-tiptap-column::before {
      border-bottom: 0;
    }

    .f-tiptap-styled-paragraph {
      @each $variant, $map in $f-tiptap__styled-paragraph-variants {
        &[data-f-tiptap-styled-paragraph-variant="#{$variant}"] {
          font-size: map-get($map, "font-size--tablet");
        }
      }
    }

    @each $tag, $map in $f-tiptap-headings__levels {
      #{$tag} {
        font-size: map-get($map, "font-size--tablet");
      }
    }
  }

  @container (min-width: #{$f-tiptap__media-min-width--desktop}) {
    --f-tiptap-root__padding-x: #{$f-tiptap-root__padding-x--desktop};

    .f-tiptap-columns {
      gap: $f-tiptap-columns__gap--desktop;
    }

    .f-tiptap-float__aside {
      margin-right: $f-tiptap-float__aside-margin-x--desktop;
      margin-bottom: $f-tiptap-float__aside-margin-y--desktop;
      margin-left: $f-tiptap-float__aside-offset--desktop;
    }

    .f-tiptap-float[data-f-tiptap-float-side="right"] .f-tiptap-float__aside {
      margin-right: $f-tiptap-float__aside-offset--desktop;
      margin-left: $f-tiptap-float__aside-margin-x--desktop;
    }

    .f-tiptap-styled-paragraph {
      @each $variant, $map in $f-tiptap__styled-paragraph-variants {
        &[data-f-tiptap-styled-paragraph-variant="#{$variant}"] {
          font-size: map-get($map, "font-size--desktop");
        }
      }
    }

    @each $tag, $map in $f-tiptap-headings__levels {
      #{$tag} {
        font-size: map-get($map, "font-size--desktop");
      }
    }
  }
}
