# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::ArticleCardListCellTest < Cell::TestCase
  test "show" do
    model = create_list(:<%= application_namespace_path %>_blog_article, 1)
    html = cell("<%= application_namespace_path %>/ui/article_card_list", model).(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-article-card-list")
  end
end
