.f-tiptap-paragraph-placeholder {
  color: #adb5bd;
  display: none;
  cursor: pointer;

  .f-tiptap-page:hover:has([data-node-view-content-react] > div:last-child) &,
  .f-tiptap-float__aside:hover:has([data-node-view-content-react] > div:last-child) &,
  .f-tiptap-float__main:hover:has([data-node-view-content-react] > div:last-child) &,
  .f-tiptap-column:hover:has([data-node-view-content-react] > div:last-child) &,
  .f-tiptap-styled-wrap:hover:has([data-node-view-content-react] > div:last-child) & {
    display: block;
  }
}
