.f-tiptap-paragraph-placeholder {
  margin-top: 0 !important;
  pointer-events: auto;
  z-index: 100;

  &::before {
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 15%,
      var(--f-tiptap-root__background-color) 20%,
      var(--f-tiptap-root__background-color) 100%
    );
    content: "";
    display: block;
    inset: 0;
    opacity: 0.9;
    position: absolute;
    z-index: 1;
  }

  &__div {
    align-items: center;
    color: inherit;
    cursor: pointer;
    display: flex;
    font-size: 0.75rem;
    gap: 0.375rem;
    justify-content: center;
    padding-bottom: var(--f-tiptap-node__margin-top);
    padding-top: var(--f-tiptap-node__margin-top);
    position: relative;
    z-index: 2;
  }

  &__icon {
    flex-shrink: 0;
    height: 0.875rem;
    width: 0.875rem;
  }
}
