.f-tiptap-paragraph-placeholder {
  color: #adb5bd;
  display: none;
  cursor: pointer;

  .f-tiptap-page:hover
    .f-tiptap-page__content:has(
      [data-node-view-content-react] > *:last-child:not(p)
    )
    & {
    display: block;
  }
}
