.ReactModalPortal
  position: relative
  z-index: 2

.ReactModal__Overlay
  display: flex
  align-items: center
  justify-content: center

.ReactModal__Content
  border-radius: $modal-content-border-radius
  box-shadow: $modal-content-box-shadow-xs
  background-color: $modal-content-bg
  border: $modal-content-border-width solid $modal-content-border-color
  outline: 0
  padding: $spacer
