.ReactModalPortal
  position: fixed
  z-index: 1150

.ReactModal__Overlay
  display: flex
  align-items: center
  justify-content: center
  z-index: 1150

.ReactModal__Content
  width: 100%
  max-width: 1100px
  max-height: 100%
  flex: 0 1 auto
  display: flex
  flex-direction: column
  outline: none

  .modal-content
    padding: 0
    flex: 0 1 auto
    overflow: hidden

  .modal-header,
  .modal-footer
    flex: 0 0 auto

  .modal-body
    overflow-y: auto
    flex: 0 1 auto
    max-height: 80vh

    &:last-child
      max-height: calc(100vh - 87px)

      +media-breakpoint-down(md)
        max-height: calc(100vh - 57px)

  .alert-dismissible
    margin-bottom: 0
    border-left: 0
    border-right: 0
    margin-top: -1px

    .close
      padding-left: 1rem
      padding-right: 1rem

.ReactModal--AtomFormSplittable,
.ReactModal--AtomsSplittableJoin
  max-width: 680px
