.folio-react-wrap--notes-fields
  min-height: 50px
  position: relative

  .f-c-simple-form-with-atoms & .folio-loader
    background: $light-gray

.f-c-r-notes-fields-app
  position: relative

  &__header
    display: flex

  &__bottom
    position: relative

  &__header-label
    margin: 0 $grid-gutter-half 0 0

  &__header-buttons
    margin-left: auto

  &__loader
    transition: $transition-base
    opacity: 1

    &--inactive
      pointer-events: none
      opacity: 0

  &-form
    position: relative

    &__textarea
      padding-right: px-to-rem(2 * 28px + 2 * 4px)
      min-height: $input-height

    &__buttons
      position: absolute
      z-index: 2
      top: 0
      right: px-to-rem(4px)
      height: 100%
      display: flex

    &__button
      height: 100%
      width: px-to-rem(28px)
      flex: 0 0 auto
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer

  &-table
    margin-top: $spacer

    &__row
      display: flex
      align-items: center
      border-bottom: 1px solid $border-color
      gap: $grid-gutter-half
      padding: $grid-gutter-width / 4 0

      &--being-editted
        opacity: 0.5
        pointer-events: none

      .f-c-simple-form-with-atoms &
        border-bottom-color: #CACBCB

    &__content
      flex: 1 1 auto
      min-width: 0
      word-break: break-all

    &__checkbox,
    &__action
      flex: 0 0 auto

    &__actions
      display: flex
      align-items: center
      gap: $grid-gutter-width / 4

    &__action
      cursor: pointer
      display: inline-block

    &-due-date
      position: relative

      &__button
        height: 18px
        display: flex
        align-items: center
        justify-content: center

      &__input
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        z-index: 2
        cursor: pointer
