.folio-react-wrap--notes-fields
  min-height: 50px
  position: relative
  margin: $grid-gutter-width 0
  max-width: 745px

.f-c-r-notes-fields-app
  position: relative
  min-height: 50px
  background: $medium-gray
  border-radius: $border-radius
  padding: 16px 24px

  &__header
    display: flex

  &__bottom
    position: relative

  &__header-label
    margin: 0 $grid-gutter-half 0 0
    font-weight: $font-weight-bold

  &__header-buttons
    margin-left: auto
    display: flex
    align-items: center
    gap: $f-c-ui-buttons-gap

  &__button
    +unbutton
    display: flex
    align-items: center
    gap: px-to-rem(4px)
    cursor: pointer

    &:hover
      text-decoration: underline

    .f-ui-icon
      margin-top: -2px

    &--show
      font-size: $font-size-sm

    &--delete
      font-size: $font-size-sm

      &, &:hover
        color: $danger

    &--add
      &, &:hover
        color: $success

  &__loader
    transition: $transition-base
    opacity: 1

    &--inactive
      pointer-events: none
      opacity: 0

  &-form
    position: relative

    &__textarea
      padding-right: px-to-rem(2 * 28px + 2 * 4px)
      min-height: $input-height

    &__buttons
      position: absolute
      z-index: 2
      top: 0
      right: px-to-rem(4px)
      height: 100%
      display: flex

    &__button
      height: 100%
      width: px-to-rem(28px)
      flex: 0 0 auto
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer

  &-table
    margin-top: $spacer
    border-top: 1px solid $gray

    &__row
      display: flex
      align-items: center
      border-bottom: 1px solid $gray
      gap: $grid-gutter-half
      padding: $grid-gutter-width / 4 0

      &--being-editted
        opacity: 0.5
        pointer-events: none

    &__content
      flex: 1 1 auto
      min-width: 0
      word-break: break-all

    &__checkbox,
    &__action
      flex: 0 0 auto

    &__actions
      display: flex
      align-items: center
      gap: $grid-gutter-width / 4
      flex: 0 0 auto

    &__action
      cursor: pointer
      display: inline-block

    &-due-date
      position: relative
      display: flex
      align-items: center

      &__button
        height: 18px
        display: flex
        align-items: center
        justify-content: center

      &__input
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        z-index: 2
        cursor: pointer
