.folio-react-wrap--notes-fields
  min-height: 50px
  position: relative

  .f-c-simple-form-with-atoms & .folio-loader
    background: #f2f2f2

.f-c-r-notes-fields-app
  &__header
    display: flex

  &__header-label
    margin: 0 $grid-gutter-half 0 0

  &__header-buttons
    margin-left: auto

  &-form
    position: relative

    &__textarea
      padding-right: 100px
      min-height: 35px
      padding-top: $input-padding-y + 1
      padding-bottom: $input-padding-y + 1

    &__button
      position: absolute
      top: 50%
      right: 5px
      transform: translate(0, -50%)

  &-table
    margin-top: $spacer

    &__row
      display: flex
      align-items: center
      border-bottom: 1px solid $border-color
      padding: 5px 0

      .f-c-simple-form-with-atoms &
        border-bottom-color: #CACBCB

    &__content
      flex: 1 1 auto
      min-width: 0

    &__checkbox,
    &__action
      flex: 0 0 auto

    &__action
      cursor: pointer
      display: inline-block
      padding: 3px 5px

    &-due-date
      display: flex
      align-items: center
      position: relative

      &__input
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        z-index: 2
        cursor: pointer
