h1 Folio Console UI

h2 Dropdowns

h3 Default

= render(Folio::Console::Ui::DropdownComponent.new(links: @links))

h3 With content

= render(Folio::Console::Ui::DropdownComponent.new(links: @links))
  span Content
