h1: a.f-c-unlink href=console_ui_path Folio Console UI

h2 Dropdowns

h3 Default

= render(Folio::Console::Ui::DropdownComponent.new(links: @links))

h3 With content

= render(Folio::Console::Ui::DropdownComponent.new(links: @links))
  span Content
