h1 Folio Console UI

h2 Modal

h3 Message

== cell('folio/console/ui/button', @button_model)

h3 Message with form

= simple_form_for("", url: request.path, method: :get) do |f|
  = f.input :test_field, input_html: { value: params[:test_field] }

  == cell('folio/console/ui/buttons', @form_button_models)
