.f-c-transportable-dropdown
  &__trigger
    +unbutton

    &:after
      display: none

  &__ico
    width: $input-height
    height: $input-height
    font-size: 22px
    justify-content: flex-end

  .f-c-catalogue &
    margin-left: -10px
    margin-right: -10px
