# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Blog::Topics::TagListCellTest < Cell::TestCase
  test "show" do
    model = create_list(:<%= application_namespace_path %>_blog_topic, 1)
    html = cell("<%= application_namespace_path %>/blog/topics/tag_list", model).(:show)
    assert html.has_css?(".d-blog-topics-tag-list")
  end
end
