RACK_ENV=development

PROJECT_NAME=folio

SECRET_KEY_BASE=development_secret
DRAGONFLY_SECRET=development_secret

S3_SCHEME=https
S3_REGION=eu-west-1
S3_BUCKET_NAME=todo-bucket-name

AWS_ACCESS_KEY_ID=todo-access-key
AWS_SECRET_ACCESS_KEY=todo-secret-key

DIGITAL_DB_USER=username
DIGITAL_DB_PASSWORD=password

SMTP_ADDRESS=localhost
SMTP_DOMAIN=www.example.com
SMTP_USERNAME=username
SMTP_PASSWORD=password
SMTP_PORT=1025

# HOST=www.example.com
# ASSET_HOST=http://example.cloudfront.net

# DEV_S3_DRAGONFLY=1

# DEV_MAILCHIMP=1
MAILCHIMP_API_KEY=todo-api-key
MAILCHIMP_LIST_ID=todo-list-id

# folio-test-app
OMNIAUTH_FACEBOOK_CLIENT_ID=5381529438531957
OMNIAUTH_FACEBOOK_CLIENT_SECRET=e8877bf711ca5d82f8dbef0179688c64
