.f-newsletter-subscriptions-form
	&:not(&--loading) &__loader
		display: none

	&__message
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: none
		align-items: center
		justify-content: center
		flex-direction: column
		z-index: 2
	
	&__form
		position: relative
		z-index: 1

  &__input
    padding-right: calc(#{$input-padding-x} + 110px + #{map-get($spacers, 12)})

	&__btn
		position: absolute
		top: 9px
		right: 17px

	&__group--with-label + &__btn
		top: 36px

  &--submitted &__form
    visibility: hidden

  &--submitted &__message
    display: flex

.btn-input
	padding: 0 8px
	line-height: 21px
	min-height: 24px
