$newsletter-subscriptions-form-input-border-color: rgba(0, 0, 0, 0.15) !default
$newsletter-subscriptions-form-input-padding: 8px 12px 8px 16px !default
$newsletter-subscriptions-form-input-placeholder-color: #8D8D8D !default
$newsletter-subscriptions-form-border-radius: 24px !default
$newsletter-subscriptions-form-btn-padding: 0 8px !default
$newsletter-subscriptions-form-btn-color: #fff !default
$newsletter-subscriptions-form-btn-bg-color: #000 !default
$newsletter-subscriptions-form-btn-bg-color-hover: #696969 !important !default
$newsletter-subscriptions-form-btn-color-dark: #000 !default
$newsletter-subscriptions-form-btn-bg-color-dark: #fff !default
$newsletter-subscriptions-form-btn-bg-color-hover-dark: #fff !default
$newsletter-subscriptions-form-btn-min-height: 24px !default
$newsletter-subscriptions-form-btn-right: 13px !default
$newsletter-subscriptions-form-btn-text-transform: none !default
$newsletter-subscriptions-form-btn-top: 9px !default
$newsletter-subscriptions-form-at-button-top: $newsletter-subscriptions-form-btn-top !default
$newsletter-subscriptions-form-at-button-right: 100px !default
$newsletter-subscriptions-form-at-button-color: $newsletter-subscriptions-form-btn-bg-color !default
$newsletter-subscriptions-form-at-button-color-hover: $newsletter-subscriptions-form-btn-bg-color-hover !default

.f-newsletter-subscriptions-form
  position: relative

  &:not(&--loading) &__loader
    display: none

  &__message
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: none
    justify-content: center
    flex-direction: column
    z-index: 2

  &__form
    position: relative
    z-index: 1

  &__input
    border: 1px solid $newsletter-subscriptions-form-input-border-color
    border-radius: $newsletter-subscriptions-form-border-radius
    padding: $newsletter-subscriptions-form-input-padding
    line-height: 24px

  &__group input::placeholder
    color: $newsletter-subscriptions-form-input-placeholder-color

  &__btn
    position: absolute
    top: $newsletter-subscriptions-form-btn-top
    right: $newsletter-subscriptions-form-btn-right
    line-height: 21px
    min-height: $newsletter-subscriptions-form-btn-min-height
    border: 0
    text-transform: $newsletter-subscriptions-form-btn-text-transform
    padding: $newsletter-subscriptions-form-btn-padding
    color: $newsletter-subscriptions-form-btn-color
    background-color: $newsletter-subscriptions-form-btn-bg-color
    border-radius: $newsletter-subscriptions-form-border-radius

    &:hover, &:focus
      background-color: $newsletter-subscriptions-form-btn-bg-color-hover

    +in-dark-mode
      color: $newsletter-subscriptions-form-btn-color-dark
      background-color: $newsletter-subscriptions-form-btn-bg-color-dark

      &:hover, &:focus
        background-color: $newsletter-subscriptions-form-btn-bg-color-hover-dark

  &__at-button
    position: absolute
    top: $newsletter-subscriptions-form-at-button-top
    right: $newsletter-subscriptions-form-at-button-right
    width: 24px
    height: 24px
    color: $newsletter-subscriptions-form-at-button-color
    cursor: pointer
    transition: color 0.2s ease-in-out

    &:hover, &:focus
      color: $newsletter-subscriptions-form-at-button-color-hover

  &__at-button-svg
    vertical-align: unset

  &--persisted &__form
    visibility: hidden

  &--persisted &__message
    display: flex
