# frozen_string_literal: true

class <%= application_namespace %>::Page::Homepage < Folio::Page
  include Folio::Singleton

  def self.public_rails_path
    :root_path
  end

  def self.atom_settings_from_params(params)
    {}
  end
end
