# frozen_string_literal: true

class <%= application_namespace %>::Atom::Blog::Articles::Index < Folio::Atom::Base
  ATTACHMENTS = %i[]

  STRUCTURE = {}

  ASSOCIATIONS = {}

  VALID_PLACEMENT_TYPES = %w[
    <%= application_namespace %>::Page::Blog::Articles::Index
  ]

  def self.console_insert_row
    3
  end
end
