.f-devise.f-devise--invitations-edit
  == cell('folio/devise/resource_form',
          resource:,
          resource_name:,
          use_password: true,
          lock_email: true,
          form_url: invitation_path(resource_name))
