# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::Images::SingleImageComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::Images::SingleImage, :cover)

    render_inline(<%= application_namespace %>::Atom::Images::SingleImageComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-images-single-image")
  end
end
