unless Cookies?
  console.error("Missing Cookies dependency - add 'js-cookie' to application.js")

$(document).on 'click', '.<%= classname_prefix %>-ui-header-message__close', ->
  $wrap = $(this).closest('.<%= classname_prefix %>-ui-header-message')
  $wrap.slideUp(100)
  Cookies.set('hiddenHeaderMessage', $wrap.data('cookie')) if Cookies?
