.folio-console-index-checkboxes-controls
  margin: 0 0 1rem
  display: none

  .btn
    margin-right: 1ch

.folio-console-index-checkboxes-td
  display: none
  width: 15px
  padding-left: 0

.folio-console-index-checkboxes-on
  .folio-console-index-checkboxes-td
    display: table-cell

  .folio-console-index-checkboxes-controls
    display: block

  .folio-console-index-checkboxes-highlight
    @extend .table-warning

.folio-console-index-checkboxes-toggle
  float: right
