.folio-console-index-checkboxes-controls
  button.btn.btn-outline[
    type="button"
    class="folio-console-index-checkboxes-check-all"
  ]
    = t('.check_all')

  button.btn.btn-outline[
    type="button"
    class="folio-console-index-checkboxes-uncheck-all"
  ]
    = t('.uncheck_all')

  button.btn.btn-success[
    disabled=true
    type="submit"
    class="folio-console-index-checkboxes-submit"
  ]
    = t('.handle_selected')
    span.folio-console-index-checkboxes-submit-count
