.<%= classname_prefix %>-atom.<%= classname_prefix %>-atom-blog-articles-index
  = render(<%= application_namespace %>::Blog::Articles::IndexComponent.new(title: @page.title,
                                                     perex: @page.perex))
