.f-c-r-dropzone
  background: transparent

  > .my-g:last-child
    margin-bottom: 0 !important

  &, .card-body
    transition: $transition-base

  &.dz-drag-hover
    &, .card-body
      background: #d3eaf6

  .f-c-r-modal__scroll-inner &
    padding: $modal-inner-padding
