.folio-console-dropzone-trigger
  background: #e9ecef
  cursor: pointer
  transition: $transition-base

  &:hover
    background: darken(#e9ecef, 5%)

  .fa
    font-size: 26px

    .folio-console-file-table &
      font-size: 20px
      line-height: 45px

  .card .folio-console-file-table-wrap &
    background: none
