.f-c-r-dropzone
  background: $white

  &, .card-body
    transition: $transition-base

  &.dz-drag-hover
    &, .card-body
      background: #d3eaf6

  .f-c-r-modal__scroll-inner &
    padding: $modal-inner-padding
