.folio-console-file-table-wrap
  position: relative
  min-width: 100%

  .modal-body &
    margin: 0 (( - $modal-inner-padding )) (( - $modal-inner-padding ))

  .folio-console-dropzone-trigger
    +unbutton
    background: $table-hover-bg
    width: 100%
    display: block
    text-align: center
    padding: 1rem

.folio-console-file-table
  margin-bottom: 0

  .card-body &
    td
      &:first-child
        border-left: 1px solid $border-color
      &:last-child
        border-right: 1px solid $border-color

.folio-console-file-table__td
  white-space: nowrap

.folio-console-file-table__tr--fresh
  &, .folio-console-file-table__td
    background: #d3eaf6

.folio-console-file-table--hover
  .folio-console-file-table__td
    cursor: pointer

  .folio-console-file-table__tr:hover .folio-console-file-table__td
    background: $table-hover-bg

.folio-console-file-table__td--main
  width: 100%

.folio-console-file-table__td--image
  padding-top: 0
  padding-bottom: 0

.folio-console-file-table__img-wrap
  display: flex
  width: 50px
  height: 50px
  align-items: center
  justify-content: center

.folio-console-file-table__img
  max-width: 50px
  max-height: 50px
  display: block

.folio-console-file-table__img-a
  cursor: zoom-in

+mq-lg-up
  .folio-console-file-table-wrap
    overflow-x: auto

  .folio-console-file-table__tr
    display: table-row

  .folio-console-file-table__td
    display: table-cell
    padding: $table-cell-padding
    vertical-align: middle
    border-top: $table-border-width solid $table-border-color

    .folio-console-file-table__tr:last-child &
      border-bottom: $table-border-width solid $table-border-color

  .folio-console-file-table__tbody
    display: table

  .folio-console-file-table__td--tags
    text-align: right

+mq-md
  .folio-console-file-table__tbody
    margin-top: -0.25rem

  .folio-console-file-table__tr
    display: block
    padding: 0.25rem
    position: relative
    min-height: 50px
    border-bottom: 1px solid $border-color

    .folio-console-file-table-wrap--image &
      padding-left: calc(50px)

  .folio-console-file-table__td
    padding: 0 0 0.25rem 0
    white-space: normal
    word-break: break-all

    .folio-console-file-table-wrap--image &
      padding-left: calc(50px)

  .folio-console-file-table__td--image
    width: 0
    height: 0
    display: block
    padding: 0

    .folio-console-file-table__img-a
      display: flex
      width: 50px
      height: 50px
      align-items: center
      justify-content: center
      position: absolute
      top: 50%
      left: 0
      padding-left: 0
      transform: translate(0, -50%)

  .folio-console-file-table__td--size
    display: inline-block

    &:after
      content: ' / '
      display: inline

  .folio-console-file-table__td--extension
    display: inline-block

    &, .folio-console-file-table-wrap--image &
      padding-left: 0

  .folio-console-file-table__td--tags
    line-height: 15px
    margin-left: -0.2rem
