.folio-console-file-table
  .folio-console-dropzone-trigger-td
    padding: 0

  .folio-console-dropzone-trigger
    +unbutton
    background: #e9ecef
    width: 100%
    display: block
    text-align: center

    .fa
      font-size: 20px
      line-height: 44px

.folio-console-file-table__td
  white-space: nowrap

.folio-console-file-table__td--first
  width: 100%
