.f-c-r-file-filter-wrap
  background: $medium-gray

  .modal-body &
    margin-top: -1 * $modal-header-padding-y
    margin-bottom: $modal-header-padding-y
    margin-left: - 1 * $modal-inner-padding
    margin-right: - 1 * $modal-inner-padding
    padding-top: $modal-header-padding-y
    padding-bottom: $modal-header-padding-y
    padding-left: $modal-inner-padding
    padding-right: $modal-inner-padding
