.folio-console-file-table-wrap
  position: relative
  overflow-x: auto

  .modal-body &
    margin-left: -7.5px
    margin-right: -7.5px
    margin-bottom: - $modal-inner-padding

.folio-console-file-table
  margin-bottom: 0

  .card-body &
    td
      &:first-child
        border-left: 1px solid $border-color
      &:last-child
        border-right: 1px solid $border-color

  .folio-console-dropzone-trigger-td
    padding: 0

  .folio-console-dropzone-trigger
    +unbutton
    background: $table-hover-bg
    width: 100%
    display: block
    text-align: center

.folio-console-file-table__td
  white-space: nowrap

  .table-hover &
    cursor: pointer

  .folio-console-file-table__tr--fresh &
    background: rgba($cyan, 0.1)

.folio-console-file-table__td--main
  width: 100%

.folio-console-file-table__td--image
  padding-top: 0
  padding-bottom: 0

.folio-console-file-table__img-wrap
  display: flex
  width: 50px
  height: 50px
  align-items: center
  justify-content: center

.folio-console-file-table__img
  max-width: 50px
  max-height: 50px
  display: block

.folio-console-file-table__img-a
  cursor: zoom-in
