.folio-console-file-list
  display: flex
  flex-wrap: wrap
  margin: - $grid-gutter-half

.folio-console-file-list__file,
.folio-console-file-list__dropzone-trigger
  flex: 0 0 150px
  width: 150px
  margin: $grid-gutter-half
  position: relative

.folio-console-file-list__img-wrap,
.folio-console-file-list__dropzone-trigger
  display: flex
  width: 150px
  height: 150px
  align-items: center
  justify-content: center
  background: #e9ecef

.folio-console-file-list__img
  display: block
  max-width: 100%
  max-height: 100%
