.folio-console-file-list
  display: flex
  flex-wrap: wrap
  margin: - $grid-gutter-half / 2

  .modal-body &
    margin-left: 0

.folio-console-file-list__file,
.folio-console-file-list__dropzone-trigger
  flex: 0 0 150px
  width: 150px
  margin: $grid-gutter-half / 2
  position: relative

.folio-console-file-list__img-wrap,
.folio-console-file-list__dropzone-trigger
  display: flex
  width: 150px
  height: 150px
  align-items: center
  justify-content: center
  background: #e9ecef

.folio-console-file-list__img
  display: block
  max-width: 100%
  max-height: 100%

.folio-console-file-list__file-hover
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2
  opacity: 0
  transition: $transition-base
  background: rgba($white, 0.66)
  cursor: pointer
  font-size: $hover-fa-font-size
  display: flex
  align-items: center
  justify-content: center

  .fa-times-circle
    color: $danger

  .fa-check-circle
    color: $primary

  .fa-arrow-circle-up
    color: $success

  .folio-console-file-list__file:hover &
    opacity: 1
