.f-c-menus-form__form
  padding: 0 5px
  flex-wrap: nowrap

.f-c-menus-form__form-item
  padding: 10px
  position: relative
  display: flex
  align-items: center
  min-height: 60px
  gap: $grid-gutter-width / 3

  .form-control
    width: 200px

  .react-select-container
    width: 265px
    font-weight: $font-weight-normal

  &--style-red
    background: rgba($red, 0.15)

  &--style-green
    background: rgba($green, 0.15)

  &--style-blue
    background: rgba($blue, 0.15)

  &--style-yellow
    background: rgba($yellow, 0.15)

  &--style-gray
    background: rgba($gray-400, 0.15)
