.f-c-menus-form__form
  padding: 0 15px

.f-c-menus-form__form-item
  padding: 10px 15px
  position: relative
  display: flex
  align-items: center
  min-height: 60px

  &--style-red
    background: rgba($red, 0.15)

  &--style-green
    background: rgba($green, 0.15)

  &--style-blue
    background: rgba($blue, 0.15)

  &--style-yellow
    background: rgba($yellow, 0.15)

  &--style-gray
    background: rgba($gray-400, 0.15)
