.cc-window
  font-size: $font-size-sm
  padding: 5px $grid-gutter-half
  width: 100%
  text-align: center

.cc-invisible
  display: none

.cc-compliance, .cc-link
  display: inline-block
  margin-left: 10px

.cc-btn
  padding: 3px 10px
  text-decoration: none
  margin-left: 5px
  cursor: pointer

.cc-bottom
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  min-width: 320px
  z-index: 999

@media screen and (max-width: breakpoint-max(xs))
  .cc-compliance, .cc-link
    margin-top: 5px
    margin-bottom: 2px
