.bundle/
.byebug_history
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/public/sitemaps
test/dummy/public/sitemap.*
test/dummy/.env
test/dummy/public/system/dragonfly
test/dummy/public/assets
test/dummy/vendor/assets/redactor/*.css
test/dummy/vendor/assets/redactor/*.js

/react/src/ducks/files.js
/test/dummy/node_modules/

/vendor/assets/bower_components/material-design-icons/*
!/vendor/assets/bower_components/material-design-icons/font
/vendor/assets/bower_components/material-design-icons/font/*
!/vendor/assets/bower_components/material-design-icons/font/MaterialIcons-Regular.ttf

node_modules/*
!node_modules/mersenne-twister
node_modules/mersenne-twister/*
!node_modules/mersenne-twister/src
node_modules/mersenne-twister/src/*
!node_modules/mersenne-twister/src/mersenne-twister.js

!node_modules/folio-bootstrap-5
node_modules/folio-bootstrap-5/*
!node_modules/folio-bootstrap-5/scss
!node_modules/folio-bootstrap-5/js
node_modules/folio-bootstrap-5/js/*
!node_modules/folio-bootstrap-5/js/dist
!node_modules/folio-bootstrap-5/dist
node_modules/folio-bootstrap-5/dist/*
!node_modules/folio-bootstrap-5/dist/js
node_modules/folio-bootstrap-5/dist/js/*
!node_modules/folio-bootstrap-5/dist/js/bootstrap.min.js

!node_modules/@popperjs/
node_modules/@popperjs/core/*
!node_modules/@popperjs/core/dist
node_modules/@popperjs/core/dist/*
!node_modules/@popperjs/core/dist/umd
node_modules/@popperjs/core/dist/umd/*
!node_modules/@popperjs/core/dist/umd/popper.min.js
log
