.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/public/sitemap.*
test/dummy/.env
test/dummy/public/system/dragonfly
test/dummy/vendor/assets/redactor/*.css
test/dummy/vendor/assets/redactor/*.js

/vendor/assets/bower_components/jquery/
