.f-c-folio-attributes-fields
  border-top: 1px solid $border-color
  border-bottom: 1px solid $border-color
  margin: $grid-gutter-width 0
  padding: $grid-gutter-width 0

  &--character-counter &__value-inputs-by-type[data-data-type="string"]
    padding-bottom: 3 * $grid-gutter-base
