# frozen_string_literal: true

# If You add custom rules here, make sure to also add them to `object.currently_available_actions` method!
Folio::Ability.class_eval do
  def ability_rules
    folio_rules
    sidekiq_rules
    <%= application_namespace_path %>_rules
  end

  def <%= application_namespace_path %>_rules
  end
end
