div[
  class=bem_class_name
]
  video.<%= classname_prefix %>-ui-video__video[
    autoplay=true
    muted=true
    preload=true
    loop=true
    playsinline=true
  ]
    source[
      src=@video.file.remote_url
      type=@video.file_mime_type
    ]

  *spacer_tag
