.<%= classname_prefix %>-ui-video
  overflow: hidden
  position: relative
  width: 100%
  display: flex

  &--cover
    height: 100%
    width: 100%
    position: absolute
    inset: 0
    object-fit: cover

  &__spacer
    width: 100%

  &__video
    z-index: 10
    width: 100%

  &--cover &__video,
  &--aspect-ratio  &__video
    position: absolute
    inset: 0
    height: 100%
    width: 100%
    object-fit: cover
