.f-c-ui-clear-button data=data
  = render(Folio::Console::Ui::ButtonComponent.new(class_name: "f-c-ui-index-filters__clear-button",
                                                  variant: :mini,
                                                  icon: :close,
                                                  icon_height: 16,
                                                  data: stimulus_action(click: "onClick")))
