.f-c-ui-clear-button
  = render(Folio::Console::Ui::ButtonComponent.new(class_name: "f-c-ui-index-filters__clear-button",
                                                  variant: :mini,
                                                  icon: :close,
                                                  icon_height: 16,
                                                  data: { action: "click->f-c-ui-index-filters#onClearButtonClick" }))
