.f-c-ui-dropdown
  .dropdown-menu
    --#{$prefix}dropdown-min-width: 95px

  &__trigger
    cursor: pointer

  &__trigger--without-content
    display: inline-block
    width: 24px
    height: 24px

    &::after
      display: none
