.f-c-ui-input-with-buttons
  --f-c-ui-input-with-buttons__padding-right: 36px

  position: relative

  &__input
    position: relative
    z-index: 1

  &__input .form-group
    margin: 0

  &__input .form-control
    padding-right: var(--f-c-ui-input-with-buttons__padding-right)

  &--2
    --f-c-ui-input-with-buttons__padding-right: #{2 * 36px}

  &__button
    align-items: center
    display: flex
    height: $input-height
    justify-content: center
    position: absolute
    right: 0
    top: 0
    width: $input-height
    z-index: 2

    .btn-sm
      --#{$prefix}btn-padding-y: 0
      min-height: 20px
      min-width: 24px

    &--1
      right: $input-height
