.f-c-ui-input-clipboard-copy
  margin: 0
  position: relative

  &__input
    position: relative
    z-index: 1
    padding-right: 5 * $grid-gutter-base

  &__copy
    position: absolute
    z-index: 2
    top: 0
    width: $input-height
    height: $input-height
    right: 0
    display: flex
    align-items: center
    justify-content: center
    padding-right: $grid-gutter-base / 2
