.f-c-ui-tabs
  &__count
    margin-left: $grid-gutter-base
    border-radius: $border-radius-pill
    background-color: $red
    color: $white
    display: inline-flex
    align-items: center
    justify-content: center
    line-height: 1
    padding: $grid-gutter-base
    height: px-to-rem(24px)
    min-width: px-to-rem(24px)
    font-size: $font-size-sm
