# frozen_string_literal: true

require "test_helper"

class <%= global_namespace %>::Molecule::HeroCellTest < Cell::TestCase
  test "show" do
    atoms = Array.new(2) do
      create_atom(<%= global_namespace %>::Atom::Hero, :title)
    end

    html = cell(atoms.first.class.molecule_cell_name, atoms).(:show)
    assert_equal 2, html.find_all(".<%= classname_prefix %>-atom-hero__atom").size
  end
end
