= render_folio_cache
  = render(<%= application_namespace %>::Ui::HeroComponent.new(title: @topic.to_label,
                                        perex: @topic.perex,
                                        breadcrumbs: @breadcrumbs_on_rails,
                                        show_divider: true,
                                        href: true))
  = render(<%= application_namespace %>::Blog::Articles::IndexComponent.new(topic: @topic,
                                                     articles_scope: @topic.articles))
