.folio-console-autocomplete-input-menu
  z-index: 1251

  .dropdown-item.ui-state-active
    +gradient-bg($dropdown-link-hover-bg)
    color: $dropdown-link-hover-color
    text-decoration: none

.folio-console-autocomplete-input-menu-item
  display: block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  cursor: pointer

.f-c-content-templates-dropdown
  display: flex
  align-items: flex-end

  label
    flex: 1 1 auto

  &__menu
    max-height: 50vh
    overflow-y: auto
    flex: 0

  &__toggle
    cursor: pointer
    flex: 0 0 auto
    margin-bottom: 0.5 * $spacer

  &__item
    white-space: normal
