.folio-console-autocomplete-input-menu
  z-index: 1251

  .dropdown-item.ui-state-active
    +gradient-bg($dropdown-link-hover-bg)
    color: $dropdown-link-hover-color
    text-decoration: none

.folio-console-autocomplete-input-menu-item
  display: block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  cursor: pointer

.f-c-content-templates-dropdown
  &__menu
    max-height: 50vh
    overflow-y: auto

  &__toggle
    cursor: pointer

  &__item
    white-space: normal
