.f-c-index-header
  h1.f-c-index-header__h1
    = @klass.model_name.human(count: 2)

= catalogue(@content_template_classes)
  ruby:
    edit_url = Proc.new do |rec|
      controller.edit_console_content_templates_path(type: rec.to_s)
    end

    attribute(:title) { record.model_name.human(count: 2) }
    attribute(:count) { record.count }
    actions(edit: edit_url)
