.form-group[
  class='folio-console-react-file-select'
  class=(options[:multi] ? 'folio-console-multi' : 'folio-console-single')
  class=(exists ? 'folio-console-has-nested' : nil)
  class=(form_errors ? 'text-danger has-danger' : nil)
  data-cocoon-single-nested=(options[:multi] ? nil : true)
]
  label
    = title

  .folio-console-nested-fields-with-files[
    data-placement-type=key
    data-has-one=(has_one? ? 'true' : nil)
  ]
    = render_fields

  button.btn.btn-success[
    type="button"
    class="folio-console-add-#{self.class::BASE}"
  ]
    = t('.add')

  - if form_errors
    small.form-text == form_errors.join(' <br> ')
