ul.nav.nav-tabs
  - [:node, :atoms, :gallery, :documents].each_with_index do |key, i|
    li.nav-item
      a.nav-link[
        data-toggle="tab"
        href="#tab-#{key}"
        class=(key == :gallery ? 'active' : nil)
      ]
        = t(".#{key}")
