# frozen_string_literal: true

class <%= application_namespace %>::Page::Blog::Articles::Index < Folio::Page
  include Folio::PerSiteSingleton

  def self.public_rails_path
    :<%= application_namespace_path %>_blog_articles_path
  end

  def self.atoms_settings_skip_label_and_perex?
    true
  end
end
