# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::MiniSelectComponentTest < Folio::ComponentTest
  def test_render
    render_inline(<%= application_namespace %>::Ui::MiniSelectComponent.new(type: :currency))

    assert_select(".<%= classname_prefix %>-ui-mini-select")
  end
end
