.f-input-embed-inner
  align-items: stretch
  background: $medium-gray
  border-radius: 4px
  display: flex
  flex-direction: column
  gap: px-to-rem(16px)
  padding: px-to-rem(24px)
  position: relative

  .form-group
    margin: 0

  &__html-label--html,
  &__url-wrap
    display: none
