.f-c-reports-index
  &__form
    display: flex
    flex-wrap: wrap
    gap: $grid-gutter-width / 2

  &__h1
    margin: 0
    flex: 1 1 auto

  &__header-controls
    display: flex
    flex-wrap: wrap
    gap: $grid-gutter-width / 3

  &__header-group-by-wrap
    width: 90px
    margin: 0

  &__header-date-wrap
    width: 215px
    margin: 0
