# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::ButtonsComponentTest < ViewComponent::TestCase
  def test_render
    buttons = [
      { label: "hello" },
      { label: "world" },
    ]

    render_inline(<%= application_namespace %>::Ui::ButtonsComponent.new(buttons:))

    assert_selector(".<%= classname_prefix %>-ui-buttons")
    assert_selector(".<%= classname_prefix %>-ui-button", count: 2)
  end
end
