.f-mailer
  &__wrap
    width: 600px - $grid-gutter-width
    margin-left: auto
    margin-right: auto
    margin: 1.5 * $spacer auto

    table
      width: 100% !important

  &__wrap-td
    background: $white
    padding: 1.5 * $spacer $grid-gutter-half
    border: 1px solid #e2dfdf
    border-radius: 3px

  &__logo-wrap
    font-size: $font-size-lg
    text-align: left
    margin-bottom: 1.5 * $spacer

  &__logo
    display: block
    text-transform: uppercase

  &__logo-img
    display: block
    border: 0

  &__footer
    margin-top: 1.5 * $spacer

  &__footer-td
    border-top: 1px solid #e2dfdf
    padding-top: 1.5 * $spacer
