.f-tiptap-node {
  position: relative;

  &__html {
    pointer-events: none;
  }

  &__loader-wrap {
    position: relative;
    height: 150px;
    background: rgba(0, 0, 0, .5);
  }

  &__hover-controls {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    right: calc(-1 * var(--f-tiptap-editor-content-wrap--padding-x));
    top: 0;
    visibility: hidden;
    width: var(--f-tiptap-editor-content-wrap--padding-x);
  }

  &__hover-controls:hover,
  &:hover &__hover-controls {
    visibility: visible;
  }
}
