# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::DocumentsComponentTest < Folio::ComponentTest
  def test_render
    document_placements = create_list(:folio_file_placement_document, 1)

    render_inline(<%= application_namespace %>::Ui::DocumentsComponent.new(document_placements:))

    assert_selector(".<%= classname_prefix %>-ui-documents")
  end
end
