# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::DocumentsCellTest < Cell::TestCase
  test "show" do
    document_placements = create_list(:folio_document_placement, 1)
    html = cell("<%= application_namespace_path %>/ui/documents", document_placements).(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-documents")

    html = cell("<%= application_namespace_path %>/ui/documents", document_placements, title: "foo").(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-documents")
  end
end
