.f-input-content-templates-dropdown
  display: flex
  align-items: flex-end

  label
    flex: 1 1 auto

  &__menu
    max-height: 33vh
    overflow-y: auto
    flex: 0

  &__toggle
    cursor: pointer
    flex: 0 0 auto
    margin-bottom: 0.5 * $spacer

  &__item
    white-space: normal

  &__header
    text-decoration: none
    color: $text-muted
    text-transform: uppercase

    &:hover
      text-decoration: none
      color: $text-muted

  &__header-ico
    visibility: hidden

  &__header:hover &__header-ico
    visibility: visible

  &__header:hover &__header-text
    text-decoration: underline
