.f-input-tiptap
  // $input-border-width: 1px !default
  // $input-border-color: #cccccc !default

  &__inner
    position: relative

  &__iframe
    border: 0
    min-height: 191px
    width: 100%

  // &__loader
  //   border: $input-border-width solid $input-border-color
  //   border-radius: $input-border-radius
  //   inset: $input-border-width

  &[data-f-input-tiptap-loaded-value="true"] &__loader
    display: none

  &[data-f-input-tiptap-loaded-value="false"] &__iframe
    visibility: hidden
