# frozen_string_literal: true

class <%= application_namespace %>::Site < Folio::Site
  def self.console_sidebar_before_menu_links
    if defined?(<%= application_namespace %>::Blog)
      %w[
        <%= application_namespace %>::Blog::Article
        <%= application_namespace %>::Blog::Author
        <%= application_namespace %>::Blog::Topic
      ]
    end
  end
end
