.f-devise
  &__loader
    display: none

  &__submit-wrap
    margin-top: 2 * $spacer

  &__submit-btn
    padding-left: 2.5 * $spacer
    padding-right: 2.5 * $spacer

  &__under-submit-links
    margin-top: $spacer / 2

  &__under-submit-link
    font-size: $font-size-sm

  &__bottom-button-wrap
    margin-top: 2 * $spacer

@import '../../../cells/folio/devise/**/*'
