@import 'photoswipe'
@import 'photoswipe-dynamic-caption-plugin'

$folio-lightbox-caption-font-size: 13px !default
$folio-lightbox-caption-line-height: 18px !default
$folio-lightbox-caption-author-color: $text-muted !default
$folio-lightbox-caption-author-margin-top: 8px !default

.f-pswp__caption
  font-size: $folio-lightbox-caption-font-size
  line-height: $folio-lightbox-caption-line-height

.f-pswp__caption-author
  color: $folio-lightbox-caption-author-color

.f-pswp__caption-caption + .f-pswp__caption-author
  margin-top: $folio-lightbox-caption-author-margin-top

.pswp__dynamic-caption--below
  max-width: 100%
