$folio-loader-background: rgba(255, 255, 255, 0.8) !default
$folio-loader-foreground: black !default

@keyframes load8
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

.folio-loader
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $folio-loader-background

  &:before,
  &:after
    content: ''
    border-radius: 50%
    width: 3em
    height: 3em
    display: block

  &:before
    margin: -1.5em
    font-size: 10px
    text-indent: -9999em
    border-top: 0.45em solid rgba($folio-loader-foreground, .2)
    border-right: 0.45em solid rgba($folio-loader-foreground, .2)
    border-bottom: 0.45em solid rgba($folio-loader-foreground, .2)
    border-left: 0.45em solid $folio-loader-foreground
    transform: translateZ(0)
    animation: load8 1.1s infinite linear
    position: absolute
    top: 50%
    left: 50%

  &.folio-loader-small
    &:before, &:after
      width: 2.2em
      height: 2.2em

    &:before
      margin: -1.1em

  &.folio-loader-transparent
    background-color: transparent
