.f-togglable-fields
  position: relative

  &__label
    padding-left: $form-check-input-gutter
    margin-bottom: $spacer

  &__input
    position: absolute
    margin-top: $form-check-input-margin-y

  &__content
    display: none

  &__input:checked ~ &__content
    display: block
