=unbutton
  border: 0
  background: transparent
  padding: 0
  -webkit-appearance: none
  cursor: pointer

  &, &:hover, &:focus
    outline: 0
    box-shadow: none

=unlist
  margin-bottom: 0
  padding-left: 0

  > li
    list-style: none
