@import 'photoswipe/photoswipe'
@import 'photoswipe/default-skin/default-skin'

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before
  background-image: asset-url('photoswipe/default-skin.png')

.pswp__button--arrow--left,
.pswp__button--arrow--right
  background-image: none

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx)
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before
    background-image: asset-url('photoswipe/default-skin.svg')

  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right
    background-image: none
