@import 'font-awesome/scss/fontawesome'
@import 'folio/console/variables'
@import 'folio-bootstrap/scss/functions'
@import 'folio-bootstrap/scss/variables'
@import 'folio-bootstrap/scss/mixins'
@import 'folio/console/plugin-overrides/font-awesome'
@import 'folio/console/modules/font-awesome'
@import 'folio/utilities'

.f-c-atom-previews
  padding: 10px (( 10px + 40px + 10px )) 10px 10px

  &__atom
    position: relative

    > *
      position: relative
      z-index: 2

    &:first-child > :first-child
      margin-top: 0

    &:last-child > :first-child
      margin-bottom: 0

  &__controls
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
    z-index: 1
    border: 2px dashed rgba(#589E92, 0.79)
    visibility: hidden

    .f-c-atom-previews__buttons
      position: absolute
      top: -2px
      left: 100%
      bottom: 0
      display: flex
      flex-direction: column
      width: 40px

    .f-c-atom-previews__button
      +unbutton
      flex: 0 0 40px
      width: 40px
      height: 40px
      min-width: 40px
      padding: 0
      display: inline-flex
      align-items: center
      justify-content: center
      border: 1px solid #BFC4C4
      font-size: 14px

      &--edit
        +button-variant($secondary, $secondary)

      &--arrow
        +button-variant($white, $white)
        +plain-hover-focus
          border-color: #BFC4C4

      &--remove
        +button-variant($danger, $danger)

  &__atom:hover &__controls
    visibility: visible
