// TODO bootstrap5
$light-gray: #F5F5F5 !default

.f-c-report-area-chart
  background: $light-gray
  border-radius: $border-radius
  display: flex
  flex-direction: column
  width: 360px
  max-width: 100%

  &__top
    flex: 0 0 auto
    padding: $grid-gutter-width

  &__bottom
    flex: 0 0 auto
    margin-top: auto

  &__title
    font-size: 14px
    line-height: 16.8px
    margin: 0

  &__text,
  &__missing-data
    margin-top: $grid-gutter-width / 2

    &:first-child
      margin-top: 0

  &__missing-data
    color: $danger
    flex: 1 1 auto
    display: flex
    align-items: center

  &__last-value
    color: $black
    font-size: 24px
    line-height: 28.8px
    margin-top: $grid-gutter-width / 2

    &:first-child
      margin-top: 0

  &__text + &__last-value
    margin: 4px 0 0

  &__trend
    font-size: 18px
    line-height: 21.6px
    margin: 4px 0 0

  +media-breakpoint-down(xs)
    width: 100%
