# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Blog::ArticlesControllerTest < ActionDispatch::IntegrationTest
  include Devise::Test::IntegrationHelpers

  def setup
    create_and_host_site
  end

  test "index" do
    get url_for(<%= application_namespace %>::Blog::Article)
    assert_response :ok

    create(:<%= application_namespace_path %>_blog_article)
    get url_for(<%= application_namespace %>::Blog::Article)
    assert_response :ok
  end

  test "show" do
    article = create(:<%= application_namespace_path %>_blog_article)
    get url_for(article)
    assert_response :ok

    article.update!(published: false)

    assert_raises(ActiveRecord::RecordNotFound) { get url_for(article) }

    get url_for([article, Folio::Publishable::PREVIEW_PARAM_NAME => article.preview_token])
    assert_response(:ok)
  end
end
