# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Blog::CategoriesControllerTest < ActionDispatch::IntegrationTest
  # test "the truth" do
  #   assert true
  # end
end
