meta charset="utf-8"
meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"

title Sinfin Folio Console

meta[
  name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1"
]

= stylesheet_link_tag 'folio/console/base', media: 'all'

= csrf_meta_tags
