javascript:
  window.Folio = window.Folio || {};
  window.Folio.Ui = window.Folio.Ui || {};
  window.Folio.Ui.Icon = window.Folio.Ui.Icon || {};
  window.Folio.Ui.Icon.svgSpritePath = "#{image_path('folio_svg_sprite.svg')}";
  window.Folio.Ui.Icon.defaultSizes = #{js_default_sizes};
