# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::UserAvatarComponentTest < Folio::ComponentTest
  def test_render
    render_inline(<%= application_namespace %>::Ui::UserAvatarComponent.new)

    assert_selector(".<%= classname_prefix %>-ui-user-avatar")
  end
end
