.f-c-tiptap-overlay-form-layout
  &__row
    display: flex
    flex-direction: column
    gap: $spacer
    align-items: stretch

  &__col
    flex: 0 0 auto

  @container f-c-tiptap-overlay-form (min-width: #{$f-c-tiptap-overlay-form__container-breakpoint})
    &__row
      display: flex
      flex-direction: row
      gap: 0 $grid-gutter-width

    &__col
      flex: 0 1 auto
      min-width: 0

      & + &,
      &:only-child
        flex-grow: 1
