.f-c-tiptap-overlay-form-nested-nodes
  border: 1px solid $border-color
  border-radius: $border-radius
  padding: $spacer

  &__header
    display: flex
    align-items: center
    justify-content: space-between
    gap: $spacer
    margin-bottom: $spacer

  &__label
    margin: 0
    font-size: $font-size-base
    font-weight: $font-weight-bold

  &__items
    display: flex
    flex-direction: column
    gap: $spacer

  &__item
    border: 1px solid $border-color
    border-radius: $border-radius
    padding: $spacer

  &__item-header
    display: flex
    align-items: center
    justify-content: space-between
    gap: $spacer
    margin-bottom: $spacer

  &__item-title
    margin: 0
    font-size: $font-size-base
    font-weight: $font-weight-bold

  &__item-buttons
    display: flex
    flex: 0 0 auto
    gap: $spacer * .25

  &__item-button
    flex: 0 0 auto
