.f-c-tiptap-overlay-form-nested-nodes
  border: 1px solid $border-color
  border-radius: $border-radius
  padding: $spacer

  .form-group--with-character-counter + &
    margin-top: 2.5 * $spacer

  &__header
    display: flex
    align-items: center
    justify-content: space-between
    gap: $spacer
    margin-bottom: $spacer

  &__label
    margin: 0
    font-size: $font-size-base
    font-weight: $font-weight-bold

  &__item
    border: 1px solid $border-color
    border-radius: $border-radius
    padding: $spacer

  &__item-header
    display: flex
    align-items: center
    justify-content: space-between
    gap: $spacer
    margin-bottom: $spacer

  &__item-title
    margin: 0
    font-size: $font-size-base
    font-weight: $font-weight-bold
