= render(Folio::Console::Ui::ModalComponent.new(title:,
                                                class_name: "#{CLASS_NAME} f-c-r-modal--with-scroll-wrap",
                                                size: :react,
                                                data: { klass: @class_name }))
  .folio-react-wrap data=data
