.f-tiptap-invalid-node-indicator {
  --f-tiptap-codeblock__border-color: rgba(0, 0, 0, .05);
  --f-tiptap-codeblock__background-color: rgba(255, 255, 255, .25);

  background: #ff9f9f;
  border-radius: var(--f-tiptap-code__border-radius);
  padding: 1rem;

  &__title {
    display: flex;
    align-items: center;
    gap: 0.5ch;
    color: inherit;
    margin: 0 0 1rem !important;
  }

  &__hint {
    margin: 1rem 0 !important;
  }

  &__pre {
    margin: 1rem 0 0 !important;
  }
}
