.f-c-layout-header
  background: #e9ecef
  position: relative

  .breadcrumb
    border-radius: 0
    margin: 0 $grid-gutter-width 0 0
    background: transparent

.f-c-layout-header__inner
  display: flex
  align-items: stretch

.f-c-layout-header__sign-out-link
  margin-left: auto
  display: flex
  align-items: center

  +plain-hover-focus
    color: inherit

.f-c-layout-header__toggle
  +unbutton
  background: $gray-800
  color: $white
  width: 50px
  height: 100%
  position: absolute
  top: 0
  left: 0
  font-size: 16px
  line-height: 35px
  cursor: pointer
  flex: 0 0 35px
  margin-right: $spacer

+mq-desktop-menu
  .f-c-layout-header__toggle
    display: none

  .f-c-layout-header
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1)
    border-bottom: 1px solid #d0d0d0

+mq-mobile-menu
  .f-c-layout-header
    padding-left: 50px

  .f-c-layout-header__sign-out-link__label
    display: none

  .f-c-with-icon.f-c-layout-header__sign-out-link
    width: 35px
    justify-content: flex-end

    .fa.f-c-layout-header__sign-out-link-icon
      margin: 0

  .f-c-layout-header
    .breadcrumb-item
      display: none
      padding: 0

      &:last-child,
      &:nth-last-child(2)
        &:not(.active):not(:first-child)
          display: block

          &:before
            content: ''
            font-family: 'Font Awesome 5 Free'
            font-weight: 900
            font-size: $font-size-sm
            margin-right: 4px
            position: relative
            top: -1px

      &.active:last-child:nth-child(2)
        display: block

        &:before
          display: none
