.<%= classname_prefix %>-atoms
  .<%= classname_prefix %>-atom:first-child,
  .<%= classname_prefix %>-molecule:first-child
    margin-top: 0 !important

  .<%= classname_prefix %>-atom:last-child,
  .<%= classname_prefix %>-molecule:last-child
    margin-bottom: 0 !important

  .f-ui-atoms &
    padding-top: $grid-gutter-width
    padding-bottom: $grid-gutter-width
