.folio-console-single-image-select
  .form-group
    margin-bottom: 0

  .form-control
    display: none

.folio-console-single-image-select-image
  position: relative
  width: 150px
  height: 150px
  align-items: center
  justify-content: center
  background: $gray-200
  display: none

  img
    max-width: 100%
    max-height: 100%

.folio-console-single-image-select
  &.folio-console-has-image
    .form-control
      display: none

    .folio-console-single-image-select-image
      display: flex

    .folio-console-single-image-select-button
      display: none
