# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::TextAroundVideoComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::TextAroundVideo, :video_cover, :content)

    render_inline(<%= application_namespace %>::Atom::TextAroundVideoComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-text-around-video")
  end
end
