.f-tiptap__drag-handle-content {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  padding-right: 1rem;
}

.f-tiptap__drag-handle-button,
.f-tiptap__drag-handle-dropdown-button {
  cursor: pointer;
}

.f-tiptap__drag-handle-dropdown-button.tiptap-button {
  justify-content: flex-start;
  gap: 0.5rem;
}
