.f-file-list-file
  $accent-orange: #FF9A52 !default
  $border-radius: 4px !default
  $f-file-list-file-item-size: 168px !default
  $gray-600: #3B4548 !default
  $overlays-black-100: rgba(0, 0, 0, 0.08) !default

  background-color: $overlays-black-100
  border-radius: $border-radius
  overflow: hidden
  position: relative

  &__image-wrap
    z-index: 1
    position: relative
    aspect-ratio: 1 / 1
    display: flex
    align-items: center
    justify-content: center

  &__image-wrap-bg
    position: absolute
    inset: 0
    z-index: 1
    background: $overlays-black-100
    opacity: 0.75

  &__image
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto
    flex: 0 1 auto
    position: relative
    z-index: 2

  &__control
    position: absolute
    z-index: 3
    width: 3 * $grid-gutter-base
    height: 3 * $grid-gutter-base
    background-color: #000000
    color: #ffffff
    border: 0
    appearance: none
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: $transition-base
    opacity: 0

    &--edit
      bottom: 0
      right: 0

    &--destroy
      background-color: $danger
      top: 0
      right: 0

  &:hover &__control
    opacity: 1

  &:hover &__control:hover
    opacity: 0.75

  &:hover &__control--disabled,
  &:hover &__control--disabled:hover
    opacity: 0.5
    cursor: not-allowed

  &__primary-overlay
    position: absolute
    z-index: 2
    inset: 0
    cursor: pointer

  &--destroying
    pointer-events: none
    opacity: 0.5

  &__count,
  &__source
    align-items: center
    background: $gray-600
    border-radius: 12px
    color: #ffffff
    display: inline-block
    font-size: 12px
    justify-content: center
    line-height: 24px
    max-width: 100%
    min-width: 24px
    overflow: hidden
    padding: 0 8px
    pointer-events: none
    text-align: center
    text-overflow: ellipsis
    white-space: nowrap

  &__count-wrap,
  &__source-wrap
    position: absolute
    z-index: 1
    left: 0
    right: 0
    text-align: center
    padding: 0 10px
    height: 24px

  &__count-wrap
    top: 6px

  &__source-wrap
    bottom: 9px

  &__warning
    bottom: 0
    cursor: help
    height: 24px + 2 * 8px
    left: 0
    padding: 8px
    position: absolute
    width: 24px + 2 * 8px
    z-index: 3
    color: $accent-orange
