.f-file-list-file
  $border-radius: 4px !default
  $overlays-black-100: rgba(0, 0, 0, 0.08) !default
  $f-file-list-file-item-size: 168px !default

  background-color: $overlays-black-100
  border-radius: $border-radius
  overflow: hidden
  position: relative

  &__image-wrap
    z-index: 1
    position: relative
    aspect-ratio: 1 / 1
    display: flex
    align-items: center
    justify-content: center

  &__image-wrap-bg
    position: absolute
    inset: 0
    z-index: 1
    background: $overlays-black-100
    opacity: 0.75

  &__image
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto
    flex: 0 1 auto
    position: relative
    z-index: 2

  &__control
    position: absolute
    z-index: 3
    width: 3 * $grid-gutter-base
    height: 3 * $grid-gutter-base
    background-color: #000000
    color: #ffffff
    border: 0
    appearance: none
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: $transition-base
    opacity: 0

    &--edit
      bottom: 0
      right: 0

    &--destroy
      background-color: $danger
      top: 0
      right: 0

  &:hover &__control
    opacity: 1

  &:hover &__control:hover
    opacity: 0.75

  &:hover &__control--disabled,
  &:hover &__control--disabled:hover
    opacity: 0.5
    cursor: not-allowed

  &__primary-overlay
    position: absolute
    z-index: 2
    inset: 0
    cursor: pointer

  &--destroying
    pointer-events: none
    opacity: 0.5
