.f-file-list-loader
  $overlays-black-300: rgba(0, 0, 0, 0.24) !default
  z-index: 4
  position: absolute
  inset: 0
  display: block

  &--light
    --folio-loader-background: transparent
    --folio-loader-foreground: rgb(255, 255, 255)
    --folio-loader-foreground-transparent: rgba(255, 255, 255, 0.2)

    background-color: $overlays-black-300
