.f-devise-omniauth-icon
  width: 24px
  height: 24px
  display: flex
  align-items: center
  justify-content: center

  &__svg
    height: 24px
    width: auto
    flex: 0 0 auto

  &__svg--google_oauth2
    height: 22px

  &--color.f-devise-omniauth-icon--facebook
    color: #4267B2

  &--color.f-devise-omniauth-icon--twitter2
    color: #1da1f2

  &--color.f-devise-omniauth-icon--google_oauth2
    color: #ea4335

  &--color.f-devise-omniauth-icon--apple
    color: $black
