<%- if has_atoms? -%>
= simple_form_for_with_atoms(@<%= instance_variable_name %>,
                             url: main_app.url_for(<%= form_url_for_array_string %>)) do |f|
<%- else -%>
= simple_form_for(@<%= instance_variable_name %>,
                  url: main_app.url_for(<%= form_url_for_array_string %>)) do |f|
<%- end -%>
  = render 'form', f: f
