.d-ui-article-meta
  display: flex

  &__tags
    display: flex
    flex-wrap: wrap
    margin: -3px

  &__tag
    margin: 3px
    position: relative
    z-index: 3

  &__published
    flex: 0 0 auto
    line-height: 24px

  &__tags + &__published
    margin-left: $grid-gutter-half
