# frozen_string_literal: true

require "folio/sitemap_generator"

# for single site configuration

SitemapGenerator::Sitemap.default_host = "http://#{Folio.instance.domain}"
SitemapGenerator::Sitemap.sitemaps_path = "sitemaps"

SitemapGenerator::Sitemap.create do
  default_url_options[:only_path] = true

  includes_image_sitemap_scope(Folio::Page).published.find_each do |page|
    next unless page.class.public?

    add(
      page_path(page),
      changefreq: "monthly",
      priority: 0.5,
      images: page.image_sitemap
    )
  end
end

# for multiple site configuration
#
# Folio::Site.all.each do |site|
#   I18n.locale = site.locale
#
#   SitemapGenerator::Sitemap.default_host = "http://#{site.domain}"
#   SitemapGenerator::Sitemap.sitemaps_path = "sitemaps/#{site.domain}"
#
#   SitemapGenerator::Sitemap.create do
#     default_url_options[:only_path] = true
#
#     includes_image_sitemap_scope(site.pages).published.find_each do |page|
#       next unless page.class.public?
#
#       add(
#         page_path(page),
#         changefreq: "monthly",
#         priority: 0.5,
#         images: page.image_sitemap
#       )
#     end
#   end
# end
