# frozen_string_literal: true

require "rubygems"
require "sitemap_generator"
require "aws-sdk-s3"

SitemapGenerator::Sitemap.default_host = "https://#{Folio::Site.instance.domain}"
SitemapGenerator::Sitemap.sitemaps_path = "sitemaps/"

unless Rails.env.development?
  SitemapGenerator::Sitemap.public_path = "tmp/"
  SitemapGenerator::Sitemap.adapter = SitemapGenerator::AwsSdkAdapter.new(
    ENV["S3_BUCKET_NAME"],
    aws_access_key_id: ENV["AWS_ACCESS_KEY_ID"],
    aws_secret_access_key: ENV["AWS_SECRET_ACCESS_KEY"],
    aws_region: ENV["S3_REGION"]
  )
end

SitemapGenerator::Sitemap.create do
  Folio::Page.published.find_each do |page|
    I18n.with_locale(page.locale || I18n.locale) do
      add(
        page_path(page),
        lastmod: page.updated_at,
        changefreq: "monthly",
        priority: 0.5,
        images: page.image_sitemap
      )
    end
  end
end
