.d-ui-header-message
  background: $yellow

  &__inner
    padding: 0.945rem (( 60px + $grid-gutter-half )) 0.945rem 0
    position: relative

  &__close
    +unbutton
    position: absolute
    top: 0
    bottom: 0
    right: 0
    color: inherit
    width: 60px
    display: flex
    justify-content: flex-end
    align-items: center
