.f-c-users-header-actions
  a.btn.btn-outline-secondary[
    href=url_for([:impersonate, :console, model])
    target="_blank"
  ]
    = t('.login')

  a.btn.btn-outline-secondary.ml-h[
    href=url_for([:send_reset_password_email, :console, model])
    data-confirm=t('folio.console.confirmation')
  ]
    = t('.reset_password')
