.<%= classname_prefix %>-atom.<%= classname_prefix %>-atom-image
  .container-fluid.<%= classname_prefix %>-rich-text
    figure
      = image(model.cover_placement,
              THUMB_SIZE,
              lightbox: true)

      - if model.title.present?
        figcaption
          = cstypo model.title
