.f-c-links-control-bar
  min-height: 44px

  &__bar
    padding: $grid-gutter-base / 2 0 $grid-gutter-base / 2 $grid-gutter-base
    border-radius: $border-radius
    background: $medium-gray
    min-height: 44px
