.f-c-links-control-bar data=data
  .f-c-links-control-bar__bar[
    data=stimulus_target("bar")
    hidden=@url_json[:href].blank?
  ]
    - if @url_json.present?
      = render(Folio::Console::Links::ValueComponent.new(url_json: @url_json,
                                                         json: @json))

  .f-c-links-control-bar__button-wrap[
    data=stimulus_target("buttonWrap")
    hidden=@url_json[:href].present?
  ]
    = render(Folio::Console::Ui::ButtonComponent.new(variant: :success,
                                                     label: t('.add_link'),
                                                     icon: :link,
                                                     disabled: @disabled_button,
                                                     data: stimulus_action(click: "onAddClick")))
