.f-c-links-modal
  --#{$prefix}modal-width: 960px

  &__form-wrap
    min-height: 181px

  &[data-f-c-links-modal-json-value="true"] &__form-wrap
    min-height: 396px

  &[data-f-c-links-modal-json-value="true"][data-f-c-links-modal-disable-label-value="true"] &__form-wrap
    min-height: 319px

  &[data-f-c-links-modal-loading-value="false"] &__loader
    display: none
