.f-c-links-value
  display: flex
  align-items: center
  gap: $grid-gutter-width
  padding: $grid-gutter-base / 2 0

  &__badges
    display: flex
    align-items: center
    gap: $grid-gutter-base / 2

  &__a
    flex: 0 1 auto
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  &__published-at
    flex: 0 0 auto

  &__actions
    flex: 0 0 auto
    margin-top: - $grid-gutter-base
    margin-bottom: - $grid-gutter-base
    margin-left: auto
    display: flex
    align-items: center

  &__action
    +unbutton
    display: flex
    align-items: center
    justify-content: center
    width: 36px
    height: 44px
    transition: $transition-base

    &:hover
      opacity: $f-c-btn-hover-opacity

    &--close
      padding-right: $grid-gutter-base / 2

      &, &:hover
        color: $danger
