#redactor-modal-box
  display: flex
  align-items: center
  justify-content: center

#redactor-modal
  width: 100vw !important
  max-width: 1000px
  margin: 0 !important

  #redactor-modal-body
    overflow: hidden

  .redactor-modal-tab
    height: 75vh !important

  .redactor-modal-bootstrap
    @import 'bootstrap'
    @import 'bootstrap-overrides'
