#redactor-modal
  display: flex
  align-items: center
  justify-content: center

.redactor-modal
  width: 100vw !important
  max-width: 970px !important
  margin: 0 !important
  left: auto !important
  top: auto !important

  .redactor-modal-body
    overflow: hidden

  .redactor-modal-tab
    height: 75vh !important

  .redactor-modal-bootstrap
    @import 'folio-bootstrap/scss/bootstrap'
    @import 'bootstrap-overrides'

.redactor-styles img
  max-height: 300px

.redactor-focus.redactor-styles-on,
.redactor-focus:focus.redactor-styles-on
  box-shadow: $input-focus-box-shadow
  border-color: $input-focus-border-color

.redactor-styles
  .folio-redactor-button
    display: inline-block

    a
      @extend .btn
      @extend .btn-primary
