$fieldset-margin: 3rem
$nav-tabs-margin: 1.5rem

$alert-border-radius: 0

// Color system
//
$blue:    #2194D2 !default
$indigo:  #7028B3 !default
$purple:  #5D2482 !default
$pink:    #EE6CA4 !default
$red:     #DC3545 !default
$orange:  #F1655D !default
$yellow:  #FACD35 !default
$green:   #589E92 !default
$teal:    #95C6B3 !default
$cyan:    #3FB6C7 !default
$white:   #ffffff !default

$gray-50: #F9F9F9
$gray-100: #F2F2F2
$gray-200: #E2E2E2
$gray-300: #DEE2E6 !default
$gray-500: #A7A7A7 !default
$gray-800: #343A40

$primary: $purple
$light: #AAADAD
$danger: $orange
$info: #BFC4C4
$dark: $gray-800
$input-placeholder-color: $info
$aside-bg: #f8f9fa

$body-color: #212529
$body-bg: $white
$text-muted: $gray-500
$text-semi-muted: #495057

$enable-validation-icons: false

$link-color: $blue

// Components
//
// Define common padding and border radius sizes and more.
$border-radius:               .15rem !default
$border-radius-lg:            .25rem !default
$border-radius-sm:            .15rem !default

// Fonts
//
$font-size-base: 0.875rem
$font-size-tiny: 0.6rem

// Buttons
//
$btn-border-radius: 0
$btn-border-radius-lg: 0
$btn-border-radius-sm: 0

$spacer: 1rem
$card-spacer-x: $spacer
$card-spacer-y: $spacer

// Modals
//
$modal-lg: 1025px

// Tables
$table-border-color: $gray-200
$table-accent-bg: $gray-100

// Breadcrumbs
$breadcrumb-padding-y: 0.438rem
$breadcrumb-padding-x: 0
$breadcrumb-item-padding: .5rem
$breadcrumb-margin-bottom: 0

$breadcrumb-bg: transparent
$breadcrumb-divider-color: #5a5d61
$breadcrumb-active-color: #5a5d61
$breadcrumb-divider: "/"

// Forms
$form-text-margin-top: 0.5rem

// Spacers
$grid-gutter-width: 30px
$spacers: ( g: $grid-gutter-width, h: $grid-gutter-width / 2 )

// Navs
$nav-link-disabled-color: $gray-300
$nav-tabs-border-color: $body-color
$nav-tabs-border-width: 1px
$nav-tabs-border-radius: 0
$nav-tabs-link-hover-border-color: rgba($gray-300, 0.5)
$nav-tabs-link-active-color: $body-color
$nav-tabs-link-active-bg: $body-bg
$nav-tabs-link-active-border-color: transparent transparent $body-color

// Custom
//
$fa-font-size-base: 1em
$fa-font-path: 'font-awesome/webfonts'

$grid-breakpoints: ( xxl: 1550px )
$container-max-widths: ( xxl: 1550px )

$card-border-radius: 0

$footer-height: 65px
$footer-height-xxl: 95px
