$grid-gutter-width: px-to-rem(24px)
$grid-gutter-half: $grid-gutter-width / 2

$gray-600: #6c757d

$white: #FFFFFF
$black: #000000
$dark-gray: #3B4548
$gray-medium-dark: #6F7172
$gray: #C9CBCC
$light-gray: #F5F5F5
$medium-gray: #E8E8E8
$blue: #4C84FD
$orange: #FF9A52
$green-bright: #31EB92
$green: #00B594
$yellow: #F1CA45
$red: #F0655D
$violet: #5D2382
$copper: #C1852C
$gold: #D3AF51

$primary: $blue
$secondary: $gray-600

$green-background: #C7EBE4
$red-background: #F4DEDD
$blue-background: #E4F0FC

$f-c-state-colors-default: $gray
$f-c-state-colors: ( red: $red, green: $green, yellow: $yellow, dark: $dark-gray, secondary: $secondary, purple: $violet, orange: $orange )

$font-size-base: to-rem(14)
$font-size-sm: to-rem(12)
$font-size-lg: to-rem(16)
