@import 'folio/console/variables'
@import 'folio/console/custom-bootstrap'
@import 'folio/console/post-bootstrap-variables'
@import 'eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker'
@import 'selectize-bootstrap-4-style/src/selectize/selectize.bootstrap4'
@import 'balloon.css/balloon'
@import 'font-awesome/scss/fontawesome'
@import 'multiselect/css/multi-select'
@import 'spectrum/spectrum'
@import 'material_icons'
@import 'daterangepicker'

=material-icon-style
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  display: inline-block
  width: 1em
  height: 1em
  line-height: 1
  text-transform: none
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'

$grid-gutter-half: $grid-gutter-width / 2

@import '../utilities'
@import 'bootstrap-overrides'
@import 'plugin-overrides'

@import 'redactor'
@import 'redactor-overrides'
@import 'cells'

@import '../loader'
@import '../animations/pulsing'
@import 'modules/font-awesome'
@import 'modules/layout'
@import 'modules/with-aside'
@import 'modules/devise'
@import 'modules/simple-form'
@import 'modules/simple-form-with-atoms'
@import 'modules/flags'
@import 'modules/nested-fields-with-files'
@import 'modules/react-image-select'
@import 'modules/show-for'
@import 'modules/smart-row'
@import 'modules/thumbnail'
@import 'modules/lightbox'
@import 'modules/with-icon'
@import 'modules/togglable-fields'
@import 'modules/react/modal'
@import 'modules/reacty/dropzone-trigger'
@import 'modules/reacty/file-thumbnail-list'
@import 'modules/reacty/file-table-list'
@import 'modules/reacty/file-placement-list'
@import 'modules/reacty/file-upload-progress'
@import 'modules/reacty/pretty-tags'

@import 'modules/simple_form_inputs/date_time_input'
@import 'modules/simple_form_inputs/string_input'
@import 'modules/simple_form_inputs/character_counter_input'

@import 'folio/lightbox'
@import 'folio/console/main_app'
