@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "redactor";
@import "dropzone/dropzone";
@import "nodes";

body{
  margin-top: 50px;
}

.select-file {
  cursor: pointer;
}

.dropzone {
  border: 0;

a.inactive{
  color: grey;
  border-bottom: 1px dotted grey;
}
