@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "redactor";
@import "dropzone/dropzone";

body{
  margin-top: 50px;
}

.select-file {
  cursor: pointer;
}

.dropzone {
  border: 0;
}
