- if model[:items].present?
  ol.folio-console-menu-items-structure[
    class=(model[:root] ? 'folio-console-menu-items-structure--root' : nil)
    data-update-url=model[:url]
    data-id=model[:menu].id
    data-success=(model[:root] ? t('.success') : nil)
    data-error=(model[:root] ? t('.error', msg: 'MESSAGE') : nil)
    data-max-nesting-depth=model[:menu].class.max_nesting_depth
  ]
    - model[:items].each do |item|
      == cell('folio/console/menu_tree', { \
                menu: model[:menu], \
                item: item, \
                items: item.children.ordered, \
                url: model[:url], \
             })
