# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Blog::Articles::IndexCellTest < Cell::TestCase
  test "show" do
    model = create_list(:<%= application_namespace_path %>_blog_article, 4)
    html = cell("<%= application_namespace_path %>/blog/articles/index", [model[0]]).(:show)
    assert html.has_css?(".<%= classname_prefix %>-blog-articles-index")

    html = cell("<%= application_namespace_path %>/blog/articles/index", model[0..1]).(:show)
    assert html.has_css?(".<%= classname_prefix %>-blog-articles-index")

    html = cell("<%= application_namespace_path %>/blog/articles/index", model).(:show)
    assert html.has_css?(".<%= classname_prefix %>-blog-articles-index")
  end
end
