# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Blog::Articles::ShowHeaderCellTest < Cell::TestCase
  test "show" do
    model = create(:<%= application_namespace_path %>_blog_article)
    html = cell("<%= application_namespace_path %>/blog/articles/show_header", model).(:show)
    assert html.has_css?(".d-blog-articles-show-header")
  end
end
