.<%= classname_prefix %>-blog-topics-tag-list.mt-a.mb-3
  .container-fluid
    .<%= classname_prefix %>-blog-topics-tag-list__inner.d-flex
      span.flex-shrink-0.me-h
        = t('.topics')

      ul.m-n1.d-flex.flex-wrap.flex-grow-1.flex-shrink-1
        - model.each do |topic|
          li.m-1
            a.btn.btn-tag href=url_for(topic)
              = topic.to_label
