.folio-console-form-footer
  margin-top: $grid-gutter-half 0 (( - $grid-gutter-half ))
  padding: $grid-gutter-half 0
  background: rgba(255, 255, 255, .75)
  position: sticky
  bottom: 0
  z-index: 999
