# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::HomeControllerTest < ActionDispatch::IntegrationTest
  include Devise::Test::IntegrationHelpers

  setup do
    create_and_host_site
    Rails.application.routes.default_url_options[:locale] = @site.locale
  end

  test "show" do
    I18n.with_locale(@site.locale) do
      page = create(:folio_page,
                    site: @site,
                    locale: @site.locale,
                    title: "test page")

      get url_for(page)
      assert_response(:ok)
      assert_select("h1", "test page")

      page.update!(published: false)

      assert_raises(ActiveRecord::RecordNotFound) do
        get url_for(page)
      end

      sign_in create(:folio_user, :superadmin)

      get url_for(page)
      assert_response(:ok)
      assert_select("h1", "test page")
    end
  end
end
