# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::Images::SingleComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::Images::Single, :cover)

    render_inline(<%= application_namespace %>::Atom::Images::SingleComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-images-single")
  end
end
