.f-c-catalogue-date
  &--alert &__flex
    display: inline-flex
    color: $danger
    background: $light-gray
    border-radius: $border-radius
    padding: 2px 5px
    align-items: center

  &__ico
    flex: 0 0 auto
    margin-left: 2px

  &__content
    flex: 1 1 100%
    min-width: 0
