.f-c-url-redirects-fields
  &__demo-loader-wrap
    height: 100px
    position: relative

  &[data-f-c-url-redirects-fields-demo-loading-value="false"] &__demo-loader-wrap,
  &[data-f-c-url-redirects-fields-demo-loading-value="true"] &__demo-wrap
    display: none

  +media-breakpoint-up(md)
    &__row
      display: flex
      gap: $grid-gutter-width

    &__arrow
      flex: 0 0 auto
      padding-top: $grid-gutter-half + px-to-rem(7px)

    &__url
      flex: 1 1 auto

    &__checkbox
      flex: 0 0 250px
      padding-top: 25px
      box-sizing: content-box
      height: $input-height
      display: flex
      align-items: center

      .form-group,
      .form-check
        margin: 0

  +media-breakpoint-down(md)
    &__row--to
      position: relative
      padding-left: px-to-rem(36px) + $grid-gutter-half
      min-height: 36px + 19px

    &__arrow
      position: absolute
      top: 19px
      left: 0
