.f-c-url-redirects-fields
  +media-breakpoint-up(md)
    &__row
      display: flex
      gap: $grid-gutter-width

    &__arrow
      flex: 0 0 auto
      padding-top: $grid-gutter-half

    &__url
      flex: 1 1 auto

    &__checkbox
      flex: 0 0 200px
      padding-top: 25px
      box-sizing: content-box
      height: $input-height
      display: flex
      align-items: center

      .form-group,
      .form-check
        margin: 0
