.f-c-private-attachments-fields
  &__dropzone-col
    width: (( 75px + 2 * $grid-gutter-half ))
    flex: 0 0 (( 75px + 2 * $grid-gutter-half ))

  &__dropzone
    width: 75px
    height: 75px
    position: relative

  &__dropzone-loader
    background: transparent
