.f-c-merges-form
  display: flex
  flex-direction: column
  flex: 1 0 auto
  min-height: 100%

  &__rows
    flex: 1 0 auto

  &__title-with-icon
    position: relative
    padding-left: $grid-gutter-half

  &__title-icon
    position: absolute
    left: -20px
