.<%= classname_prefix %>-atom-documents
  &__inner
    column-gap: 0

    +media-breakpoint-up(sm)
      column-count: 2
      column-gap: $grid-gutter-width

    +media-breakpoint-up(lg)
      column-count: 3

  &__atom
    break-inside: avoid
