.<%= classname_prefix %>-atom.<%= classname_prefix %>-atom-documents.mb-a
  .container-fluid
    ul.<%= classname_prefix %>-atom-documents__inner.mb-n4
      - model.each do |atom|
        li.<%= classname_prefix %>-atom-documents__atom.mb-4.pb-2
          == cell('<%= global_namespace_path %>/ui/documents',
                  atom.document_placements,
                  title: atom.title)
