$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .btn
    +mailer-font-size-sm
    display: inline-block
    border-radius: $btn-border-radius
    cursor: pointer
    background-color: $primary-black
    color: $primary-white !important
    font-weight: $font-weight-semibold
    padding: 0 16px
    text-align: center
    text-decoration: none
    text-underline-color: $primary-black
    box-sizing: border-box
    text-transform: uppercase
    margin: 0
    height: 40px
    line-height: 40px

  .folio-redactor-button
    margin: 8px 0 8px 0 !important

  p + .folio-redactor-button
    margin-top: 20px !important
