@media (prefers-color-scheme: dark )
  // show dark Mode-Only image
  .dark-img
    display: block !important

  // hide Light Mode-Only image
  .light-img
    display: none !important

  h1, h2, span, div
    color: $primary-white !important

  p, p.font-size-lg, p.font-size-sm
    color: $cloud-200 !important

  a
    color: $blue !important

  hr
    border-top: 1px solid $cloud-600 !important

  .d-mailer-order-summary__order-subtitle,
  .d-mailer-order-summary__total-price,
  .d-mailer-cards-lot__event-type,
  .d-mailer-cards-lot__description-row
    color: $cloud-200 !important

  .d-mailer-order-summary__unit-price,
  .d-mailer-order-summary__count,
  .d-mailer-order-summary__id-prefix,
  .d-mailer-order-summary__id,
  .d-mailer-cards-lot__auction-date,
  .d-mailer-cards-lot__limiting-end
    color: $cloud-500 !important

  .d-mailer-cards-lot__event-name,
  .d-mailer-cards-lot__auction-date-label,
  .d-mailer-cards-lot__limiting-end-label
    color: $cloud-400 !important

  .d-mailer-layout__main-wrapper,
  .d-mailer-header
    background-color: $primary-black !important

  .d-mailer-cards-medium__inner,
  .d-mailer-order-summary__order-wrapper,
  .d-mailer-cards-lot__inner,
  .d-mailer-layout__footer
    background-color: $cloud-800 !important

  .d-mailer-cards-lot__price,
  .d-mailer-cards-lot__currency
    color: $mailer-brand-200 !important

  .d-mailer-footer-menu__menu-wrapper
    border-top-color: $cloud-700 !important

  .d-mailer-footer-menu__menu-link
    color: $cloud-300 !important

  .d-mailer-footer__legal-wrapper
    border-top-color: $cloud-500 !important
  
  .btn-primary,
  .folio-redactor-button > .btn-redactor
    color: $primary-black !important
    background-color: $primary-white !important
    border-color: $primary-white !important

  .custom-btn:hover,
  .custom-btn:focus
    background-color: $cloud-200 !important
    text-underline-color: $cloud-200 !important

  .custom-btn--secondary:hover,
  .custom-btn--secondary:focus
    background-color: $cloud-900 !important
    text-underline-color: $cloud-900 !important

  .custom-btn.custom-btn--secondary
    border: 2px solid $primary-white !important
    background: transparent !important
    color: $primary-white !important