$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .col-full
    max-width: 100% !important

  +mailer-media-breakpoint-up($mailer-breakpoint-mobile)
    .card-col-sm
      max-width: 37.6% !important

    .card-col-lg
      max-width: 62.4% !important

    .lot-col-sm
      max-width: 39.5% !important

    .lot-col-lg
      max-width: 60.5% !important

  +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
    .card-col-sm
      max-width: 42% !important

    .card-col-lg
      max-width: 58% !important

    .lot-col-sm
      max-width: 40% !important

    .lot-col-lg
      max-width: 60% !important

  +mailer-media-breakpoint-down(sm)
    .card-col-lg, .lot-col-lg,
    .card-col-sm, .lot-col-sm
      max-width: 100% !important
