$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .col-full
    max-width: 100% !important
    
  @media screen and (max-width: 530px)
    .col-lg
      max-width: 100% !important

  @media screen and (min-width: 531px)
    .col-sm
      max-width: 37% !important

    .col-lg
      max-width: 63% !important
