$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .col-full
    max-width: 100% !important

  +mailer-media-breakpoint-up($mailer-breakpoint-mobile)
    .card-col-sm
      max-width: 37.6% !important

    .card-col-lg
      max-width: 62.4% !important

    .xs-card-even-col
      max-width: 51.85% !important

    .xs-card-odd-col
      max-width: 48.15% !important

    .lot-col-sm
      max-width: 41.7% !important

    .lot-col-lg
      max-width: 58.3% !important

  +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
    .card-col-lg, .lot-col-lg,
    .card-col-sm, .lot-col-sm,
    .xs-card-even-col, .xs-card-odd-col
      max-width: 100% !important
