$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  // Overrides for additional blue links
  .d-mailer-body a
    color: inherit
    text-decoration: none
    font-size: inherit
    font-family: inherit
    font-weight: inherit
    line-height: inherit

  // Outlook overrides
  