$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-footer-menu__menu-link:hover,
  .d-mailer-footer-menu__menu-link:focus
    text-decoration: underline !important

  .custom-btn:hover,
  .custom-btn:focus
    background-color: $cloud-500 !important
    text-underline-color: $cloud-500 !important

  .custom-btn--secondary:hover,
  .custom-btn--secondary:focus
    background-color: $cloud-200 !important
    text-underline-color: $cloud-200 !important