$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  body
    background-color: $primary-white
    margin: 0
    padding: 0
    word-spacing: normal

  table
    border-collapse: collapse
    border-spacing: 0
    border: 0

  img
    max-width: 100%
    display: block
    height: auto

  ul
    +unlist
