$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-layout__content
    p
      +mailer-font-size-text-m
      margin: 0 0 12px 0
      color: $cloud-700

    p.font-size-lg
      +mailer-font-size-text-l

    p.font-size-sm
      +mailer-font-size-text-s

    a
      color: $blue
      text-decoration: none
      font-weight: $font-weight-semibold

    hr
      border-top: 1px solid $cloud-300
      border-bottom: 0
      margin: 32px 0 32px 0
      padding: 0

    p + hr
      margin-top: 44px

    .d-mailer-cards-extra-small-container + hr
      margin: 8px 0 32px 0
