@import 'mixins/type'

$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  html
    font-family: $mailer-font-family-base
    -webkit-font-smoothing: antialiased
    font-size: 100%

  body
    font-size: $font-size-base

    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
      font-size: $font-size-base-s

  h1, .h1
    +mailer-font-h1
    display: block
    margin: 0

  h2, .h2
    +mailer-font-h2
    display: block
    margin: 0 0 8px 0

  h3, .h3
    +mailer-font-h3
    display: block
    margin: 12px 0 12px 0

    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
      margin: 8px 0 8px 0

  h4, .h4
    +mailer-font-h4
    display: block
    margin: 8px 0 8px 0

    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
     margin: 8px 0 8px 0

  h5, .h5,
  h6, .h6
    +mailer-font-h5
    display: block
    margin: 8px 0 8px 0

    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
      margin: 4px 0 4px 0
