$mailer-breakpoints: (xs: 0, sm: 360px, md: 420px, lg: 744px)
$mailer-breakpoint-mobile: sm

$mailer-font-family-base: $font-family-sans-serif

$mailer-font-size-base: 16px

$mailer-ui-typo-display-2xl-font-size: 64px
$mailer-ui-typo-display-xl-font-size: 56px
$mailer-ui-typo-display-l-font-size: 48px
$mailer-ui-typo-display-m-font-size: 36px
$mailer-ui-typo-display-s-font-size: 24px
$mailer-ui-typo-display-xs-font-size: 18px
$mailer-ui-typo-display-2xs-font-size: 16px
$mailer-ui-typo-display-3xs-font-size: 14px

$mailer-ui-typo-text-3xl-font-size: 32px
$mailer-ui-typo-text-2xl-font-size: 24px
$mailer-ui-typo-text-xl-font-size: 20px
$mailer-ui-typo-text-l-font-size: 18px
$mailer-ui-typo-text-m-font-size: 16px
$mailer-ui-typo-text-s-font-size: 14px
$mailer-ui-typo-text-xs-font-size: 12px