$mailer-breakpoints: (xs: 0, sm: 360px, md: 420px, lg: 744px)
$mailer-breakpoint-mobile: md

$mailer-font-family-base: $font-family-sans-serif

$mailer-font-size-base: 16px

$mailer-gap-a: 4px
$mailer-gap-b: 8px
$mailer-gap-c: 12px
$mailer-gap-d: 16px
$mailer-gap-e: 20px
$mailer-gap-f: 24px
$mailer-gap-g: 32px
$mailer-gap-h: 40px
$mailer-gap-i: 48px
$mailer-gap-j: 56px
$mailer-gap-k: 64px

$mailer-ui-typo-display-m-font-size: 36px
$mailer-ui-typo-display-s-font-size: 24px
$mailer-ui-typo-display-xs-font-size: 18px
$mailer-ui-typo-display-2xs-font-size: 16px
$mailer-ui-typo-display-3xs-font-size: 14px

$mailer-ui-typo-text-xl-font-size: 20px
$mailer-ui-typo-text-l-font-size: 18px
$mailer-ui-typo-text-m-font-size: 16px
$mailer-ui-typo-text-s-font-size: 14px
$mailer-ui-typo-text-xs-font-size: 12px

$mailer-brand-200: $purple-300
// color variables to prevent to color conversion
$mailer-secure-primary-white: #fffffe
$mailer-secure-primary-black: #000001

$mailer-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.15)

$mailer-border-radius: 12px
$mailer-border-radius-sm: 8px
$mailer-btn-border-radius: 24px