.f-c-file-placements-multi-picker-fields-placement
  --f-c-file-placements-multi-picker-fields-placement__spacer: #{px-to-rem(16px)}

  background: $medium-gray
  border-radius: $border-radius
  padding: var(--f-c-file-placements-multi-picker-fields-placement__spacer)

  .form-group
    margin: 0

  &__flex
    display: flex
    gap: var(--f-c-file-placements-multi-picker-fields-placement__spacer)

  &__picker
    flex: 0 0 auto

  &__fields
    align-items: stretch
    display: flex
    flex-direction: column
    flex: 1 1 auto
    gap: var(--f-c-file-placements-multi-picker-fields-placement__spacer)
