# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::BreadcrumbsComponentTest < Folio::ComponentTest
  def test_render
    render_inline(<%= application_namespace %>::Ui::BreadcrumbsComponent.new(breadcrumbs: nil))
    assert_no_selector(".<%= classname_prefix %>-ui-breadcrumbs")

    crumbs = [
      OpenStruct.new(path: "/foo", name: "foo", options: {}),
      OpenStruct.new(path: "/bar", name: "bar", options: {}),
    ]

    render_inline(<%= application_namespace %>::Ui::BreadcrumbsComponent.new(breadcrumbs: crumbs))
    assert_selector(".<%= classname_prefix %>-ui-breadcrumbs")
  end
end
