# frozen_string_literal: true

class <%= application_namespace %>::Atom::Images::GridGalleryComponent < ApplicationComponent
  THUMB_SIZE = "276x276#"

  def initialize(atom:, atom_options: {})
    @atom = atom
    @atom_options = atom_options
  end

  def image_placements
    if @atom.persisted?
      @atom.image_placements.includes(:file)
    else
      @atom.image_placements
    end
  end
end
