# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::Images::GridGalleryComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::Images::GridGallery, :images)

    render_inline(<%= application_namespace %>::Atom::Images::GridGalleryComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-images-grid-gallery")
  end
end
