.folio-console-index-header
  padding-top: 10px
  padding-bottom: 10px

.folio-console-index-header-right
  display: flex

  form
    flex: 1 1 auto

  .btn-success
    margin-left: $grid-gutter-width
    flex: 0 0 auto

.folio-console-index-header-csv
  margin-right: 1ch

  .fa
    margin-right: 1ch
