.f-c-index-header
  margin: 0 0 2 * $spacer
  position: relative

  &__btn
    margin-left: $grid-gutter-half

  &__new-dropdown
    margin-left: $grid-gutter-half

    .dropdown-toggle:after
      display: none

  &__pagy
    margin: $spacer 0

    .f-c-pagination
      margin: 0
      padding: 0

  +mq-desktop-menu
    display: flex
    align-items: center

    &__h1
      margin: 0 $grid-gutter-half 0 0
      flex: 2 1 auto
      min-width: 0
      width: 50%

    &__btn
      flex: 0 0 auto

    &__form
      flex: 3 1 auto
      min-width: 0
      max-width: 600px
      width: 50%

  +mq-mobile-menu
    &__h1
      margin: 0 120px $spacer 0

    &__btn--new
      position: absolute
      top: 5px
      right: 0
