.f-c-index-header
  margin: 0 0 2 * $spacer
  position: relative
  display: flex
  gap: $grid-gutter-half
  align-items: center
  flex-wrap: wrap

  &__btn
    margin-left: $grid-gutter-half

  &__new-dropdown
    margin-left: $grid-gutter-half

    .dropdown-toggle:after
      display: none

  &__pagy
    margin: $spacer 0

    .f-c-pagination
      margin: 0
      padding: 0

  &__h1
    margin: 0 auto 0 0

  +mq-desktop-menu
    &__h1
      flex: 2 1 auto

    &__btn
      flex: 0 0 auto

    &__form
      flex: 3 1 auto
      min-width: 0
      max-width: 320px
      width: 50%

  +mq-mobile-menu
    &__btn--new
      position: absolute
      top: 5px
      right: 0
