# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Molecule::Cards::ImageComponentTest < Folio::ComponentTest
  def test_render
    atoms = [create_atom(<%= application_namespace %>::Atom::Cards::Image, :title, :url, :cover)]

    render_inline(<%= application_namespace %>::Molecule::Cards::ImageComponent.new(atoms:))

    assert_selector(".<%= classname_prefix %>-molecule-cards-image")
  end
end
