- if f.object.id
  button[
    type="button"
    class=destroy_button_class_name
  ]
    = destroy_label
  = f.hidden_field :_destroy,
                   value: 0,
                   class: 'f-c-nested-model-controls__destroy-input'

- else
  button[
    type="button"
    class=destroy_button_class_name
    data-remove="1"
  ]
    = destroy_label
