.f-c-nested-model-controls-form-group
  &--no-margin
    margin-bottom: 0

  &--vertical
    display: flex
    flex-direction: column
    margin-bottom: 0

    .f-c-nested-model-destroy-button
      margin-top: 10px
