# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::TabsCellTest < Cell::TestCase
  test "show" do
    html = cell("<%= application_namespace_path %>/ui/tabs", nil).(:show)
    assert_not html.has_css?(".<%= classname_prefix %>-ui-tabs")

    model = [
      { href: "#", active: true, label: "Current tab" },
      { href: "#", label: "Another tab" },
      { href: "#", label: "Another tab" },
    ]

    html = cell("<%= application_namespace_path %>/ui/tabs", model).(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-tabs")
  end
end
