= render(Dummy::Blog::Articles::IndexComponent.new(articles: @articles,
                                                   pagy: @pagy,
                                                   topics: @topics))
