== cell('folio/publishable_hint', @article)

= render(Dummy::Blog::Articles::ShowHeaderComponent.new(article: @article))

= render(Dummy::Blog::Articles::ShowBodyComponent.new(article: @article, articles: @articles))
