.f-c-audited-dropdown
  display: flex
  align-items: center
  gap: 2 * $grid-gutter-base

  &__toggle
    cursor: pointer
    display: flex
    align-items: center

    &::after
      display: none

  &__menu
    max-height: 400px
    overflow-y: auto

  &__item
    &--link
      border-top: 1px solid $border-color

    &--active
      &, &:hover, &:focus
        background: rgba(230, 244, 250, 0.6)
        color: $dark

  &__item--active &__label
    font-weight: $font-weight-bold
