.f-users-email-login-waiting
  margin-top: 3 * $spacer
  margin-bottom: 3 * $spacer

  &__resend
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: $spacer
    margin-top: $spacer

  &__cancel
    padding: 0
    min-height: 0
    text-decoration: underline
