.folio-console-form-header
  display: flex
  align-items: center
  margin-bottom: $grid-gutter-width / 2
  padding: 10px 0

  h1
    margin: 0
    line-height: 1.1

.folio-console-form-header-right
  flex: 1 1 auto
  margin-left: $grid-gutter-width

  .nav-pills
    justify-content: flex-end
