.f-c-form-header
  display: flex
  align-items: center
  margin: 0 0 2 * $spacer

h1.f-c-form-header__title
  margin: 0

.f-c-form-header__right
  flex: 0 0 auto
  margin-left: auto
  padding-left: $grid-gutter-width
