.<%= classname_prefix %>-atom.<%= classname_prefix %>-atom-text class=(highlight? ? "my-gg" : nil)
  .container-fluid
    .<%= classname_prefix %>-rich-text class=highlight_class_name
      = cstypo content
