# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Molecule::Cards::FullWidthComponentTest < Folio::ComponentTest
  def test_render
    atoms = [create_atom(<%= application_namespace %>::Atom::Cards::FullWidth, :cover, :title)]

    render_inline(<%= application_namespace %>::Molecule::Cards::FullWidthComponent.new(atoms:))

    assert_selector(".<%= classname_prefix %>-molecule-cards-full-width")
  end
end
