= html_safe_fields_for f, placement_key, build: true do |fp|
  - if fp.object.marked_for_destruction?
    = fp.hidden_field :_destroy, value: 1
  - else
    .nested-fields[
      class="folio-console-thumbnail"
      class="folio-console-thumbnail--document"
      class="f-c-add-file"
      class="cursor-pointer"
      data-file-type=options[:file_type]
    ]
      = fp.hidden_field :_destroy, value: 0
      = fp.hidden_field :file_id
      = fp.hidden_field :id

      .folio-console-thumbnail__inner
        strong.folio-console-thumbnail__title = fp.object.to_label

        button[
          type='button'
          class='f-c-file-list__file-btn f-c-file-list__file-btn--edit'
          class='btn btn-secondary fa fa-edit'
          class='folio-console-react-picker__edit'
          data={ file: serialized_file(fp), \
                 'file-type' => options[:file_type] }
        ]

        button[
          type='button'
          class='btn btn-danger fa fa-times'
          class='f-c-file-list__file-btn f-c-file-list__file-btn--destroy'
          data-destroy-association=true
        ]
