.folio-console-react-picker
  &--single
    min-width: 150px

    .folio-console-has-nested ~ .folio-console-react-picker__button
      display: none

  &--multi
    padding: 1rem
    background: #f7f7f7
    border-radius: $border-radius
    margin-top: 1rem

    .folio-console-react-picker__button
      margin-top: $grid-gutter-half

    .folio-console-file-table__td--main
      padding-left: 0

    .folio-console-file-table__td:last-child
      padding-right: 0

  &--error
    color: $danger

.folio-console-react-picker__files
  display: flex
  flex-wrap: wrap
  min-width: 150px

  &[data-cocoon-single-nested]
    display: none

    &.folio-console-has-nested
      display: flex

  .folio-console-react-picker--single &
    .nested-fields
      margin: 0
