@function mailer-breakpoint-max($name, $breakpoints: $mailer-breakpoints)
  $max: map-get($breakpoints, $name)
  @return if($max and $max > 0, $max - .02, null)

@function mailer-breakpoint-min($name, $breakpoints: $mailer-breakpoints)
  $min: map-get($breakpoints, $name)
  @return if($min != 0, $min, null)

=mailer-media-breakpoint-down($name, $breakpoints: $mailer-breakpoints)
  $max: mailer-breakpoint-max($name, $breakpoints)
  @if $max
    @media (max-width:$max)
      @content
  @else
    @content

=mailer-media-breakpoint-up($name, $breakpoints: $mailer-breakpoints)
  $min: mailer-breakpoint-min($name, $breakpoints)
  @if $min
    @media (min-width:$min)
      @content
  @else
    @content
