# frozen_string_literal: true

require "test_helper"
require Folio::Engine.root.join("test/controllers/folio/users/passwords_controller_test").to_s

class <%= application_module %>::Folio::Users::PasswordsControllerTest < Folio::Users::PasswordsControllerTest
end
