# frozen_string_literal: true

require "test_helper"
require Folio::Engine.root.join("test/controllers//folio/users/registrations_controller_test").to_s

class <%= application_module %>::Folio::Users::RegistrationsControllerTest < Folio::Users::RegistrationsControllerTest
end
