.f-special-characters-list
  display: grid
  grid-template-columns: repeat(10, minmax(0, 1fr))
  gap: var(--f-special-characters-popup__inner-padding)
  padding: var(--f-special-characters-popup__inner-padding)

  &__char
    appearance: none
    border: 1px solid var(--#{$prefix}border-color-translucent, rgba(0, 0, 0, 0.12))
    background: var(--#{$prefix}body-bg, #fff)
    border-radius: 2px
    line-height: 1
    padding: px-to-rem(2px)
    cursor: pointer
    aspect-ratio: 1

    &:hover,
    &:focus-visible
      background: var(--#{$prefix}secondary-bg, #f8f9fa)
      border-color: var(--#{$prefix}primary, #0d6efd)

    &:active
      background: var(--#{$prefix}tertiary-bg, #e9ecef)
