.f-special-characters-list
  - characters.each do |ch|
    button.f-special-characters-list__char[
      type="button"
      data-char=ch
      data=stimulus_data(action: { mousedown: "onCharMousedown", click: "insertCharacter" })
    ] = ch
