.f-special-characters-trigger
  display: flex
  align-items: center
  justify-content: center

  +mq-mobile-menu
    &__desktop
      display: none

  +mq-desktop-menu
    &__mobile
      display: none
