.f-c-new-record-modal
  &:not(&--loading) .folio-loader
    display: none

  &__body
  padding-bottom: 0

  &__footer
    justify-content: flex-start

    .btn
      min-width: 100px

  .folio-loader
    z-index: 2
