.f-devise-email-input
  &__wrap
    position: relative

  &__button
    position: absolute
    top: 0
    right: 0
    width: 40px
    height: $input-height
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

  &__svg
    display: block
    height: 24px
    flex: 0 0 24px

  &__input
    padding-right: 40px
