= form_header f

= f.input :title, required: true
= f.input :licence
= f.input :copyright_text
= f.input :max_usage_count, input_html: { min: 1 }

- if Rails.application.config.folio_shared_files_between_sites
  = react_ordered_multiselect(f, :allowed_sites, sortable: false)

= form_footer f
