= index_header

= catalogue(@media_sources)
  ruby:
    attribute(:title)

    attribute(:licence)

    attribute(:max_usage_count) { record.max_usage_count || "-" }

    attribute(:copyright_text)

    if Rails.application.config.folio_shared_files_between_sites
      attribute(:site) do |record|
        if record.sites.any?
          record.sites.map(&:to_label).join("<br />")
        else
          "-"
        end
      end
    end

    attribute(:assigned_media_count)

    actions(:edit, record.assigned_media_count.positive? ? nil : :destroy)
