= index_header types: current_site.attribute_types_classes

= catalogue(@attribute_types, types: current_site.attribute_types_classes)
  ruby:
    edit_link :to_label

    type

    position_controls

    actions
