.f-tiptap-editor-bubble-menu {
  background: #ffffff;
  border: 1px solid var(--f-tiptap-editor--border-color);
  border-radius: var(--f-tiptap-editor--border-radius);
  box-shadow: var(--tt-shadow-elevated-md);
  color: inherit;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  gap: 4px;
  line-height: 1.2;
  padding: 4px;
}
