@import "@/styles/folio-tiptap-functions";
@import "@/styles/folio-tiptap-variables";

.f-tiptap-editor-responsive-preview {
  position: relative;
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  min-height: 100px;

  &__scroll {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__inner {
    position: relative;
    container-type: inline-size;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
  }

  &__handle {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: px-to-rem(20px);
    left: 50%;
    z-index: 4;
    display: none;
    font-size: 12px;
    cursor: move;
    user-select: none;
  }

  &__handle-flex {
    display: flex;
    align-items: center;
    gap: px-to-rem(8px);
  }

  &__handle-icon-wrap {
    align-items: center;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.15), 2px 2px 15px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px;
  }

  @media screen and (min-width: #{$f-tiptap-editor-responsive-preview-buttons__media-query-min-width}) {
    .f-tiptap-editor--responsive-preview &__handle {
      display: block;
    }

    .f-tiptap-editor--responsive-preview &__inner {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20), 2px 2px 40px 0 rgba(0, 0, 0, 0.25);
    }
  }

  @media screen and (max-width: #{$f-tiptap-editor-responsive-preview-buttons__media-query-min-width - 1}) {
    &__inner {
      width: auto !important;
    }
  }
}
