.f-c-atoms-settings-header
  .f-c-atoms-settings-header__title
    h2.my-0 = t('.title')

  .f-c-atoms-settings-header__controls
    button.btn.btn-outline[
      type="button"
      class="f-c-atoms-settings-header__js-close"
      class="f-c-atoms-settings-header__button"
    ]
      = t('.done')

    button.f-c-atoms-settings-header__close.mi[
      type="button"
      class="f-c-atoms-settings-header__js-close"
    ]
      ' close
