.f-c-atoms-settings-header.d-flex.align-items-center.mb-4
  h2.my-0.mr-g = t('.title')

  .ml-auto.d-flex.align-items-center
    button.btn.btn-outline[
      type="button"
      class="f-c-atoms-settings-header__js-close"
      class="f-c-atoms-settings-header__button"
    ]
      = t('.done')

    button.f-c-atoms-settings-header__close.ml-g.mi[
      type="button"
      class="f-c-atoms-settings-header__js-close"
    ]
      ' close
