@import 'video-js'

$gray: #C9CBCC !default
$medium-gray: #E8E8E8 !default
$gray-medium-dark: #6F7172 !default
$transition-duration: .3s !default

$f-player-background: $medium-gray !default
$f-player-color: $gray-medium-dark !default
$f-player-border-radius: $border-radius !default
$f-player-min-height: 84px !default
$f-player-play-button-background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='36' rx='4' fill='currentColor'/%3E%3Cpath d='M14 11.14V25.14L25 18.14L14 11.14Z' fill='white'/%3E%3C/svg%3E%0A") !default
$f-player-pause-button-background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='36' rx='4' fill='currentColor'/%3E%3Cpath d='M20 25H24V11H20M12 25H16V11H12V25Z' fill='white'/%3E%3C/svg%3E%0A") !default
$f-player-seek-backward-background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 11.5C16 15.09 13.09 18 9.5 18H2V16H9.5C12 16 14 14 14 11.5C14 9 12 7 9.5 7H3.83L6.91 10.09L5.5 11.5L0 6L5.5 0.5L6.92 1.91L3.83 5H9.5C13.09 5 16 7.91 16 11.5Z' fill='%236F7172'/%3E%3C/svg%3E%0A") !default
$f-player-seek-forward-background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 16H14V18H6.5C2.91 18 0 15.09 0 11.5C0 7.91 2.91 5 6.5 5H12.17L9.08 1.91L10.5 0.5L16 6L10.5 11.5L9.09 10.09L12.17 7H6.5C4 7 2 9 2 11.5C2 14 4 16 6.5 16Z' fill='%236F7172'/%3E%3C/svg%3E%0A") !default
$f-player-play-button-width: 36px !default
$f-player-play-button-height: 36px !default
$f-player-control-bar-padding: 18px 24px 24px !default
$f-player-control-font-size: $font-size-sm !default
$f-player-current-time-font-weight: $font-weight-bold !default
$f-player-control-bar-spacer: 18px !default
$f-player-title-padding: 18px 24px 0 !default
$f-player-transition-duration: $transition-duration !default
$f-player-progress-primary: $blue !default
$f-player-progress-secondary: $gray !default

.f-player
  background: $f-player-background
  border-radius: $f-player-border-radius
  color: $f-player-color
  min-height: $f-player-min-height
  position: relative
  font-size: $f-player-control-font-size
  line-height: inherit

  &__player
    background: transparent
    color: inherit
    width: 100%
    height: auto
    min-height: $f-player-min-height
    font-size: inherit
    line-height: inherit

    &,
    .vjs-volume-bar,
    .vjs-progress-holder
      // disable tooltips
      &::before,
      &::after
        display: none

    .vjs-menu-button-inline
    .vjs-menu-button-inline .vjs-menu,
    .vjs-has-started .vjs-control-bar,
    .vjs-audio-only-mode .vjs-control-bar
    .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar,
    .vjs-progress-holder,
    &.vjs-user-inactive .vjs-progress-control .vjs-mouse-display
    .vjs-volume-panel
    .vjs-volume-panel.vjs-hover .vjs-volume-control,
    .vjs-volume-panel:active .vjs-volume-control,
    .vjs-volume-panel:focus .vjs-volume-control,
    .vjs-volume-panel .vjs-volume-control:active,
    .vjs-volume-panel.vjs-hover .vjs-mute-control ~ .vjs-volume-control,
    .vjs-volume-panel .vjs-volume-control.vjs-slider-active,
    .vjs-volume-panel.vjs-hover .vjs-volume-control.vjs-volume-vertical,
    .vjs-volume-panel:active .vjs-volume-control.vjs-volume-vertical,
    .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-vertical,
    .vjs-volume-panel .vjs-volume-control:active.vjs-volume-vertical,
    .vjs-volume-panel.vjs-hover .vjs-mute-control ~ .vjs-volume-control.vjs-volume-vertical,
    .vjs-volume-panel .vjs-volume-control.vjs-slider-active.vjs-volume-vertical,
    .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover,
    .vjs-volume-panel.vjs-volume-panel-horizontal:active,
    .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active,
    .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover,
    .vjs-volume-panel.vjs-volume-panel-horizontal:active,
    .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active,
    .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical,
    .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal,
    .video-js.vjs-user-inactive .vjs-volume-control .vjs-mouse-display,
    .vjs-title-bar,
    .vjs-playing.vjs-user-inactive .vjs-title-bar
      transition-duration: $f-player-transition-duration !important
      transition-delay: 0s !important

    .vjs-control-bar
      background: transparent
      display: flex
      align-items: center
      flex-wrap: wrap
      gap: $f-player-control-bar-spacer / 2 $f-player-control-bar-spacer
      padding: $f-player-control-bar-padding
      position: relative
      top: auto
      bottom: auto
      left: auto
      right: auto

    .vjs-play-control
      width: $f-player-play-button-width
      height: $f-player-play-button-height
      margin-right: 5px

      .vjs-icon-placeholder
        background: transparent $f-player-play-button-background-image center center no-repeat
        background-size: contain
        width: $f-player-play-button-width
        height: $f-player-play-button-height

        &::before
          display: none

      &.vjs-playing .vjs-icon-placeholder
        background-image: $f-player-pause-button-background-image

    .vjs-control,
    .vjs-time-control
      width: auto
      height: auto
      font-size: inherit
      line-height: inherit
      min-width: 0
      padding: 0
      flex: 0 0 auto
      order: 10

    .vjs-play-control
      order: 1

    .vjs-volume-panel
      order: 4

    .vjs-playback-rate.vjs-control
      order: 3

    .vjs-time-control
      order: 5

    .vjs-progress-control
      flex-grow: 1

    .vjs-folio-player-seek-button
      margin-top: -2px
      width: 16px
      height: 18px
      background: transparent $f-player-seek-backward-background-image center center no-repeat
      background-size: cover
      order: 2

      &--forward
        background-image: $f-player-seek-forward-background-image

    .vjs-folio-player-title
      padding: $f-player-title-padding
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .vjs-time-control
      display: block

      &.vjs-duration
        margin-left: - $f-player-control-bar-spacer

      &.vjs-remaining-time
        display: none

      &.vjs-time-divider
        padding: 0 0.5ch

      &.vjs-current-time
        font-weight: $f-player-current-time-font-weight
        margin-right: - $f-player-control-bar-spacer

    &.vjs-paused
      .vjs-big-play-button
        display: none

      .vjs-control-bar
        display: flex

    .vjs-modal-dialog .vjs-modal-dialog-content,
    .vjs-modal-dialog,
    .vjs-button > .vjs-icon-placeholder:before,
    .vjs-big-play-button .vjs-icon-placeholder:before
      position: static

    .vjs-volume-bar
      margin: 0

    .vjs-mute-control
      margin-right: 10px

    .vjs-volume-level,
    .vjs-play-progress
      background-color: $f-player-progress-primary
      color: $f-player-progress-primary

    .vjs-slider
      background-color: $f-player-progress-secondary

    .vjs-volume-panel
      display: flex
      align-items: center
      width: auto !important
      margin-right: -22px
      transition: all .1s

      &.vjs-hover
        margin-right: 0

    .vjs-playback-rate.vjs-control
      padding-left: 10px
      padding-right: 10px
      margin-left: -10px
      margin-right: -10px
      display: flex
      align-items: center
      align-self: stretch

    .vjs-playback-rate .vjs-menu
      left: 50%
      margin-left: -2em
      width: 4em

    .vjs-menu li
      font-size: inherit
      line-height: inherit

    .vjs-menu-button-popup .vjs-menu .vjs-menu-content
      max-height: none
      background: $black
      color: $white
      border-radius: $f-player-border-radius

      .vjs-menu-item:first-child
        border-top-left-radius: $f-player-border-radius
        border-top-right-radius: $f-player-border-radius

      .vjs-menu-item:last-child
        border-bottom-left-radius: $f-player-border-radius
        border-bottom-right-radius: $f-player-border-radius

    .vjs-playback-rate .vjs-playback-rate-value
      font-size: inherit
      line-height: inherit
      font-weight: $font-weight-bold
      position: static
      width: auto
      height: auto

    .vjs-button.vjs-disabled
      display: none

    .vjs-volume-control.vjs-volume-horizontal
      width: 0px
      display: flex
      align-items: center

    .vjs-progress-holder .vjs-load-progress
      display: none

    &--audio
      .vjs-text-track-display
        display: none

      .vjs-control-bar
        height: auto
