# frozen_string_literal: true

class <%= application_namespace %>::Blog::LocalizedArticle < ApplicationRecord
  include Folio::BelongsToSite
  const_set(:FRIENDLY_ID_SCOPE, :site_id)
  include Folio::FriendlyIdForTraco
end
