.d-atom-contents-title
  &--highlight-background
    margin: map-get($spacers, e) 0

  &--highlight-background &__inner
    padding: map-get($spacers, d) map-get($spacers, d)

  &--highlight-background.d-atom-contents-title--theme-light &__inner
    background: $transparent-b100

  &--highlight-background.d-atom-contents-title--theme-dark &__inner
    background: $shade-800
    color: $shade-light-contrast

  &--align-left
    text-align: left

  &--align-center
    text-align: center

  &__content-container
    margin: 0 auto

  +media-breakpoint-up(md)
    &__content-container
      max-width: 808px

    &--highlight-background
      margin: map-get($spacers, g) 0

    &--highlight-background &__inner
      padding: map-get($spacers, g) map-get($spacers, f)
      border-radius: $border-radius

  +media-breakpoint-up(xl)
    &__content-container
      max-width: 920px

    &--highlight-background &__inner
      padding: map-get($spacers, l) map-get($spacers, f)

  +media-breakpoint-down(md)
    &__container
      padding: 0 !important
