.<%= classname_prefix %>-atom-perex
  color: $shade-black-contrast

  &__inner
    &::after
      content: ''
      display: block
      width: 100px
      height: 5px
      border-radius: 5px
      background: $transparent-b300
      margin-top: map-get($spacers, e)
