# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Molecule::Cards::SmallComponentTest < Folio::ComponentTest
  def test_render
    atoms = [create_atom(<%= application_namespace %>::Atom::Cards::Small, :content)]

    render_inline(<%= application_namespace %>::Molecule::Cards::SmallComponent.new(atoms:))

    assert_selector(".<%= classname_prefix %>-molecule-cards-small")
  end
end
