.d-molecule-cards-extra-small
  &__card
    display: flex

  &__cover
    max-width: 80px
    flex: 0 0 80px

  &__image
    border-radius: $grid-gutter-base
    overflow: hidden

  &__content
    padding-left: map-get($spacers, bb)
