.d-molecule-cards-extra-small
  &__card
    display: flex

  &__text
    padding-left: map-get($spacers, bb)

  &__cover
    max-width: 80px
    flex-basis: 80px
    border-radius: $grid-gutter-base
    overflow: hidden
