$d-molecule-cards-image-background-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%) !default
$d-molecule-cards-padded-image-gap: map-get($spacers, f) !default
$d-molecule-cards-padded-image-mobile-gap: map-get($spacers, d) !default

.d-molecule-cards-image
  &__flex
    display: flex
    flex-wrap: wrap
    border-radius: $border-radius
    overflow: hidden

  &--padded &__flex
    gap: $d-molecule-cards-padded-image-gap
    border-radius: 0

  &__card
    position: relative
    min-height: 305px
    width: 100%
    display: flex

  &__image-wrap
    border-radius: 0
    overflow: hidden
    position: absolute
    inset: 0
    width: 100%
    height: 100%
    z-index: 1

  &--padded &__image-wrap
    border-radius: $border-radius

  &__image
    &::before
      content: ''
      display: block
      position: absolute
      inset: 0
      z-index: 5
      background: $d-molecule-cards-image-background-gradient

  &__content
    min-height: 100%
    width: 100%
    position: relative
    z-index: 6
    display: flex
    align-items: flex-end
    padding-top: 60px

  &__content-wrap
    padding: px-to-rem(20px)
    color: $primary-white

  &__link
    text-decoration: none

    &::before
      content: ''
      display: block
      position: absolute
      inset: 0
      z-index: 10

  &__description
    margin-top: map-get($spacers, a)
    color: $cloud-100
    position: relative
    z-index: 11

  +media-breakpoint-up(lg)
    &__cell
      flex: 1 0 33.3333%

      &:nth-last-child(2):nth-child(3n),
      &:last-child:nth-child(3n+1)
        flex: 0 0 50%

      &:last-child:nth-child(3n+2):not(:nth-child(2))
        flex: 0 0 66.6667%

    &--padded &__cell
      flex: 1 0 calc(33.3333% - ((#{$d-molecule-cards-padded-image-gap} * 2) / 3))

      &:nth-last-child(2):nth-child(3n),
      &:last-child:nth-child(3n+1)
        flex: 1 0 calc(50% - (#{$d-molecule-cards-padded-image-gap} / 2))

      &:nth-last-child(2):nth-child(3n+1):not(:first-child)
        flex: 0 0 calc(33.3333% - (#{$d-molecule-cards-padded-image-gap} / 2))

      &:last-child:nth-child(3n+2):not(:nth-child(2))
        flex: 0 0 calc(66.6667% - (#{$d-molecule-cards-padded-image-gap} / 2))

  +media-breakpoint-down(lg)
    &__cell
      flex: 1 0 50%

    &--padded &__cell
      flex: 1 0 calc(50% - #{$d-molecule-cards-padded-image-gap} / 2)

  +media-breakpoint-down(sm)
    &--padded &__flex
      gap: $d-molecule-cards-padded-image-mobile-gap

    &__cell,
    &--padded &__cell
      flex: 0 0 100%
