.d-molecule.d-molecule-cards-padded-image
  = render(Dummy::Molecule::Cards::ImageComponent.new(atoms: @atoms,
                                                     atom_options: @atom_options,
                                                     padded: true))
