@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function px-to-rem($px) {
  @return 1rem * strip-unit($px) / 16;
}

:root {
  --f-tiptap-editor__transition: box-shadow 0.15s ease-in-out;
  --f-tiptap-editor__border-color: #c9cbcc;
  --f-tiptap-editor__border-color--focused: #3b4548;
  --f-tiptap-editor__border-radius: 4px;
  --f-tiptap-editor-content-wrap__padding-x: 6rem;
  --f-tiptap-editor-content-wrap__padding-x-rich-text: 1rem;
  --f-tiptap-editor-content-wrap__padding-y: 1rem;
  --f-tiptap-editor-content-wrap__padding-x-mobile: 1rem;
  --f-tiptap-editor-content-wrap__padding-y-mobile: 1rem;

  // so that <hr> shows up
  --bs-border-color: #c9cbcc;
}

.f-tiptap-application-html,
.f-tiptap-application-body {
  overflow: hidden;
  min-width: 320px;
  margin: 0;
}

.f-tiptap-application-body {
  display: flex;
  flex-direction: column;
}

.f-tiptap-application-html,
.f-tiptap-application-body,
#folio-tiptap-dev-root,
.f-tiptap-iframe-content {
  height: 100vh;
}

.f-tiptap-editor {
  display: flex;
  flex-direction: column;

  &--block {
    min-height: 500px;
    height: 100vh;
  }

  &--rich-text {
    --f-tiptap-editor-content-wrap__padding-x: var(--f-tiptap-editor-content-wrap__padding-x-rich-text);

    border: 1px solid var(--f-tiptap-editor__border-color);
    border-radius: var(--f-tiptap-editor__border-radius);
    transition: var(--f-tiptap-editor__transition);
    min-height: 140px + 2px;

    &.f-tiptap-editor--focused {
      border-color: var(--f-tiptap-editor__border-color--focused);
    }
  }
}

.f-tiptap-editor-toolbar {
  flex: 0 0 auto;
}

.f-tiptap-editor__content-wrap {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: var(--f-tiptap-editor-content-wrap__padding-y) var(--f-tiptap-editor-content-wrap__padding-x) ;
  position: relative;
}

.f-tiptap-editor__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;

  &--readonly {
    user-select: none;
    pointer-events: none;
  }
}

.f-tiptap-editor__tiptap-editor {
  flex: 1 0 auto;
}

@container (max-width: 700px) {
  .f-tiptap-editor__content-wrap {
    padding-left: var(--f-tiptap-editor-content-wrap__padding-x-mobile);
    padding-right: var(--f-tiptap-editor-content-wrap__padding-x-mobile);
  }
}

@container (max-width: 468px) {
  .f-tiptap-editor--block {
    .f-tiptap-editor-toolbar {
      order: 2;
    }
  }

  .f-tiptap-editor__content-wrap {
    padding: var(--f-tiptap-editor-content-wrap__padding-y-mobile) var(--f-tiptap-editor-content-wrap__padding-x-mobile);
  }
}

// fix bubble menu z-index
.f-tiptap-editor__content {
  > .tiptap {
    position: relative;
    z-index: 1;

    & ~ div {
      z-index: 2;

      &[tabindex="0"] {
        z-index: 3;
      }
    }
  }
}

.f-tiptap-editor p.is-empty,
.f-tiptap-editor h2.is-empty,
.f-tiptap-editor h3.is-empty,
.f-tiptap-editor h4.is-empty,
.f-tiptap-editor .f-tiptap-page--invalid h2:first-of-type {
  position: relative;

  &::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
  }
}

.f-tiptap-editor .node-folioTiptapNode,
.f-tiptap-editor .node-folioTiptapInvalidNode {
  position: relative;
  z-index: 2;

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: -0.5rem;
    background: var(--tt-selection-color);
    border-radius: var(--f-tiptap-editor__border-radius);
    z-index: 3;
    opacity: 0.5;
    visibility: hidden;
    pointer-events: none;
  }

  &::before {
    opacity: 1;
    z-index: 1;
  }

  &.ProseMirror-selectednode {
    &::before,
    &::after {
      visibility: visible;
    }
  }
}

.f-c-tiptap-invalid-node {
  align-items: center;
  background: #F0655D;
  border-radius: 4px;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.15), 2px 2px 15px 2px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  text-align: center;

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &__small {
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }
}

.tiptap.ProseMirror {
  outline: none;
  caret-color: var(--tt-cursor-color);

  // Selection styles
  &:not(.readonly):not(.ProseMirror-hideselection) {
    ::selection {
      background-color: var(--tt-selection-color);
    }

    .selection::selection {
      background: transparent;
    }
  }

  .selection {
    display: inline;
    background-color: var(--tt-selection-color);
  }

  .ProseMirror-hideselection {
    caret-color: transparent;
  }
}

.f-tiptap-editor__content-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: px-to-rem(20px);
  left: 50%;
  z-index: 4;
  display: none;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}

.f-tiptap-editor__content-handle-flex {
  display: flex;
  align-items: center;
  gap: px-to-rem(8px);
}

.f-tiptap-editor__content-handle-icon-wrap {
  align-items: center;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.15), 2px 2px 15px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}
