# frozen_string_literal: true

require "test_helper"

class Folio::Console::<%= application_namespace %>::Blog::TopicsControllerTest < Folio::Console::BaseControllerTest
  test "index" do
    get url_for([:console, <%= application_namespace %>::Blog::Topic])

    assert_response :success

    create(:<%= application_namespace_path %>_blog_topic)

    get url_for([:console, <%= application_namespace %>::Blog::Topic])

    assert_response :success
  end

  test "new" do
    get url_for([:console, <%= application_namespace %>::Blog::Topic, action: :new])

    assert_response :success
  end

  test "edit" do
    model = create(:<%= application_namespace_path %>_blog_topic)

    get url_for([:edit, :console, model])

    assert_response :success
  end

  test "create" do
    params = build(:<%= application_namespace_path %>_blog_topic).serializable_hash
    assert_equal(0, <%= application_namespace %>::Blog::Topic.count)

    post url_for([:console, <%= application_namespace %>::Blog::Topic]), params: {
      <%= application_namespace_path %>_blog_topic: params,
    }

    assert_equal(1, <%= application_namespace %>::Blog::Topic.count, "Creates record")
  end

  test "update" do
    model = create(:<%= application_namespace_path %>_blog_topic)
    assert_not_equal("Title", model.title)

    put url_for([:console, model]), params: {
      <%= application_namespace_path %>_blog_topic: {
        title: "Title",
      },
    }

    assert_redirected_to url_for([:edit, :console, model])
    assert_equal("Title", model.reload.title)
  end

  test "destroy" do
    model = create(:<%= application_namespace_path %>_blog_topic)

    delete url_for([:console, model])

    assert_redirected_to url_for([:console, <%= application_namespace %>::Blog::Topic])
    assert_not(<%= application_namespace %>::Blog::Topic.exists?(id: model.id))
  end
end
