.f-c-tiptap-overlay-form
  height: 100%

  &__form
    height: 100%
    display: flex
    flex-direction: column

  &__form-header
    display: flex
    align-items: center
    flex: 0 0 auto
    padding: $grid-gutter-width
    gap: $grid-gutter-width

  &__form-title
    flex: 1 1 auto
    word-break: break-all
    min-width: 0

  &__form-buttons
    flex: 0 0 auto

  &__form-body
    flex: 1 1 auto
    overflow-y: auto
    padding: 0 $grid-gutter-width $grid-gutter-width

  &__form-row
    display: flex
    gap: 0 $grid-gutter-width

  &__form-col
    flex: 1 1 auto

    &--single-attachments
      flex: 0 0 168px
