.f-c-tiptap-overlay-form
  --f-c-tiptap-overlay-form__padding-x: #{$grid-gutter-width * 0.5}
  --f-c-tiptap-overlay-form__padding-y: #{$grid-gutter-width}

  container-name: f-c-tiptap-overlay-form
  container-type: inline-size
  height: 100%

  &__form
    height: 100%
    display: flex
    flex-direction: column

  &__form-header
    display: flex
    align-items: center
    flex: 0 0 auto
    padding: var(--f-c-tiptap-overlay-form__padding-y) var(--f-c-tiptap-overlay-form__padding-x)
    gap: $grid-gutter-width

  &__form-title
    flex: 1 1 auto
    word-break: break-all
    min-width: 0

  &__form-buttons
    flex: 0 0 auto

  &__form-body
    flex: 1 1 auto
    overflow-y: auto
    padding: 0 var(--f-c-tiptap-overlay-form__padding-x) var(--f-c-tiptap-overlay-form__padding-y)

  @container f-c-tiptap-overlay-form (min-width: #{$f-c-tiptap-overlay-form__container-breakpoint})
    &__form
      --f-c-tiptap-overlay-form__padding-x: #{$grid-gutter-width}
      --f-c-tiptap-overlay-form__padding-y: #{$grid-gutter-width}
