.f-tiptap-editor
  .f-tiptap-editor__react-root

  javascript:
    (() => {
      let bindTimeout;
      const node = document.querySelector(".f-tiptap-editor__react-root");

      const onCreate = () => {
        window.top.postMessage(
          {
            type: "f-tiptap-editor:created",
            height: node.clientHeight,
          },
          window.origin,
        );
      };

      const onUpdate = ({ editor }) => {
        window.top.postMessage(
          {
            type: "f-tiptap-editor:updated",
            content: editor.getJSON(),
            height: node.clientHeight,
          },
          window.origin,
        );
      };

      const bindReact = ({ content }) => {
        document.documentElement.classList.add("f-tiptap-editor-html");
        document.body.classList.add("f-tiptap-editor-body");

        console.log('bindReact:', window.Folio && window.Folio.Tiptap && window.Folio.Tiptap.init)
        if (window.Folio && window.Folio.Tiptap && window.Folio.Tiptap.init) {
          window.Folio.Tiptap.init({
            node,
            onCreate,
            onUpdate,
            content,
          });
        } else {
          bindTimeout = window.setTimeout(() => {
            bindReact({ content });
          }, 100);
        }
      };

      window.addEventListener("message", (e) => {
        if (e.origin !== window.origin) return;
        if (!e.data) return;

        if (e.data.type === "f-input-tiptap:start") {
          bindReact({ content: e.data.content });
        }
      });

      window.top.postMessage({ type: "f-tiptap-editor:connected" }, window.origin);
    })()
