.d-flex.align-items-center
  = f.object.class.human_attribute_name(:featured)

  span.mi.mi--14.ml-2.my-1[
    aria-label=t('simple_form.hints.defaults.featured')
    data-balloon-pos="down"
    data-balloon-length="long"
  ] help
