.f-c-publishable-inputs
  .f-c-publishable-inputs__box.f-c-publishable-inputs__box--date[
    class=(f.object.published ? 'f-c-publishable-inputs__box--active' : nil)
  ]
    = f.input :published, hint: false, \
                          input_html: input_html('f-c-publishable-inputs__checkbox'), \
                          wrapper_html: { class: 'f-c-publishable-inputs__published' }

    - if publishable_with_date?
      .f-c-publishable-inputs__date
        = f.input :published_at, \
                  label: false, \
                  hint: false, \
                  wrapper_html: { class: 'f-c-publishable-inputs__wrapper' }, \
                  input_html: input_html('f-c-publishable-inputs__input', placeholder: t('.at'))

    - elsif publishable_within?
      .f-c-publishable-inputs__date
        = f.input :published_from, \
                  label: false, \
                  hint: false, \
                  wrapper_html: { class: 'f-c-publishable-inputs__wrapper' }, \
                  input_html: input_html('f-c-publishable-inputs__input', placeholder: t('.from'))

        = f.input :published_until, \
                  label: false, \
                  hint: false, \
                  wrapper_html: { class: 'f-c-publishable-inputs__wrapper' }, \
                  input_html: input_html('f-c-publishable-inputs__input', placeholder: t('.to'))

  - if f.object.respond_to?(:featured)
    .f-c-publishable-inputs__box.f-c-publishable-inputs__box--featured[
      class=(f.object.featured ? 'f-c-publishable-inputs__box--active' : nil)
    ]
      = f.input :featured, \
                hint: false, \
                label: render(:_featured_label).html_safe, \
                wrapper_html: { class: 'f-c-publishable-inputs__featured' }, \
                input_html: input_html('f-c-publishable-inputs__checkbox f-c-publishable-inputs__featured-input')

      - if featurable_within?
        .f-c-publishable-inputs__date
          = f.input :featured_from, \
                    label: false, \
                    hint: false, \
                    wrapper_html: { class: 'f-c-publishable-inputs__wrapper' }, \
                    input_html: input_html('f-c-publishable-inputs__input', placeholder: t('.from'))

          = f.input :featured_until, \
                    label: false, \
                    hint: false, \
                    wrapper_html: { class: 'f-c-publishable-inputs__wrapper' }, \
                    input_html: input_html('f-c-publishable-inputs__input', placeholder: t('.to'))

  - if options[:additional_fields].present?
    - options[:additional_fields].each do |field|
      .f-c-publishable-inputs__box[
        class="f-c-publishable-inputs__box--#{field}"
        class=(f.object.send(field) ? 'f-c-publishable-inputs__box--active' : nil)
      ]
        = f.input field, hint: false, \
                         input_html: input_html('f-c-publishable-inputs__checkbox'), \
                         wrapper_html: { class: 'f-c-publishable-inputs__published' }
