# frozen_string_literal: true

class HomeController < ApplicationController
  def index
    @page = current_page_singleton(<%= application_namespace %>::Page::Homepage)
    set_meta_variables(@page)
  end
end
