.d-ui-menu-toolbar-shopping-cart
  &__a
    height: 100%
    display: block
    position: relative

  &__count
    position: absolute
    top: px-to-rem(7px) * -1
    right: px-to-rem(7px) * -1
    padding: px-to-rem(3px) map-get($spacers, 2)
    background-color: $shade-800
    color: $shade-light-contrast
    border-radius: $btn-border-radius
    font-size: $ui-typo-text-xs-font-size
    font-weight: $font-weight-medium
