.d-ui-menu-toolbar-shopped-items-count
  padding: px-to-rem(3px) map-get($spacers, 2)
  background: $blue-400
  color: $primary-white
  border-radius: $btn-border-radius
  font-size: $ui-typo-text-xs-font-size
  font-weight: $font-weight-medium

  &--wishlist
    background: $brand-200

  &--shopping-cart
    position: absolute
    top: px-to-rem(7px) * -1
    right: px-to-rem(7px) * -1
