.d-ui-menu-toolbar-shopping-cart
  &__a
    height: 100%
    display: block
    position: relative
    text-decoration: none

    &:hover, &:focus
      .d-ui-menu-toolbar-shopping-cart__icon
        color: $shade-400

  &__icon
    color: $shade-black-contrast

  &--active &__icon
    color: $shade-400
