.d-ui-menu-toolbar-toolbar
  display: flex
  align-items: center
  gap: map-get($spacers, bb)
  flex: 1 1 auto
  justify-content: flex-end

  &__selects-container
    display: flex
    align-items: center
    gap: map-get($spacers, 2)

  &__user-avatar-link
    text-decoration: none

  &__user-avatar
    width: 32px
    height: 32px
    background: $shade-black-contrast
    color: $shade-light-contrast
    font-size: $ui-typo-text-s-font-size
    font-weight: $font-weight-bold
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
