# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Mailer::FooterComponentTest < Folio::ComponentTest
  def test_render
    site = create(:folio_site)
    create(:<%= application_namespace_path %>_menu_footer)

    render_inline(<%= application_namespace %>::Mailer::FooterComponent.new(site:))

    assert_selector(".<%= classname_prefix %>-mailer-footer")
  end
end
