# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::MenuCellTest < Cell::TestCase
  test "show" do
    menu = <%= application_namespace %>::Menu::Header.create!(locale: :en)

    html = cell("<%= application_namespace_path %>/ui/menu", menu).(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-menu")
  end
end
