.d-ui-alert
  +font-size-sm
  font-weight: $font-weight-medium
  color: $white
  background: $blue
  margin: $grid-gutter-width 0

  & + &
    margin-top: $grid-gutter-base - $grid-gutter-width

  &--flash
    &,
    & + &
      margin: 0

  &--success
    background: $success

  &--warning
    background: $orange

  &--danger
    background: $danger

  &__content
    flex: 1 1 auto
    padding: px-to-rem(13px) 0

  &__icon
    flex: 0 0 auto

  &__close
    +unbutton
    flex: 0 0 auto
    align-self: stretch
    display: flex
    align-items: center
    justify-content: center
    padding-left: $grid-gutter-half
    padding-right: $grid-gutter-half

  &__container
    display: flex
    align-items: center
    justify-content: center
    gap: $grid-gutter-width / 2
    min-height: 48px

    .container-fluid &.container-fluid
      padding-left: $grid-gutter-half
      padding-right: $grid-gutter-half

  .container-fluid &--closable &__container.container-fluid
    padding-right: 0

  &__loader-wrap
    width: 24px
    height: 24px
    position: relative
    flex: 0 0 auto
