.d-ui-author-medallion
  color: $shade-700
  display: inline-flex
  align-items: center
  gap: map-get($spacers, b)
  text-decoration: none
  text-align: left

  &:hover &__name
    text-decoration: underline

  &__cover-wrap
    flex: 0 0 auto
    width: 20px

  &__name
    flex: 1 1 auto

