.d-ui-button
  &__icon
    margin-left: - 1 * px-to-rem(11px - 7)

    &:last-child
      margin-right: - 1 * px-to-rem(11px - 7)

    &:only-child
      margin: 0 (( - 1 * px-to-rem(11px - 5) ))

  &__right-icon
    margin-right: - 1 * px-to-rem(11px - 7)

  &__loader-wrap
    width: 16px
    height: 16px
    flex: 0 0 16px
    position: relative

  +media-breakpoint-down(sm)
    &--hide-label-on-mobile &__label
      display: none

    &--hide-label-on-mobile &__icon
      margin: 0 (( - 1 * px-to-rem(11px - 5) ))
