.d-ui-clipboard data=data
  = dummy_ui_icon(:copy, 
                  class_name: 'd-ui-clipboard__copy',
                  height: @height || 22)

  = dummy_ui_icon(:check,
                  class_name: 'd-ui-clipboard__check',
                  height: @height || 22)
