.d-ui-clipboard
  cursor: pointer
  display: inline-block
  position: relative

  &__check
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &--copied &__copy
    visibility: hidden

  &:not(&--copied) &__check
    visibility: hidden
