.d-ui-pagy
  font-weight: $font-weight-bold

  &__page, a
    border-radius: 100%
    display: inline-flex
    align-items: center
    justify-content: center
    text-align: center
    min-width: 34px
    min-height: 34px
    line-height: 34px
    flex: 0 0 34px

  a
    color: $shade-dark-contrast
    text-decoration: none

    &:hover
      color: $shade-dark-contrast
      background: $shade-200
      text-decoration: none

    &:focus
      color: $shade-light-contrast
      background: $shade-300
      text-decoration: none
      outline: none

  &__nav,
  &__pages
    display: flex
    align-items: center
    justify-content: center
    gap: 4px

  &__page--current
    background: $shade-dark-contrast
    color: $shade-light-contrast

  &__page--disabled
    color: $shade-400
