.d-ui-pagy
  +font-size-sm
  color: $dark-gray

  &__page, a
    border-radius: 100%
    display: inline-flex
    align-items: center
    justify-content: center
    text-align: center
    min-width: 24px
    min-height: 24px
    line-height: 24px
    flex: 0 0 24px

  a
    color: $dark-gray
    text-decoration: none

    &:hover, &:focus
      color: $dark-gray
      background: $medium-gray
      text-decoration: none

  &__nav,
  &__pages
    display: flex
    align-items: center
    justify-content: center
    gap: 10px

  &__page--current
    background: $dark-gray
    color: $white

  &__page--disabled
    opacity: 0.4
