.d-ui-pagy
  &__pages
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    gap: map-get($spacers, 1)

  &__page-item, &__page-link
    display: block
    font-weight: $font-weight-bold
    padding: map-get($spacers, 1) map-get($spacers, 3)
    border-radius: $border-radius-lg

  &__page-link
    color: $shade-dark-contrast
    text-decoration: none

    &:hover
      color: $shade-dark-contrast
      background: $shade-200
      text-decoration: none

    &:focus
      color: $shade-light-contrast
      background: $shade-300
      text-decoration: none
      outline: none

  &__page--with-ico > &__page-item,
  &__page--with-ico > &__page-link
    padding: map-get($spacers, 1)

  &__page--current > &__page-item
    background: $shade-dark-contrast
    color: $shade-light-contrast

  &__page--disabled > &__page-item
    color: $shade-400
