- if @pagy && @pagy.try(:pages) && @pagy.pages > 1
  .d-ui-pagy.fs-display-2xs class=@class_name
    nav.d-ui-pagy__nav role="navigation" aria-label="pager"
      ul.d-ui-pagy__pages
        - if @pagy.prev
          li.d-ui-pagy__page[
            class="d-ui-pagy__page--with-ico"
            class="d-ui-pagy__page--first"
            class="d-ui-pagy__page--hide-on-mobile"
          ]
            == build_link(1, dummy_ui_icon(:arrow_left_from_line), aria: :last)

          li.d-ui-pagy__page[
            class="d-ui-pagy__page--with-ico"
            class="d-ui-pagy__page--prev"
          ]
            == build_link(@pagy.prev,
                          dummy_ui_icon(:arrow_left),
                          aria: :previous)
        - else
          li.d-ui-pagy__page[
            class="d-ui-pagy__page--with-ico"
            class="d-ui-pagy__page--first"
            class="d-ui-pagy__page--hide-on-mobile"
            class="d-ui-pagy__page--disabled"
          ]
            span.d-ui-pagy__page-item
              = dummy_ui_icon(:arrow_left_from_line)

          li.d-ui-pagy__page[
            class="d-ui-pagy__page--with-ico"
            class="d-ui-pagy__page--prev"
            class="d-ui-pagy__page--disabled"
          ]
            span.d-ui-pagy__page-item
              = dummy_ui_icon(:arrow_left)

        / list of page numbers
        - series_as_hashes.each do |h|
          li.d-ui-pagy__page class=h[:class_name]
            - if h[:link]
              == h[:link]
            - else
              span.d-ui-pagy__page-item
                == h[:label]

        - if @pagy.next
          li.d-ui-pagy__page[
            class="d-ui-pagy__page--with-ico"
            class="d-ui-pagy__page--next"
          ]
            == build_link(@pagy.next,
                          dummy_ui_icon(:arrow_right),
                          aria: :next)

          li.d-ui-pagy__page[
            class="d-ui-pagy__page--with-ico"
            class="d-ui-pagy__page--last"
            class="d-ui-pagy__page--hide-on-mobile"
          ]
            == build_link(@pagy.last,
                          dummy_ui_icon(:arrow_right_to_line),
                          aria: :last)

        - else
          li.d-ui-pagy__page[
            class="d-ui-pagy__page--with-ico"
            class="d-ui-pagy__page--next"
            class="d-ui-pagy__page--disabled"
          ]
            span.d-ui-pagy__page-item
              = dummy_ui_icon(:arrow_right)

          li.d-ui-pagy__page[
            class="d-ui-pagy__page--with-ico"
            class="d-ui-pagy__page--last"
            class="d-ui-pagy__page--hide-on-mobile"
            class="d-ui-pagy__page--disabled"
          ]
            span.d-ui-pagy__page-item
              = dummy_ui_icon(:arrow_right_to_line)
