.d-ui-record-bar
  position: fixed
  z-index: 1000
  left: $grid-gutter-half
  right: $grid-gutter-half
  pointer-events: none
  bottom: map-get($spacers, g)
  display: flex
  justify-content: center

  &__inner
    pointer-events: all
    background: $transparent-b800
    padding: $d-ui-buttons-gap
    border-radius: 4px
    display: flex
    align-items: center
    gap: $grid-gutter-half
    flex-wrap: wrap
    justify-content: center
