.d-ui-shopping-cart
  padding-right: map-get($spacers, b)

  &__a
    height: 100%
    display: block
    position: relative

  &__count
    position: absolute
    top: map-get($spacers, 1) * -1
    right: map-get($spacers, b) * -1
    padding: map-get($spacers, 1) map-get($spacers, b)
    background-color: $cloud-800
    color: $shade-light-contrast
    border-radius: $btn-border-radius
    font-size: $ui-typo-text-xs-font-size
    font-weight: $font-weight-medium
