.d-ui-topics
  &__ul
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: $grid-gutter-base

  &--centered &__ul
    justify-content: center

  &__li
    display: flex
    padding: 0
    margin: 0

  &__a
    +font-size-text-xs
    font-weight: $font-weight-medium
    border: 1px solid $transparent-b200
    border-radius: $border-radius-pill
    justify-content: center
    align-items: center
    color: $shade-700
    text-decoration: none
    transition: $transition-base
    max-width: px-to-rem(120px)
    padding: px-to-rem(5px) map-get($spacers, b)
    line-height: 1
    display: flex
    align-items: center
    gap: map-get($spacers, a)

    &:hover
      border-color: $shade-black-contrast

  &__a--active
    &, &:hover
      background-color: $shade-black-contrast
      border-color: $shade-black-contrast
      color: $shade-light-contrast

  &__label
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  +media-breakpoint-up(lg)
    &:not(&--small) &__a
      +font-size-text-s
      max-width: px-to-rem(200px)
      padding: px-to-rem(3px) map-get($spacers, c)
      gap: map-get($spacers, b)

  &--small &__close
    height: px-to-rem(16px) !important

  +media-breakpoint-down(md)
    &__close
      height: px-to-rem(16px) !important
