.d-ui-user-avatar[
  data=data
  class=(user_signed_in? ? nil : 'd-ui-user-avatar--signed-out')
]
  - if user_signed_in?
    .d-ui-user-avatar__avatar
      ' LO

  - else
    = dummy_ui_icon(:user_circle_2,
                    height: 32,
                    class_name: 'd-ui-user-avatar__icon')
