div[
  class=bem_class_name
]
  video.d-ui-video__video[
    autoplay=true
    muted=true
    preload=true
    loop=true
    playsinline=true
  ]
    source[
      src=Folio::S3.cdn_url_rewrite(@video.file.remote_url)
      type=@video.file_mime_type
    ]

  *spacer_tag
