@font-face {
  font-family: 'IBMPlexSans';
  src: ('/fonts/IBMPlexSans.woff2') format('woff2');
  font-weight: $font-weight-normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: ('/fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-weight: $font-weight-semibold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: ('/fonts/IBMPlexSans-Bold.woff2') format('woff2');
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: fallback;
}
