= light-mode
  --dummy-accent-200: #{$blue-300}
  --dummy-accent-300: #{$mint-400}
  --dummy-brand-100: #{$blue-500}
  --dummy-brand-200: #{$purple-300}
  --dummy-brand-300: #{$cloud-900}
  --dummy-brand-400: #{$cloud-100}
  --dummy-color-over-brand-100: #{$white}
  --dummy-color-over-brand-200: #{$white}
  --dummy-link-default: #{$blue-400}
  --dummy-shade-100: #{$cloud-100}
  --dummy-shade-200: #{$cloud-200}
  --dummy-shade-300: #{$cloud-300}
  --dummy-shade-400: #{$cloud-400}
  --dummy-shade-500: #{$cloud-500}
  --dummy-shade-600: #{$cloud-600}
  --dummy-shade-700: #{$cloud-700}
  --dummy-shade-800: #{$cloud-800}
  --dummy-shade-black-contrast: #{$primary-black}
  --dummy-shade-light-contrast: #{$primary-white}
  --dummy-status-caution: #{$orange-400}
  --dummy-status-disabled-100: #{$cloud-300}
  --dummy-status-error: #{$red-400}
  --dummy-status-neutral: #{$blue-500}
  --dummy-status-success: #{$emerald-500}
  --dummy-transparent-b100: #0000000D
  --dummy-transparent-b200: #0000001A
  --dummy-transparent-b300: #00000026
  --dummy-transparent-b400: #00000033
  --dummy-transparent-b500: #00000040
  --dummy-transparent-b600: #0000004D
  --dummy-transparent-b700: #00000059
  --dummy-transparent-b800: #00000066
  --dummy-transparent-b900: #00000073
  --dummy-transparent-w100: #FFFFFF0D
  --dummy-transparent-w200: #FFFFFF1A
  --dummy-transparent-w300: #FFFFFF26
  --dummy-transparent-w400: #FFFFFF33
  --dummy-transparent-w500: #FFFFFF40
  --dummy-transparent-w600: #FFFFFF4D
  --dummy-transparent-w700: #FFFFFF59
  --dummy-transparent-w800: #FFFFFF66
  --dummy-transparent-w900: #FFFFFF73
  --dummy-box-shadow-overlay: 2px 2px 40px 0px rgba(0, 0, 0, 0.20), 0px 1px 4px 0px rgba(0, 0, 0, 0.10)
  --#{$prefix}body-color: #{$primary-black}
  --#{$prefix}body-color-rgb: #{to-rgb($primary-black)}
  --#{$prefix}body-bg: #{$primary-white}
  --#{$prefix}body-bg-rgb: #{to-rgb($primary-white)}
  color-scheme: light
  background: var(--#{$prefix}body-bg)
  color: var(--#{$prefix}body-color)

= dark-mode
  --dummy-accent-200: #{$blue-300}
  --dummy-accent-300: #{$mint-500}
  --dummy-brand-100: #{$blue-500}
  --dummy-brand-200: #{$purple-300}
  --dummy-brand-300: #{$cloud-900}
  --dummy-brand-400: #{$cloud-900}
  --dummy-color-over-brand-100: #{$white}
  --dummy-color-over-brand-200: #{$white}
  --dummy-link-default: #{$blue-300}
  --dummy-shade-100: #{$cloud-800}
  --dummy-shade-200: #{$cloud-700}
  --dummy-shade-300: #{$cloud-600}
  --dummy-shade-400: #{$cloud-500}
  --dummy-shade-500: #{$cloud-400}
  --dummy-shade-600: #{$cloud-300}
  --dummy-shade-700: #{$cloud-200}
  --dummy-shade-800: #{$cloud-100}
  --dummy-shade-black-contrast: #{$primary-white}
  --dummy-shade-light-contrast: #{$cloud-900}
  --dummy-status-caution: #{$orange-400}
  --dummy-status-disabled-100: #{$cloud-500}
  --dummy-status-error: #{$red-300}
  --dummy-status-neutral: #{$blue-300}
  --dummy-status-success: #{$emerald-400}
  --dummy-transparent-b100: #FFFFFF0D
  --dummy-transparent-b200: #FFFFFF1A
  --dummy-transparent-b300: #FFFFFF26
  --dummy-transparent-b400: #FFFFFF33
  --dummy-transparent-b500: #FFFFFF40
  --dummy-transparent-b600: #FFFFFF4D
  --dummy-transparent-b700: #FFFFFF59
  --dummy-transparent-b800: #FFFFFF66
  --dummy-transparent-b900: #FFFFFF73
  --dummy-transparent-w100: #0000000D
  --dummy-transparent-w200: #0000001A
  --dummy-transparent-w300: #00000026
  --dummy-transparent-w400: #00000033
  --dummy-transparent-w500: #00000040
  --dummy-transparent-w600: #0000004D
  --dummy-transparent-w700: #00000059
  --dummy-transparent-w800: #00000066
  --dummy-transparent-w900: #00000073
  --dummy-box-shadow-overlay: 2px 2px 40px 0px rgba(255, 255, 255, 0.25), 0px 1px 2px 0px rgba(255, 255, 255, 0.20)
  --#{$prefix}body-color: #{$primary-white}
  --#{$prefix}body-color-rgb: #{to-rgb($primary-white)}
  --#{$prefix}body-bg: #{$cloud-900}
  --#{$prefix}body-bg-rgb: #{to-rgb($cloud-900)}
  color-scheme: dark
  background: var(--#{$prefix}body-bg)
  color: var(--#{$prefix}body-color)

#{":root"},
[data-bs-theme="light"]
  +light-mode

$enable-folio-dark-mode: false !default

@if $enable-folio-dark-mode
  [data-bs-theme="dark"]
    +dark-mode

  @media (prefers-color-scheme: dark)
    #{":root"}
      +dark-mode
