$enable-validation-icons: false

@import './variables'
@import 'folio-bootstrap/scss/bootstrap'

@import 'modules/bootstrap-overrides/mixins/type'

@import 'folio/lazyload'
@import 'folio/lightbox'
@import 'folio/loader'
@import 'folio/devise'

@import 'folio/dropzone/dropzone'
@import 'folio/image/image'
@import 'folio/ui/atoms/atoms'
@import 'folio/leads/form/form'

@import 'modules/rich-text'

h1, .h1
  margin: 0 0 2 * $spacer

.d-atoms
  > :first-child
    margin-top: 0 !important

  > :last-child
    margin-bottom: 0 !important

.d-atom
  margin: 0 0 map-get($spacers, atom)

.folio-redactor-button a
  @extend .btn
  @extend .btn-primary

.f-devise
  padding: 0 $grid-gutter-width / 2
  max-width: 645px
  margin: $grid-gutter-width auto

@import '../../cells/dummy/**/*'
