.f-c-layout-sidebar
  display: flex
  flex-direction: column

  &__part
    flex: 0 0 auto

    &--overflowable
      flex-shrink: 1
      overflow-y: auto

    & + &
      border-top: 1px solid rgba(#979797, 0.42)

  &__title
    text-transform: uppercase
    font-weight: $font-weight-bold
    display: block
    padding: $grid-gutter-half

    &, &:hover, &:focus
      color: $white
      text-decoration: none

  &__part-title
    text-transform: uppercase
    font-weight:
    display: block
    color: #AAADAD
    font-weight: $font-weight-bold
    font-size: 11.5px
    line-height: 13px
    padding: 13px 30px 12px 15px
    position: relative
    cursor: pointer

    &::after
      content: ""
      display: block
      width: 0
      height: 0
      border-style: solid
      border-width: 0 5px 5px 5px
      border-color: transparent transparent $white transparent
      position: absolute
      top: 50%
      right: 12px
      transform: translate(0, -50%)

  &__group--collapsed &__part-title
    cursor: pointer

  &__group--collapsed &__part-title:hover
    background: rgba(#212529, 0.35)

  &__group--collapsed &__part-title::after
    transform: translate(0, -50%) rotate(180deg)

  &__ul
    margin: 0
    padding: 10px 0

  &__part-title + &__ul
    padding-top: 0

  &__ul + &__ul
    border-top: 1px solid rgba(#979797, 0.42)

  &__a
    display: flex
    align-items: center
    gap: $f-c-ui-with-icon-gap
    padding: 9px 15px 8px

    &, &:hover, &:focus
      color: $medium-gray
      text-decoration: none

    &--active
      font-weight: $font-weight-bold

      &, &:hover, &:focus
        color: $white

  &__a:hover &__span
    text-decoration: underline

  &__group + &__group
    border-top: 1px solid rgba(#979797, 0.42)

  &__group--collapsed &__ul
    display: none

  &__group--expanded
    background: #212529

  +mq-mobile-menu
    &:not(.slideout-menu)
      display: none
