.f-c-layout-sidebar
  background: $dark-gray
  color: $gray
  display: flex
  flex-direction: column

  &__part
    flex: 0 0 auto

    &--overflowable
      flex-shrink: 1
      overflow-y: auto

    & + &
      border-top: 1px solid rgba($gray, 0.4227)

  &__part-title
    text-transform: uppercase
    font-weight:
    display: block
    font-weight: $font-weight-bold
    font-size: 11.5px
    line-height: 13px
    padding: $grid-gutter-half $grid-gutter-width $grid-gutter-half $grid-gutter-half
    position: relative
    cursor: pointer

    &::after
      content: ""
      display: block
      width: 0
      height: 0
      border-style: solid
      border-width: 0 5px 5px 5px
      border-color: transparent transparent $gray transparent
      position: absolute
      top: 50%
      right: 12px
      transform: translate(0, -50%)

  &__group--collapsed &__part-title
    cursor: pointer

  &__group--collapsed &__part-title:hover
    background: rgba(#212529, 0.35)

  &__group--collapsed &__part-title::after
    transform: translate(0, -50%) rotate(180deg)

  &__ul
    margin: 0
    padding: $grid-gutter-width / 4 0

  &__li
    list-style: none

  &__part-title + &__ul
    padding-top: 0

  &__ul + &__ul
    border-top: 1px solid rgba($gray, 0.4227)

  &__a
    display: flex
    align-items: center
    gap: $f-c-ui-with-icon-gap
    padding: 9px $grid-gutter-width / 2 8px

    &, &:hover, &:focus
      color: $gray
      text-decoration: none

    &--active
      font-weight: $font-weight-bold

      &, &:hover, &:focus
        color: $white

  &__a:hover &__span
    text-decoration: underline

  &__group + &__group
    border-top: 1px solid rgba($gray, 0.4227)

  &__group--collapsed &__ul
    display: none

  &__group--expanded
    background: $f-c-overlays-black

  +mq-mobile-menu
    &:not(.slideout-menu)
      display: none
