.f-ai-c-text-suggestions-group-instructions data=component_data
  textarea.f-ai-c-text-suggestions-group-instructions__input.align-self-stretch[
    class="form-control"
    rows="2"
    placeholder=instructions_placeholder
    data=instructions_data
  ]
    = @stored_instruction

  = render(Folio::Console::Ui::ButtonComponent.new(size: :sm,
                                                   label: regenerate_label,
                                                   data: regenerate_data,
                                                   variant: "medium-dark",
                                                   class_name: "f-ai-c-text-suggestions-group-instructions__regenerate"))
