.d-atom-images
  overflow: hidden

  &__col
    margin: 0

  &__col--6:nth-child(n + 3),
  &__col--4:nth-child(n + 4)
    margin-top: $grid-gutter-width

  &__dynamic
    display: flex
    flex-wrap: wrap

  &__dynamic-item
    margin: floor($grid-gutter-width / 4)
    position: relative

  &__bottom-figcaption
    margin-top: $grid-gutter-width / 2
    padding-top: $grid-gutter-width / 2
    display: block

  +media-breakpoint-down(sm)
    &__row
      padding-left: $grid-gutter-width / 4
      padding-right: $grid-gutter-width / 4

    &__col
      padding-left: $grid-gutter-width / 4
      padding-right: $grid-gutter-width / 4

    &__col--6:nth-child(n + 3),
    &__col--4:nth-child(n + 4)
      margin-top: $grid-gutter-width / 2
