# frozen_string_literal: true

class <%= application_namespace %>::Ui::ConsolePreview::InvalidAtomComponent < ApplicationComponent
  def initialize(atom:, message: nil)
    @atom = atom
    @message = message
  end
end
