# frozen_string_literal: true

require "test_helper"

class <%= global_namespace %>::Molecule::Card::SmallCellTest < Cell::TestCase
  test "show" do
    atoms = Array.new(2) do
      create_atom(<%= global_namespace %>::Atom::Card::Small, :href, :title)
    end

    html = cell(atoms.first.class.molecule_cell_name, atoms).(:show)
    assert_equal 2, html.find_all(".<%= classname_prefix %>-ui-card").size
  end
end
