.<%= classname_prefix %>-atom.<%= classname_prefix %>-atom-quotation
  .container-fluid.<%= classname_prefix %>-rich-text
    p.lead.<%= classname_prefix %>-atom-quotation__text
      = cstypo model.text
