# frozen_string_literal: true

class <%= application_namespace %>::Menu::Footer < Folio::Menu
  include <%= application_namespace %>::Menu::Base
  include Folio::Singleton

  def self.max_nesting_depth
    1
  end
end
