.f-c-boolean-toggle
  position: relative
  transition: $transition-base

  &--loading
    cursor: wait
    opacity: 0.2

  &:not(&--show-label):not(&--verbose)
    width: 2.25rem

  &--show-label
    padding-right: 2.5rem

  &--show-label &__switch
    padding-left: 0

  &--show-label &__label
    &:before
      left: auto
      right: -2.25rem

    &:after
      left: auto
      right: calc(-2.25rem + 14px)

  &--show-label &__input:checked ~ &__label::after
    transform: translateX(0.75rem)

  &__label-on,
  &__label-off
    position: relative
    top: 1px

  &__input:not(:checked) ~ &__label &__label-on,
  &__input:checked ~ &__label &__label-off
    display: none
