.f-c-boolean-toggle
  position: relative
  transition: $transition-base
  display: flex
  align-items: center
  justify-content: center

  &__label
    position: relative
    padding-left: px-to-rem(24px)
    min-width: px-to-rem(24px)
    min-height: px-to-rem(24px)
    cursor: pointer
    display: inline-flex
    align-items: center

    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - #{px-to-rem(8px / 2)})
      left: 0
      height: px-to-rem(8px)
      width: px-to-rem(24px)
      border-radius: $border-radius
      background: $gray

    &::after
      content: ''
      display: block
      position: absolute
      top: calc(50% - #{px-to-rem(16px / 2)})
      left: 0
      width: px-to-rem(16px)
      height: px-to-rem(16px)
      border-radius: 100%
      transition: $transition-base
      background: $gray-medium-dark

  &__label-on,
  &__label-off,
  &__label-generic
    padding-left: px-to-rem(6px)

  &__input
    display: none

  &__input:checked ~ &__label
    &::after
      background: $blue
      transform: translate(#{px-to-rem(24px - 16px)}, 0)

  &--loading
    cursor: wait
    opacity: 0.2

  &:not(&--show-label):not(&--verbose)
    width: 2.25rem

  &--show-label
    padding-left: 2.5rem

  &--show-label &__switch
    padding-left: 0

  &--show-label &__label
    &:before
      left: -2.25rem

    &:after
      left: calc(-2.25rem + 14px)

  &--show-label &__input:checked ~ &__label::after
    transform: translateX(-12px)

  &__input:not(:checked) ~ &__label &__label-on,
  &__input:checked ~ &__label &__label-off
    display: none
