.f-c-boolean-toggle
  position: relative
  font-size: $font-size-sm

  &:not(&--show-label)
    width: 2.25rem

  &--show-label
    padding-right: 2.5rem

  &--show-label &__switch
    padding-left: 0

  &--show-label &__label
    &:before
      left: auto
      right: -2.25rem

    &:after
      left: auto
      right: calc(-2.25rem + 14px)

  &--show-label &__input:checked ~ &__label::after
    transform: translateX(0.75rem)
