div[
  class=class_name
  data-controller="f-c-boolean-toggle"
  data-f-c-boolean-toggle-loading-class="f-c-boolean-toggle--loading"
]
  .f-c-boolean-toggle__switch
    input.f-c-boolean-toggle__input[
      type="checkbox"
      class="f-c-dont-set-dirty-forms"
      id=id
      checked=input_checked?
      name=name
      data=input_data
    ]

    label.f-c-boolean-toggle__label[
      for=id
    ]
      - if options[:verbose]
        .f-c-boolean-toggle__label-on = verbose_label(true)
        .f-c-boolean-toggle__label-off = verbose_label(false)
      - else
        span.f-c-boolean-toggle__label-generic = input_label
