# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Molecule::PersonCellTest < Cell::TestCase
  test "show" do
    placement = create(:folio_page)

    atoms = Array.new(2) do
      create_atom(<%= application_namespace %>::Atom::Person, :name, placement:)
    end

    html = cell(atoms.first.class.molecule_cell_name, atoms).(:show)
    assert_equal 2, html.find_all(".<%= classname_prefix %>-molecule-person__atom").size
  end
end
