# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::ArticleMetaCellTest < Cell::TestCase
  test "show" do
    model = create(:<%= application_namespace_path %>_blog_article).to_ui_article_card_model
    html = cell("<%= application_namespace_path %>/ui/article_meta", model).(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-article-meta")
  end
end
