.f-c-pagination
  margin: $grid-gutter-width 0
  color: $gray-medium-dark
  display: flex
  gap: $grid-gutter-half $grid-gutter-width
  flex-wrap: wrap

  &__info
    max-width: 100%
    flex: 0 0 auto

  .card-body &:first-child,
  .f-c-r-modal &:first-child
    margin-top: 0

  &__nav
    display: flex
    align-items: center
    flex: 0 0 auto
    margin: -5px 0 -5px auto
    position: relative
    top: -1px

  &__pages
    display: flex
    align-items: center

  &__page
    position: relative
    flex: 0 1 auto

  &__page,
  &__page a
    color: $dark-gray
    text-decoration: none

  &__page--with-ico,
  &__page--with-ico a
    color: $gray

  &__page--page,
  &__page--page a
    display: block
    line-height: 24px
    min-width: 24px
    height: 24px
    border-radius: 100%
    text-align: center

  &__page--page a
    padding: 0 $spacer / 2

  &__page--current:before,
  &__page--current + &__page--page:before
    display: none

  &__page--current
    background: $dark-gray
    color: $white
    flex: 0 0 24px

  &__ico
    line-height: 24px
    width: 24px
    text-align: center

  +media-breakpoint-down(sm)
    &__nav
      justify-content: center

  @media screen and (max-width: 500px)
    &__page
      display: none

    &__page--with-ico,
    &__page--current
      display: block

    &__page--next
      &:before
        display: none !important
