.f-c-publishable-inputs-item
  padding: 0 15px
  display: flex
  flex-wrap: wrap
  gap: $grid-gutter-width / 2
  justify-content: center
  align-items: center
  position: relative
  background: $gray-200
  margin-right: $grid-gutter-half
  margin-bottom: $spacer
  min-height: $input-height

  .form-check-label
    min-height: $input-height
    display: flex
    align-items: center

  .form-check-input
    top: 50%
    margin-top: 0
    transform: translate(0, -50%)

  &--active
    background: #ccbed6

  &__group
    margin-bottom: 0

  &__date
    position: relative
    display: flex
    align-items: center
    margin: 0 -15px 0 0
    cursor: pointer

    &:not(:last-child)
      margin-right: $grid-gutter-width

  &__wrapper
    margin: 0

    .d-flex
      flex-direction: row-reverse

      &:after
        color: $black
        left: 0
        right: auto

  .simple_form &__wrapper + &__wrapper
    .d-flex
      &:after
        font-family: inherit !important
        content: '-' !important
        padding-bottom: 2px !important
        width: 25px !important
        justify-content: flex-start !important
        padding-left: 6px !important

  &__input
    font-size: 11px
    margin-left: -5px
    padding-top: 0
    padding-bottom: 0

    .simple_form .form-group.datetime &.f-input--date
      padding-left: $input-height
      padding-right: 0
      box-shadow: none !important
      border: none !important
      background: none !important
      cursor: pointer
      max-width: 135px

    &.form-control::placeholder
      color: rgba($input-color, .7)
      opacity: 1


