div class=class_name data=data
  .f-c-publishable-inputs-item__inner
    = f.input field,
              hint: false,
              as: :boolean,
              disabled: read_only?,
              input_html: input_html('checkbox', checkbox: true),
              wrapper_html: { class: 'f-c-publishable-inputs-item__group' },
              atom_setting: model[:atom_setting] == false ? nil : field

    - if date_at?
      .f-c-publishable-inputs-item__date.small
        = f.input "#{field}_at",
                  label: false,
                  hint: false,
                  disabled: read_only?,
                  wrapper_html:,
                  input_html: input_html('input', placeholder: t('.at')),
                  atom_setting: model[:atom_setting] == false ? nil : "#{field}_at"

    - elsif date_between?
      .f-c-publishable-inputs-item__date.small
        = f.input "#{field}_from",
                  label: false,
                  hint: false,
                  disabled: read_only?,
                  wrapper_html:,
                  input_html: input_html('input', placeholder: t('.from')),
                  atom_setting: model[:atom_setting] == false ? nil : "#{field}_from"

        = f.input "#{field}_until",
                  label: false,
                  hint: false,
                  disabled: read_only?,
                  wrapper_html:,
                  input_html: input_html('input', placeholder: t('.to')),
                  atom_setting: model[:atom_setting] == false ? nil : "#{field}_until"

  - if field == :published
    == render_view_component(Folio::Console::Ui::WarningRibbonComponent.new(text: t('.unpublished'),
                                                                            class_name: "f-c-publishable-inputs-item__warning-ribbon"))
