.f-file-list
  --f-file-list-item-width: #{21 * $grid-gutter-base}

  &__flex
    display: flex
    gap: $grid-gutter-base
    flex-wrap: wrap

  &__flex-item
    flex: 0 0 auto
    width: var(--f-file-list-item-width)
    aspect-ratio: 1 / 1
    position: relative
