.f-file-list
  &__flex
    display: flex
    gap: $grid-gutter-base
    flex-wrap: wrap

  &__flex-item
    flex: 0 0 auto
    width: 21 * $grid-gutter-base
    aspect-ratio: 1 / 1
    position: relative

  &--view-table &__flex
    display: block

  &--view-table &__flex-item
    width: 100%
    aspect-ratio: auto

    &--uppy
      display: none
