.f-nested-fields
  &__fields
    position: relative
    padding-right: 2 * $grid-gutter-width

  &__controls
    position: absolute
    top: 0
    right: 0

  &__control
    flex: 0 0 auto
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    width: 2 * $grid-gutter-width
    height: $input-height

  &__control--destroy
    color: $danger

  &__position
    position: absolute
    right: 0
    top: $input-height
