.f-c-show-header
  margin: 0 0 2 * $spacer
  padding: 0 0 2 * $spacer
  border-bottom: 1px solid $hr-border-color

  &__flex
    display: flex
    align-items: center

  &--no-border,
  &--tabs
    border-bottom: 0
    padding-bottom: 0

  &__titles
    margin: 0 $grid-gutter-width 0 0

  &__h1
    margin: 0

  &__h2
    margin: $spacer / 2 0 0

  &__right
    margin-left: auto
    padding-top: 5px
    display: flex
    align-items: center

  +media-breakpoint-up(md)
    &__titles
      flex: 1

  +media-breakpoint-down(md)
    &__flex
      display: block

    &__titles
      flex: 0 0 100%
      margin-bottom: $spacer / 2

    &__right
      flex-wrap: wrap

  +media-breakpoint-down(xs)
    &__right
      flex: 0 0 auto

    &__btn-ico
      margin-right: 0 !important

    &__btn-text
      display: none
