.f-c-show-header
  margin: 0 0 2 * $spacer
  padding: 0 0 2 * $spacer
  border-bottom: 1px solid $hr-border-color
  display: flex
  align-items: center
  flex-wrap: wrap

  &__h1
    margin: 0 $grid-gutter-width 0 0

  &__right
    margin-left: auto
    padding-top: 5px
    display: flex
    flex-wrap: wrap
    align-items: center
