.d-atom-margin
  &__console-hint
    height: map-get($spacers, gg) - px-to-rem(30px)
    margin-top: $grid-gutter-half
    margin-bottom: $grid-gutter-half
    display: flex
    align-items: center
    justify-content: center
    color: rgba($shade-black-contrast, 0.2)
    text-transform: uppercase
