.d-atom-margin
  &__console-hint
    height: map-get($spacers, gg) - 30px
    margin-top: 15px
    margin-bottom: 15px
    display: flex
    align-items: center
    justify-content: center
    color: rgba($black, 0.2)
    text-transform: uppercase
