.folio-console-index-position-button-group
  .folio-loader
    display: none

  .folio-console-loading &
    > *
      visibility: hidden

    > .folio-loader
      visibility: visible
      display: block

tr:first-child .folio-console-index-position-button[data-direction="up"],
tr:last-child .folio-console-index-position-button[data-direction="down"]
  @extend .disabled
  cursor: not-allowed
