# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Mailer::Cards::LotComponentTest < Folio::ComponentTest
  def test_render
    render_inline(<%= application_namespace %>::Mailer::Cards::LotComponent.new(author: "Author", name: "Item 1"))

    assert_selector(".<%= classname_prefix %>-mailer-cards-lot")
  end
end
