.f-devise-omniauth-authentications-list
  &__provider
    display: flex
    align-items: center

    &:nth-child(n + 2)
      margin-top: map-get($spacers, 2)

  &__action
    margin-left: $grid-gutter-width

  &__nickname
    flex: 1 1 auto

  &__nickname--missing
    color: $text-muted

  &__link-btn
    +unbutton
    text-decoration: $link-decoration
    cursor: pointer
    color: $link-color

    &:hover
      text-decoration: $link-hover-decoration
      color: $link-hover-color

  .f-devise-omniauth-icon
    margin: -5px 10px -5px 0

