.f-c-pretty-tags
  display: flex
  flex-wrap: wrap
  margin: -0.25rem

  &__tag
    margin: 0.25rem
    border-radius: 2px
    color: #333333
    font-size: 12px
    overflow: hidden
    padding: 3px 6px
    text-overflow: ellipsis
    white-space: nowrap
    box-sizing: border-box
    background: #e6e6e6
