# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::Contents::ImageAndTextComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::Contents::ImageAndText, :cover, :title)

    render_inline(<%= application_namespace %>::Atom::Contents::ImageAndTextComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-contents-image-and-text")
  end
end
