.d-mailer-button
  a.d-mailer-button__btn[
    href=(@href.present? ? @href : "#")
    class="btn btn-#{type} btn-#{size}"
    target="_blank"
    rel="noopener"
  ]
    /[if mso]
      = mso_padding_start

    = label

    /[if mso]
      = mso_padding_end
