$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-footer
    width: 100%
    max-width: 648px

    &__logo-wrapper, &__contact-wrapper
      padding: 32px 0 0 0

    &__socials-title-wrapper
      padding: 40px 0 16px 0

    &__socials-table-wrapper
      padding: 0 0 32px 0

    &__menu-wrapper
      padding: 0

    &__legal-wrapper
      +mailer-font-size-text-m
      padding: 16px 0 32px 0
      color: $cloud-400

    &__logo-link
      display: inline-block

    &__contact-title, &__socials-title
      +mailer-font-size-display-xs
      display: block

    &__contact-title
      margin: 0 0 16px 0

    &__contact-detail
      +mailer-font-size-text-m
      display: block
      margin: 0 0 4px 0

      &:last-child
        margin: 0
