$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-header
    width: 100%
    max-width: 648px

    &__inner
      padding: $mailer-gap-g 0 $mailer-gap-g 0

    &__logo-link
      display: inline-block
