table.d-mailer-header[
  role="presentation"
]
  tr
    td.d-mailer-header__inner
      a[
        href="#"
        class="d-unlink"
        class="d-mailer-header__logo-link"
      ]
        img[
          src="https://auctea-com.s3.amazonaws.com/auctea/mailer/auctify_logo.svg"
          alt="logo"
          width="170"
        ]
