$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-header
    width: 100%
    background: $primary-white

    &__inner
      padding: 32px 0 32px 0

    &__logo-link
      display: inline-block
