$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-header
    width: 100%
    background: $primary-white

    &__inner
      padding: 32px 0 32px 0

    &__logo-link
      display: inline-block
      width: 130px
      height: 60px
      background-color: $cloud-100
      border-radius: 64px
      text-align: center

    &__logo
      display: inline-block
      margin: 7px 0 0 0
