table.d-mailer-header[
  role="presentation"
]
  tr
    td.d-mailer-header__inner
      a[
        href="#"
        class="d-unlink"
        class="d-mailer-header__logo-link"
      ]
        h1.d-mailer-header__logo
          ' Logo

        /<img src="" alt="" width="300" style="height:auto;display:block;">
