$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-layout
    &__table
      width: 100%
      background: $primary-white

    &__main-wrapper
      padding: 0

    &__container
      width: 744px
      text-align: left

    &__wrapper
      padding: 0 48px 0 48px

    &__content
      width: 100%
      background: $primary-white

    &__content-inner
      padding: 0 0 80px 0
