/ Preview text (is hidden in template)
- if preview_text.present?
  = render(Dummy::Mailer::PreviewTextComponent.new(text: preview_text))

.d-mailer-layout[
  aria-roledescription="email"
  role="presentation"
  lang=I18n.locale
]
  table.d-mailer-layout__table[
    role="presentation"
  ]
    tr
      td.d-mailer-layout__main-wrapper[
        align="center"
      ]
        /[if mso]
          <table role="presentation" align="center" style="width:744px;">
          <tr>
          <td>

        table.d-mailer-layout__container[
          role="presentation"
        ]
          tr
            td.d-mailer-layout__wrapper[
              align="center"
            ]
              = render(Dummy::Mailer::HeaderComponent.new(site: @site, logo: true))

          tr
            td.d-mailer-layout__wrapper[
              align="center"
            ]
              table.d-mailer-layout__content[
                role="presentation"
              ]
                tr
                  td.d-mailer-layout__content-inner
                    = content

        /[if mso]
          </td>
          </tr>
          </table>

    tr
      td.d-mailer-layout__footer-wrapper[
        class="d-mailer-layout__footer"
        align="center"
      ]
        /[if mso]
          <table role="presentation" align="center" style="width:744px;">
          <tr>
          <td>

        table.d-mailer-layout__container[
          role="presentation"
        ]
          tr
            td.d-mailer-layout__wrapper[
              align="center"
            ]
              = render(Dummy::Mailer::FooterComponent.new(site: @site, logo: true))

        /[if mso]
          </td>
          </tr>
          </table>
