$d-mailer-styles: false !default

@if $d-mailer-styles
  .d-mailer-socials
    &__social-link-wrapper
      width: 56px

      &:first-child
        width: 44px

      &:last-child
        width: 44px

    &__social-link
      color: $primary-black
