$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-socials
    &__social-link-wrapper
      width: 32px
      padding: 0 12px 0 12px

      &:first-child
        padding: 0 12px 0 0

      &:last-child
        padding: 0 0 0 12px

    &__social-link
      color: $black
