# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::QuotationComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::Quotation, :content)

    render_inline(<%= application_namespace %>::Atom::QuotationComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-quotation")
  end
end
