= index_header do |header|
  - header.with_right_content do
    .d-flex.gap-2
      = simple_form_for "", url: url_for([:invalidate_all, :console, Folio::Cache::Version]), method: :post, html: { class: "d-inline" } do |f|
        = render(Folio::Console::Ui::ButtonComponent.new(type: :submit,
                                                         variant: :warning,
                                                         icon: :reload,
                                                         label: t("folio.console.folio.cache.versions.invalidate_all_button"),
                                                         confirm: true))

      = simple_form_for "", url: url_for([:clear_rails_cache, :console, Folio::Cache::Version]), method: :post, html: { class: "d-inline" } do |f|
        = render(Folio::Console::Ui::ButtonComponent.new(type: :submit,
                                                         variant: :danger,
                                                         icon: :delete,
                                                         label: t("folio.console.folio.cache.versions.clear_rails_cache_button"),
                                                         confirm: true))

= catalogue(@versions)
  ruby:
    attribute :key

    attribute :updated_at do
      l(record.updated_at, format: "%-d. %-m. %Y, %-H:%M:%S")
    end

    actions({ invalidate: {
      name: :invalidate,
      icon: :reload,
      method: :post,
      confirm: true,
      url: -> (record) { url_for([:invalidate, :console, record]) }
    } }, :destroy)
