div[
  class=wrapper_classes
  data=data
]
  button.f-ai-c-text-suggestions__button[
    type="button"
    id=button_id
    aria-expanded="false"
    aria-controls=@component_id
    data=stimulus_data(action: { click: "toggle" }, target: "button")
  ]
    = sparkles_icon
    span.f-ai-c-text-suggestions__button-label = button_label

  button.f-ai-c-text-suggestions__undo[
    type="button"
    id=undo_id
    hidden=true
    data=stimulus_data(action: { click: "undo" }, target: "undoButton")
  ]
    = undo_icon
    span.f-ai-c-text-suggestions__undo-label = undo_label
