# frozen_string_literal: true

require "test_helper"

class <%= global_namespace %>::Molecule::DocumentsCellTest < Cell::TestCase
  test "show" do
    documents = create_list(:folio_document, 1)

    atoms = Array.new(2) do
      create_atom(<%= global_namespace %>::Atom::Documents, documents: documents)
    end

    html = cell(atoms.first.class.molecule_cell_name, atoms).(:show)
    assert_equal 2, html.find_all(".<%= classname_prefix %>-atom-documents__atom").size
  end
end
