.f-c-ai-site-settings
  &__intro
    margin-bottom: $grid-gutter-width

  &__integration-title
    font-weight: $font-weight-bold

  &__field
    padding-top: $grid-gutter-width
    margin-top: $grid-gutter-width
    border-top: 1px solid $gray

  &__field-header
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    gap: px-to-rem(8px)
    margin-bottom: px-to-rem(8px)

  &__field-hint
    color: $gray-500
