= catalogue(revisions)
  ruby:
    attribute(:created_at, in: :audit, format: :short, label: nil)
    attribute(:title)
    attribute(:slug)
    attribute(:meta_title)
    attribute(:published)
    attribute(:published_at)
    attribute(:featured)
    audit_user
