= index_header

= catalogue(@catalogue_model, @catalogue_options)
  ruby:
    edit_link :title
    locale_flag if Rails.application.config.folio_pages_translations
    type
    featured_toggle
    published_toggle
    date(:published_at)

    preview_path = nil
    if record.is_a?(Folio::Page)
      preview_path = controller.main_app.page_path(record.to_preview_param)
    end

    actions({ preview: preview_path }, :edit, :destroy)

    transportable_dropdown
