@keyframes fCFormFooterHeartBeat
  0%
    transform: scale(1)
  14%
    transform: scale(1.25)
  28%
    transform: scale(1)
  42%
    transform: scale(1.25)
  70%
    transform: scale(1)

.f-c-form-footer-spacer,
.f-c-form-footer
  min-height: 60px

  &--with-audit
    min-height: 60px + 50

  +mq-desktop-menu
    min-height: 68px

    &--with-audit
      min-height: 68px + 50

.f-c-form-footer
  position: fixed
  left: 0
  right: 0
  bottom: 0
  z-index: 999
  pointer-events: all
  cursor: default

  &__inner
    padding-top: $grid-gutter-width / 2
    padding-bottom: $grid-gutter-width / 2
    background: $white
    box-shadow: $f-c-box-shadow-card

  .modal &
    position: relative
    inset: 0 !important
    margin-top: $grid-gutter-width
    min-height: 0 !important
    z-index: 1

    &__inner
      box-shadow: none
      padding: 0 !important

    &__container
      padding: 0 !important

  .f-c-layout-html.slideout-open &
    display: none

  &__container
    display: flex
    flex-wrap: wrap
    gap: $f-c-ui-buttons-gap

  &__status
    flex: 0 0 auto
    position: relative

  &__status-saved,
  &__status-saving,
  &__status-unsaved
    visibility: hidden

  &__status-saved,
  &__status-saving
    position: absolute
    top: 0
    bottom: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    width: 16px

  &__btn--submit
    position: relative

  &__submit-btn-indicator
    position: absolute
    inset: -1 * $input-border-width
    background: rgba(255, 255, 255, 0.4)
    transform: scaleX(0)
    transform-origin: top left
    z-index: 0
    display: block
    transition: transform 0.1s linear
    will-change: transform

  &[data-f-c-form-footer-status-value="saved"] &__status-saved,
  &[data-f-c-form-footer-status-value="saving"] &__status-saving,
  &[data-f-c-form-footer-status-value="unsaved"] &__status-unsaved
    visibility: visible

  &[data-f-c-form-footer-status-value="unsaved"] &__btn--submit
    animation: fCFormFooterHeartBeat 1.5s 1 linear

  &__left,
  &__right
    display: flex
    align-items: center
    gap: 0.5 * $grid-gutter-base 2 * $grid-gutter-base
    flex: 0 0 auto

  &__right
    margin-left: auto
    flex: 0 1 auto

  &__share
    display: flex
    align-items: center
    gap: $f-c-ui-with-icon-gap

  &__collapsible-backdrop,
  &__settings-backdrop
    position: absolute
    top: -100vh
    left: -100vw
    width: 200vw
    height: 200vh
    z-index: 2
    display: none

  &__settings
    position: relative

  &__settings-toggle
    cursor: pointer
    display: flex
    align-items: center
    align-self: stretch

  &__settings-content
    position: absolute
    z-index: 3
    bottom: 100%
    right: 0
    margin-bottom: $grid-gutter-base
    box-shadow: $f-c-box-shadow-overlay
    background: $dropdown-bg
    display: none
    padding: 2 * $grid-gutter-base $dropdown-item-padding-x

  &[data-f-c-form-footer-settings-value="true"] &__settings-content,
  &[data-f-c-form-footer-settings-value="true"] &__settings-backdrop
    display: block

  @media screen and (min-width: 1180px)
    &__btn--collapsible
      display: none

    &__collapsible
      order: 1

    &__collapsible-content
      display: flex
      align-items: center
      gap: 2 * $grid-gutter-base

    &__btn--preview
      order: 2

  @media screen and (max-width: 1179px)
    &__right .f-c-ui-button__label
      display: none

    &__right .f-c-ui-button__icon
      margin: $f-c-ui-button-no-label-icon-margin

    &__collapsible
      position: relative

    &__collapsible-content
      --f-c-audited-dropdown-align-items: stretch
      --f-c-audited-dropdown-flex-direction: column
      position: absolute
      z-index: 3
      bottom: 100%
      right: 0
      margin-bottom: $grid-gutter-base
      box-shadow: $f-c-box-shadow-overlay
      background: $dropdown-bg
      display: none
      flex-direction: column
      align-items: stretch
      padding: 2 * $grid-gutter-base $dropdown-item-padding-x
      gap: 2 * $grid-gutter-base

    &[data-f-c-form-footer-collapsed-value="false"] &__collapsible-content
      display: flex

    &[data-f-c-form-footer-collapsed-value="false"] &__collapsible-backdrop
      display: block

  +mq-desktop-menu
    left: 220px

    &__inner
      padding-top: 2 * $grid-gutter-width / 3
      padding-bottom: 2 * $grid-gutter-width / 3

    &,
    .f-c-simple-form-with-atoms &
      width: calc(100% - 220px)

.f-c-form-footer-spacer
  .modal &
    display: none !important

.f-c-form-footer-form-saving
  cursor: wait

  &:not(.f-c-simple-form-with-atoms) > *:not(.f-c-form-footer),
  &.f-c-simple-form-with-atoms .f-c-simple-form-with-atoms__scroll
    pointer-events: none
    opacity: 0.5
