.f-c-form-header
  margin: 0 0 2 * $spacer

  &:empty
    display: none

  &__title-wrap
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: $grid-gutter-width / 2

  &__inner
    display: flex
    align-items: center

  &__right
    flex: 0 0 auto
    margin-left: auto
    padding-left: $grid-gutter-width

  &__h2
    margin: $spacer / 2 0 0
