// see app/cells/folio/console/atoms/previews/previews.sass
// code is here as it would get included by
// @import '../../../../cells/folio/console/**/*'
// in app/assets/stylesheets/folio/console/base.sass
// otherwise

// $fa-font-path: 'font-awesome/webfonts' !default

@import 'folio/utilities'

// @import 'font-awesome/scss/fontawesome'
@import 'folio/console/variables'
@import 'folio-bootstrap-5/scss/functions'
@import 'folio-bootstrap-5/scss/variables'
@import 'folio-bootstrap-5/scss/mixins'
// @import 'folio/console/plugin-overrides/font-awesome'
// @import 'folio/console/modules/font-awesome'
// @import 'folio/material-icons'
@import 'folio/console/with_icon/with_icon'

= button-style
  +unbutton
  flex: 0 0 24px
  width: 24px
  height: 24px
  min-width: 24px
  padding: 0
  display: inline-flex
  align-items: center
  justify-content: center
  border: 1px solid #BFC4C4
  font-size: 14px

.f-c-layout-atoms__html
  overflow-y: auto

.f-c-atoms-previews
  $insert-bg: #6C757E

  @if is-px($grid-gutter-width)
    padding: calc(#{$grid-gutter-width + 10px} + #{$input-btn-focus-width}) $grid-gutter-width (( 105px + $grid-gutter-width ))
  @else
    padding: calc(#{$grid-gutter-width + px-to-rem(10px)} + #{$input-btn-focus-width}) $grid-gutter-width (( px-to-rem(105px) + $grid-gutter-width ))

  &--non-interactive
    padding: $grid-gutter-width / 2

  &__preview
    position: relative
    z-index: 2

    &:first-of-type > :first-child
      margin-top: 0

    &:last-of-type > :first-child
      margin-bottom: 0

  &__preview-placeholder
    background: #E6F4FA
    position: relative
    z-index: 2

    .f-c-atoms-previews__controls
      visibility: hidden !important

    .f-c-atoms-previews__preview-inner
      > *
        margin: 0 !important

    &--scaled
      height: 130px
      .f-c-atoms-previews__preview-inner
        opacity: 0.5
        transform-origin: center top
        position: relative
        top: 15px

  .ui-sortable-helper
    display: none !important

  &__locale
    position: relative

  &__controls
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2
    visibility: hidden
    cursor: pointer

    &:before
      position: absolute
      content: ""
      display: block
      pointer-events: none
      top: -10px
      left: -10px
      right: -10px
      bottom: -10px
      border: 1px dashed rgba(#589E92, 0.79)

  &__label,
  &__perex,
  &__setting
    position: relative
    min-height: 10px
    z-index: 2

  &__buttons
    position: absolute
    top: -12px - 10px
    right: -12px - 10px
    display: flex
    height: 24px + 10px
    z-index: 2

  &__button
    +button-style
    margin-left: 15px

    &--edit
      +button-variant($secondary, $secondary)

      .f-c-atoms-previews__preview[data-contentable="false"] &
        display: none

    &--settings
      +button-variant($secondary, $secondary)
      margin-right: 20px

    &--arrow
      +button-variant($white, $white)
      &, &:hover, &:focus
        border-color: #BFC4C4

    &--handle
      +button-variant($white, $white)
      cursor: move
      &, &:hover, &:focus
        border-color: #BFC4C4

    &--remove
      +button-variant($danger, $danger)

  &__controls-overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1

  &__insert
    position: absolute
    left: 0
    right: 0
    z-index: 1
    opacity: 0
    font-weight: 400
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    letter-spacing: normal
    min-height: 20px
    margin-top: -0.5 * $spacer

    &:before
      content: ''
      display: block
      height: 20px
      position: absolute
      top: -20px
      left: 0
      right: 0

    &--active
      position: relative

    &:hover
      opacity: 1

  &__insert--last
    opacity: 1
    position: relative

    &:not(:only-child)
      margin-top: 2 * $grid-gutter-width

  &__insert-hint
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 20px
    cursor: pointer

    &:before
      content: ''
      border-top: 1px dashed rgba(#589E92, 0.79)
      width: 100%
      position: absolute
      top: 0
      left: 0
      display: block
      z-index: 1

  &__insert-hint-btn
    +button-style
    +button-variant($secondary, $secondary)
    width: 20px
    height: 20px
    flex: 0 0 20px
    min-width: 20px
    border-radius: 100%
    position: absolute
    top: -10px
    left: 50%
    margin-left: -10px
    z-index: 2

  &__insert-hint-big-btn
    +button-style
    +button-variant($secondary, $secondary)
    display: none
    height: 35px
    min-width: 140px
    border-radius: 26px
    position: absolute
    top: 0
    left: 50%
    z-index: 2
    transform: translate(-50%, -50%)
    font-size: 14px

    .mi
      font-size: 16px

  &__insert--last &__insert-hint-btn
    display: none

  &__insert--last &__insert-hint-big-btn
    display: inline-flex

  &__insert-ul
    background: $secondary
    padding: $grid-gutter-width / 2 0
    margin: 0
    display: flex
    flex-wrap: wrap

    & + &
      border-top: 1px solid rgba($white, 0.3)

    &, .mi, .fa
      font-size: 14px

  &__insert-li
    flex: 0 0 100%
    padding: 0 $grid-gutter-width / 2
    display: flex
    flex-direction: column

    @media screen and (min-width: 600px)
      flex-basis: 50%

    @media screen and (min-width: 900px)
      flex-basis: 33.3333%

    @media screen and (min-width: 1200px)
      flex-basis: 25%

  &__insert-a
    padding: 10px
    width: 100%
    display: flex
    align-items: center
    flex: 1 0 auto

    .mi, .fa
      margin-right: 7px

    &, &:hover, &:focus
      color: $white
      text-decoration: none

    &:hover, &:focus
      background: darken($secondary, 7.5%)

  &__insert--active
    z-index: 3

  &__insert--active &__insert-hint:before
    display: none

  &__insert:not(&__insert--active) &__insert-inner
    display: none

  &__insert-spacer
    margin-top: 100px
    pointer-events: none
    visibility: hidden

  &__locale--active-insert + &__insert-spacer
    display: none

  &__insert-spacer &__insert
    position: relative !important

  &__insert-spacer &__insert-inner
    display: block !important

  &__insert-splittable-join-trigger
    position: absolute
    top: -7px
    left: 10px
    cursor: pointer
    padding: 0 4px
    background: $white
    z-index: 2
    display: none

  &__preview--splittable-can-be-joined + &__insert:not(&__insert--active) &__insert-splittable-join-trigger
    display: block

  html.media-breakpoint-up-lg &
    &__preview:hover,
    &__label:hover,
    &__perex:hover,
    &__setting:hover
      .f-c-atoms-previews__controls
        visibility: visible

    .ui-sortable--dragging
      cursor: move

    .ui-sortable--dragging .f-c-atoms-previews__controls
      visibility: visible

    .ui-sortable--dragging .f-c-atoms-previews__settings .f-c-atoms-previews__controls,
    .ui-sortable--dragging .f-c-atoms-previews__buttons,
    .ui-sortable--dragging .f-c-atoms-previews__insert
      visibility: hidden

    &__controls-mobile-overlay
      display: none

  html.media-breakpoint-down-md &
    &__insert
      opacity: 1

    &__controls
      visibility: visible

    &__button
      width: 40px
      height: 40px
      flex: 0 0 40px
      font-size: 20px

      &:first-child
        margin-left: 0

      &--handle
        display: none

    &__buttons
      position: absolute
      z-index: 3
      top: 50%
      left: 50%
      right: auto
      height: auto
      padding: 15px
      transform: translate(-50%, -50%)
      background: $white
      border: 1px solid #979797
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3)

    &__controls-mobile-overlay
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 2

    &__controls--active .f-c-atoms-previews__controls-mobile-overlay
      display: none

    &__controls:not(.f-c-atoms-previews__controls--active)
      opacity: 0

    &__controls:not(.f-c-atoms-previews__controls--active) .f-c-atoms-previews__buttons
      display: none
