# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::FooterCellTest < Cell::TestCase
  test "show" do
    create_and_host_site
    html = cell("<%= application_namespace_path %>/ui/footer", nil).(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-footer")
  end
end
