# frozen_string_literal: true

class <%= application_namespace %>::Ui::FooterCell < ApplicationCell
  def menu
    @menu ||= current_footer_menu
  end

  def social_links
    if current_site.social_links.present?
      allowed = %w[facebook instagram linkedin pinterest tiktok twitter youtube]
      current_site.social_links.slice(*allowed).select { |key, val| val.present? }
    end
  end
end
