.f-c-files-show-thumbnails-crop-edit[
  data=data
  class="f-c-files-show-thumbnails-crop-edit--mode-#{mode}"
]
  .f-c-files-show-thumbnails-crop-edit__thumb[style=thumb_style]
    - if image_url
      img.f-c-files-show-thumbnails-crop-edit__thumb-img[
        loading="lazy"
        src=image_url
        data=image_data
      ]
    - else
      .f-c-files-show-thumbnails-crop-edit__thumb-empty
        = folio_icon(:close)

    - if @can_update
      button.f-c-files-show-thumbnails-crop-edit__crop-btn[
        type="button"
        title=t('.edit')
        data=stimulus_action(click: "startEditing")
      ]
        = folio_icon(:crop)

  .f-c-files-show-thumbnails-crop-edit__overlay
    .f-c-files-show-thumbnails-crop-edit__backdrop[
      data=stimulus_action(click: "cancelEditing")
    ]
    .f-c-files-show-thumbnails-crop-edit__modal
      .f-c-files-show-thumbnails-crop-edit__modal-header
        h4.f-c-files-show-thumbnails-crop-edit__title.m-0
          = label
        button.f-c-files-show-thumbnails-crop-edit__close[
          type="button"
          data=stimulus_action(click: "cancelEditing")
        ]
          = folio_icon(:close)

      - if @can_update
        .f-c-files-show-thumbnails-crop-edit__editor.mt-3[
          data=stimulus_target("editor")
        ]
          .f-c-files-show-thumbnails-crop-edit__editor-inner[
            style=editor_inner_style
            data=stimulus_target("editorInner")
          ]
            img.f-c-files-show-thumbnails-crop-edit__editor-img[
              src=Folio::S3.url_rewrite(@file.file.remote_url)
              data=stimulus_target("editorImage")
              width=image_width
              height=image_height
            ]

          span.f-c-files-show-thumbnails-crop-edit__editor-loader[
            class="folio-loader"
            class="folio-loader--transparent"
          ]

        = buttons_while_editing
