.f-c-files-show-thumbnails-crop-edit[
  data=data
  class="f-c-files-show-thumbnails-crop-edit--#{@variant}"
]
  .f-c-files-show-thumbnails-crop-edit__thumb[style=thumb_style]
    - if image_url
      img.f-c-files-show-thumbnails-crop-edit__thumb-img[
        loading="lazy"
        src=image_url
        data=image_data
      ]

    - else
      .f-c-files-show-thumbnails-crop-edit__thumb-empty
        = folio_icon(:close)

    - if @can_update
      button.f-c-files-show-thumbnails-crop-edit__crop-btn[
        type="button"
        title=t('.edit')
        data=stimulus_action(click: "startEditing")
      ]
        = folio_icon(:crop,
                     height: 24,
                     class_name: "f-c-files-show-thumbnails-crop-edit__crop-btn-icon")

  dialog.f-c-files-show-thumbnails-crop-edit__overlay[
    aria-label=t('.edit')
    data=overlay_data
  ]
    .f-c-files-show-thumbnails-crop-edit__modal
      .f-c-files-show-thumbnails-crop-edit__contain[
        data=stimulus_target("contain")
      ]
        img.f-c-files-show-thumbnails-crop-edit__image[
          alt=""
          src=Folio::S3.url_rewrite(@file.file.remote_url)
          data=stimulus_target("image")
        ]

      = modal_buttons

      button.f-c-files-show-thumbnails-crop-edit__close[
        type="button"
        title=t("folio.console.actions.close")
        data=stimulus_action(click: "cancelEditing")
      ]
        = folio_icon(:close, height: 24)
