.f-c-files-show-thumbnails-details
  margin-top: $grid-gutter-width

  &__all-list
    display: flex
    flex-direction: column

  &__heading
    font-size: $h2-font-size
    line-height: 1.2
    margin: 0 0 $grid-gutter-width
