.f-c-files-show-thumbnails-list-group
  & + &
    margin-top: $grid-gutter-width

  &__header
    align-items: center
    display: flex
    gap: $grid-gutter-half
    margin-bottom: $grid-gutter-half

  &__representative-img
    border-radius: $border-radius
    display: block
    max-height: 48px
    max-width: 96px
    object-fit: contain

  &__ratio-label,
  &__label
    display: block
    font-weight: bold

  &__count
    color: $text-muted

  &__thumbs
    display: flex
    flex-direction: column
    gap: $grid-gutter-half
