.f-c-files-show-thumbnails-ratio
  align-items: flex-start
  display: flex
  flex-direction: column
  justify-content: center

  &__label
    color: #A8A9AA
    font-size: px-to-rem(12px)
    line-height: 1.4
    margin: 0
