.container-fluid
  max-width: $container-fluid-max-width
  padding-left: map-get($spacers, gg)
  padding-right: map-get($spacers, gg)

  & &:not(.container-fluid--forced-padding)
    padding-left: 0
    padding-right: 0
    max-width: 100%

  +media-breakpoint-down(xl)
    padding-left: map-get($spacers, 5)
    padding-right: map-get($spacers, 5)

  +media-breakpoint-down(md)
    padding-left: $grid-gutter-half
    padding-right: $grid-gutter-half
