.modal-header
  +font-h3
  color: $black

.modal-body > :last-child
  margin-bottom: 0

.modal-footer
  justify-content: flex-start
  padding-top: 0
  padding-bottom: $modal-inner-padding - $spacer

  > *
    margin: 0 $spacer $spacer 0

  > .btn-xs-block
    +media-breakpoint-down(sm)
      margin-right: 0
