= render(Folio::Console::Ui::TurboFrameWithLoaderComponent.new(id: Folio::Console::Files::ShowComponent::TURBO_FRAME_ID,
                                                               turbo_action: "advance"))
  = render(Folio::Console::Files::ShowComponent.new(file: @file))
