.f-c-links-modal-url-picker
  background: $medium-gray
  padding: px-to-rem(20px)
  margin-bottom: $f-c-form-group-spacer
  position: relative
  flex: 0 0 auto

  .nav-tabs
    border-color: $gray
    margin-bottom: 2 * $grid-gutter-base

  &__value-outer-wrap
    position: relative

  &__value-loader
    background: $medium-gray
    opacity: 0.8

  &[data-f-c-links-modal-url-picker-value-loading-value="false"] &__value-loader,
  &[data-f-c-links-modal-url-picker-value-present-value="false"] &__value-wrap,
  &[data-f-c-links-modal-url-picker-value-present-value="true"] &__list-wrap,
  &[data-f-c-links-modal-url-picker-list-loading-value="false"] &__list-loader
    display: none

  &[data-f-c-links-modal-url-picker-filtering-value="false"] &__list-filters-cancel-button
    visibility: hidden

  &__list-filter
    position: relative
    flex: 0 1 auto
    max-width: 115px

    .form-group
      margin-bottom: 0

    .form-group__custom-html
      position: absolute
      top: 0
      right: 0
      width: $input-height
      height: $input-height
      display: flex
      align-items: center
      justify-content: center
      pointer-events: none
      z-index: 2

  &__list-filter--q
    max-width: 195px

  &__list-filter--published_within
    max-width: 160px

  &__list-filter--additional
    max-width: 115px
    min-width: 115px
    flex-wrap: nowrap

  &__list-filter-input--q
    padding-right: $input-height

  &__list-filter-input--published_within
    min-width: 160px

  &__list-filters-form
    display: flex
    align-items: flex-start
    gap: $grid-gutter-base
    margin-bottom: 2 * $grid-gutter-base

  &__list-filters-flex
    display: flex
    align-items: flex-start
    gap: $grid-gutter-base
    flex-wrap: wrap
    flex: 1 1 auto

  &__list-inner
    position: relative

  &__list-filter-inner
    flex: 1 1 auto
    min-width: 50px

  &__list-filter-append
    flex: 0 0 auto

  &__list-filter:not(&__list-filter--active) &__list-filter-append
    display: none
