.d-atom-contact-form
  &__inner
    max-width: 980px

  .f-leads-form
    &__bottom
      display: flex
      flex-wrap: wrap
      align-items: center

    &__submit-wrap
      flex: 0 0 auto
      order: 1
      margin-right: $grid-gutter-width

    &__recaptcha
      flex: 0 0 auto
      order: 2
      max-width: 100%
      margin-bottom: 0

    &__message
      +font-size-lg
      justify-content: flex-start
      align-items: flex-start
