# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Blog::Articles::CardComponentTest < Folio::ComponentTest
  def test_render
    create_and_host_site

    article = create(:<%= application_namespace_path %>_blog_article)

    render_inline(<%= application_namespace %>::Blog::Articles::CardComponent.new(article:))

    assert_selector(".<%= classname_prefix %>-blog-articles-card")
  end
end
