.f-c-catalogue-cover
  = folio_console_ui_image(@file,
                           nil,
                           contain: true,
                           lightbox: @lightbox,
                           href: @href)
