# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Ui::HeaderCellTest < Cell::TestCase
  test "show" do
    create_and_host_site

    html = cell("<%= application_namespace_path %>/ui/header", nil).(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-header")

    <%= application_namespace %>::Menu::Header.create!(locale: :en, site: @site)
    html = cell("<%= application_namespace_path %>/ui/header", nil).(:show)
    assert html.has_css?(".<%= classname_prefix %>-ui-header")
  end
end
