# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::Leads::FormComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::Leads::Form)

    render_inline(<%= application_namespace %>::Atom::Leads::FormComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-leads-form")
  end
end
