$<%= classname_prefix %>-mailer-styles: false !default

@if $<%= classname_prefix %>-mailer-styles
  h1, .h1
    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
      font-size: $mailer-ui-typo-display-s-font-size !important
      line-height: $mailer-ui-typo-display-s-line-height !important
      letter-spacing: $mailer-ui-typo-display-s-letter-spacing !important

  h2, .h2
    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
      font-size: $mailer-ui-typo-display-xs-font-size !important
      line-height: $mailer-ui-typo-display-xs-line-height !important
      letter-spacing: $mailer-ui-typo-display-xs-letter-spacing !important

  h3, .h3
    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
      font-size: $mailer-ui-typo-display-2xs-font-size !important
      line-height: $mailer-ui-typo-display-2xs-line-height !important
      letter-spacing: $mailer-ui-typo-display-2xs-letter-spacing !important
      margin: $mailer-gap-f 0 $mailer-gap-b 0 !important

  h4, .h4,
  h5, .h5,
  h6, .h6
    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
      font-size: $mailer-ui-typo-display-3xs-font-size !important
      line-height: $mailer-ui-typo-display-3xs-line-height !important
      letter-spacing: $mailer-ui-typo-display-3xs-letter-spacing !important

  .btn-md,
  .btn-redactor--fill
    +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
      font-size: $mailer-ui-typo-text-xs-font-size !important
      line-height: $mailer-ui-typo-text-xs-line-height !important
