.d-atom-image-and-content
  &[data-bs-theme="dark"]
    background: transparent

  &__inner
    position: relative

  &--background &__inner
    background-color: $shade-100
    padding: map-get($gaps, d) 0

  &__row
    display: flex
    flex-wrap: wrap

  &__image-wrap
    overflow: hidden
    width: 100%
    display: flex
    align-items: center

  &__image
    border-radius: $border-radius
    width: 100%

  &__content
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-top: map-get($gaps, e)

  &--centered-content &__content
    justify-content: center

  &__title
    margin: 0 0 map-get($gaps, b) 0

  &__subtitle
    font-weight: $font-weight-semibold
    margin-bottom: map-get($gaps, b)

  &__text
    margin-bottom: map-get($gaps, d)
    position: relative
    z-index: 11

    p:last-child
      margin-bottom: 0

  &__btn
    margin: map-get($gaps, a) 0

    &::before
      content: ''
      display: block
      position: absolute
      inset: 0
      z-index: 10

  +media-breakpoint-up(sm)
    &:not(&--image-right) &__content
      padding: map-get($gaps, f) map-get($gaps, b) map-get($gaps, f) px-to-rem(36px)

    &--image-right &__row
      flex-direction: row-reverse

    &--image-right &__content
      padding: map-get($gaps, f) px-to-rem(20px) map-get($gaps, f) 0

    &:not(&--image-right) &__image-wrap
      padding-right: map-get($gaps, c)

    &--image-right &__image-wrap
      padding-left: map-get($gaps, c)

    &--background &__inner
      border-radius: $border-radius
      padding: map-get($gaps, g) 0

  +media-breakpoint-up(xl)
    &:not(&--image-right) &__content
      padding: map-get($gaps, j) map-get($gaps, b) map-get($gaps, f) px-to-rem(44px)

    &--image-right &__content
      padding: map-get($gaps, j) px-to-rem(20px) map-get($gaps, f) 0

    &--centered-content &__content
      padding-top: map-get($gaps, f)

    &--background &__inner
      padding: map-get($gaps, l) 0

    &__title
      +font-size-display-m

  +media-breakpoint-up(xxl)
    &:not(&--background) &__title
      +font-size-display-l
