.f-c-files-index-modal
  &__content
    min-height: 33vh

  &__loader
    display: none

  &[data-f-c-files-index-modal-status-value="loading"] &__loader,
  &[data-f-c-files-index-modal-status-value="closed"] &__loader
    display: block
