@import 'folio-bootstrap-5/scss/functions'
@import 'folio/utilities'
@import 'folio/console/variables'

$transition-base: $f-c-transition-base !default

.form-group--with-ai-text-suggestions > .form-group__input-controls
  background-color: transparent
  height: auto
  min-height: px-to-rem(20px)
  padding-right: 0
  right: 0
  top: 0
  z-index: 2

@import '../../components/folio/ai/**/*'
