.form-group[
  class="folio-console-single-file-select"
  class=wrap_class
]
  = f.input file_attr, as: :file, \
                       input_html: { class: file_class }
  = f.input remove_file_attr, as: :hidden, \
                              value: nil, \
                              input_html: { class: destroy_class }

  - if options[:as] == :image
    .folio-console-file-list
      .folio-console-file-list__file
        .folio-console-file-list__img-wrap[
          class="folio-console-single-file-select__clearable"
        ]
          - if filled?
            img.folio-console-file-list__img src=file_src

  - elsif options[:as] == :video
    .folio-console-single-file-select__video[
      class="folio-console-single-file-select__clearable"
    ]
      - if filled?
        video[
          width="auto"
          height="auto"
          controls=true
        ]
          source src=f.object.file.remote_url type="video/mp4"

  - else
    .folio-console-file-table-wrap
      .folio-console-file-table.folio-console-file-table--document
        .folio-console-file-table__tbody
          .folio-console-file-table__tr
            div[
              class="folio-console-file-table__td"
              class="folio-console-file-table__td--main"
              class="folio-console-single-file-select__clearable"
            ]
              = f.object.file_name if filled?

            div[
              class="folio-console-file-table__td"
              class="folio-console-file-table__td--size"
              class="folio-console-single-file-select__clearable"
            ]
              = number_to_human_size(f.object.file_size) if filled?

            div[
              class="folio-console-file-table__td"
              class="folio-console-file-table__td--extension"
              class="folio-console-single-file-select__clearable"
            ]
              = f.object.file_extension.to_s.upcase if filled?

  button.btn.btn-warning.mr-3.mt-3[
    type="button"
    class="folio-console-single-file-select__button"
    class="folio-console-single-file-select__button--change"
  ]
    = t(".change_#{options[:as]}")

  button.btn.btn-danger.mt-3[
    type="button"
    class="folio-console-single-file-select__button"
    class="folio-console-single-file-select__button--remove"
  ]
    = t(".remove_#{options[:as]}")

  button.btn.btn-success[
    type="button"
    class="folio-console-single-file-select__button"
    class="folio-console-single-file-select__button--add"
  ]
    = t(".add_#{options[:as]}")
