.folio-console-single-file-select
  .form-group
    margin-bottom: 0

  .form-control
    display: none

.folio-console-single-file-select__video
  video
    width: 500px
    max-width: 100%
    display: block

.folio-console-single-file-select-image
  position: relative
  width: 150px
  height: 150px
  align-items: center
  justify-content: center
  background: $medium-gray
  display: none

  img
    max-width: 100%
    max-height: 100%

.folio-console-single-file-select__button
  &--change,
  &--remove
    display: none

  .folio-console-single-file-select--has-file &
    &--add
      display: none

    &--change,
    &--remove
      display: inline-block
