.f-c-with-icon
  display: inline-flex
  align-items: center

  .fa, .mi
    margin-right: 7px

  &--reversed
    .fa, .mi
      margin-left: 7px
      margin-right: 0

  &--muted
    color: $text-muted

  &--href
    text-decoration: none

    .fa, .mi, span
      text-decoration: none

    &:hover, &:focus
      &, .fa, .mi
        text-decoration: none

      span
        text-decoration: underline

  &--small
    .fa, .mi
      margin-right: 4px

  &--small.f-c-with-icon--reversed
    .fa, .mi
      margin-left: 4px
      margin-right: 0

a.f-c-with-icon
  text-decoration: none

  .mi, .fa, span
    text-decoration: none

  &:hover, &:focus
    span
      text-decoration: underline

    &, .mi, .fa
      text-decoration: none
