.f-c-with-icon
  display: inline-flex
  align-items: center
  gap: 7px

  &--muted
    color: $text-muted

  &--href
    text-decoration: none

    .fa, .mi, span
      text-decoration: none

    +hover-focus
      &, .fa, .mi
        text-decoration: none

      span
        text-decoration: underline

  &--small
    gap: 4px

a.f-c-with-icon
  text-decoration: none

  .mi, .fa, span
    text-decoration: none

  +hover-focus
    span
      text-decoration: underline

    &, .mi, .fa
      text-decoration: none
