.f-c-translated-inputs
  margin-bottom: $spacer

  &__row--compact
    margin-left: - $grid-gutter-half / 2
    margin-right: - $grid-gutter-half / 2

  &__col
    padding-left: $grid-gutter-half
    padding-right: $grid-gutter-half

    &--compact
      padding-left: $grid-gutter-half / 2
      padding-right: $grid-gutter-half / 2

  .form-group
    margin-bottom: 0

+media-breakpoint-down(sm)
  .f-c-translated-inputs__col + .f-c-translated-inputs__col
    margin-top: $spacer
