javascript:
  if (typeof window.FolioConsole === 'undefined') {
    window.FolioConsole = {}
  }

  window.FolioConsole.translations = {
    tagsLabel: '#{t('attributes.tag_list')}',
    tagsHint: '#{t('simple_form.hints.defaults.tag_list')}',
    removePrompt: '#{t('folio.console.remove_confirmation')}',
    finalizing: '#{t('folio.console.javascript.finalizing')}',
    cancel: '#{t('folio.console.javascript.cancel')}',
    save: '#{t('folio.console.javascript.save')}',
    noResults: '#{t('folio.console.javascript.noResults')}',
    used: '#{t('folio.console.javascript.used')}',
    create: '#{t('folio.console.javascript.create')}',
    availableDocuments: '#{t('folio.console.javascript.availableDocuments')}',
    selectedDocuments: '#{t('folio.console.javascript.selectedDocuments')}',
    availableImages: '#{t('folio.console.javascript.availableImages')}',
    selectedImages: '#{t('folio.console.javascript.selectedImages')}',
    altHint: '#{t('simple_form.hints.defaults.alt')}',
    fileTitleHint: '#{t('folio.console.javascript.fileTitleHint')}',
    placementsLabel: '#{t('folio.console.javascript.placementsLabel')}',
    newUploadTags: '#{t('folio.console.javascript.newUploadTags')}',
    galleryManagement: '#{t('folio.console.gallery_management')}',
    documentsManagement: '#{t('folio.console.documents_management')}',
    add: '#{t('folio.console.javascript.add')}',
    paginationEmpty: '#{t('folio.console.javascript.paginationEmpty')}',
    paginationInfo: '#{t('folio.console.javascript.paginationInfo')}',
    paginationNext: '#{t('pagy.nav.next')}',
    paginationPrev: '#{t('pagy.nav.prev')}'
  }
