javascript:
  if (typeof window.FolioConsole === 'undefined') {
    window.FolioConsole = {}
  }

  window.FolioConsole.translations = {
    add: '#{t('folio.console.javascript.add')}',
    addMenuItem: '#{t('folio.console.javascript.addMenuItem')}',
    altHint: '#{t('simple_form.hints.defaults.alt')}',
    availabledocuments: '#{t('folio.console.javascript.availableDocuments')}',
    availableimages: '#{t('folio.console.javascript.availableImages')}',
    cancel: '#{t('folio.console.javascript.cancel')}',
    cancelChanges: '#{t('folio.console.javascript.cancelChanges')}',
    clearDate: '#{t('folio.console.javascript.clearDate')}',
    contentTemplates: '#{t('folio.console.javascript.contentTemplates')}',
    create: '#{t('folio.console.javascript.create')}',
    destroy: '#{t('folio.console.javascript.destroy')}',
    documentsManagement: '#{t('folio.console.documents_management')}',
    done: '#{t('folio.console.atoms.settings_header.done')}',
    download: '#{t('folio.console.javascript.download')}',
    downloadOriginal: '#{t('folio.console.javascript.downloadOriginal')}',
    errorNotification: '#{t('simple_form.error_notification.default_message')}',
    fileNameFilter: '#{t('folio.console.javascript.fileNameFilter')}',
    fileTitleHint: '#{t('folio.console.javascript.fileTitleHint')}',
    finalizing: '#{t('folio.console.javascript.finalizing')}',
    galleryManagement: '#{t('folio.console.gallery_management')}',
    indestructibleFiles: '#{t('folio.console.javascript.indestructibleFiles')}',
    link: '#{t('folio.console.javascript.link')}',
    loading: '#{t('folio.console.javascript.loading')}',
    menuItemOpenInNew: '#{Folio::MenuItem.human_attribute_name(:open_in_new)}',
    menuItemUrl: '#{t('folio.console.javascript.menuItemUrl')}',
    menuNoLink: '#{t('folio.console.menus.noLink')}',
    newUploadTags: '#{t('folio.console.javascript.newUploadTags')}',
    noResults: '#{t('folio.console.javascript.noResults')}',
    paginationEmpty: '#{t('folio.console.javascript.paginationEmpty')}',
    paginationInfo: '#{t('folio.console.javascript.paginationInfo')}',
    paginationNext: '#{t('pagy.nav.next')}',
    paginationPrev: '#{t('pagy.nav.prev')}',
    placementsLabel: '#{t('folio.console.javascript.placementsLabel')}',
    removePrompt: '#{t('folio.console.remove_confirmation')}',
    replace: '#{t('folio.console.javascript.replace')}',
    save: '#{t('folio.console.javascript.save')}',
    selectable: '#{t('folio.console.javascript.selectable')}',
    selectDocument: '#{t('folio.console.javascript.selectDocument')}',
    selected: '#{t('folio.console.javascript.selected')}',
    selecteddocuments: '#{t('folio.console.javascript.selectedDocuments')}',
    selectedimages: '#{t('folio.console.javascript.selectedImages')}',
    selectImage: '#{t('folio.console.javascript.selectImage')}',
    selectPlaceholder: '#{t('folio.console.javascript.selectPlaceholder')}',
    tagsHint: '#{t('simple_form.hints.defaults.tag_list')}',
    tagsLabel: '#{t('attributes.tag_list')}',
    title: '#{t('folio.console.javascript.title')}',
    usageFilter: '#{t('folio.console.javascript.usageFilter')}',
    usagePlaceholder: '#{t('folio.console.javascript.usagePlaceholder')}',
    usageUnused: '#{t('folio.console.javascript.usageUnused')}',
    usageUsed: '#{t('folio.console.javascript.usageUsed')}',
    used: '#{t('folio.console.javascript.used')}'
  }
