- unless options[:non_interactive]
  - I18n.with_locale(::Rails.application.config.folio_console_locale)
    .f-c-atoms-previews__controls
      .f-c-atoms-previews__controls-overlay
      .f-c-atoms-previews__buttons
        == cell('folio/console/ui/button',
                variant: :secondary,
                icon: :edit,
                class: "f-c-atoms-previews__button \
                        f-c-atoms-previews__button--edit")

        == cell('folio/console/ui/button',
                variant: :secondary,
                icon: :arrow_up,
                class: "f-c-atoms-previews__button \
                        f-c-atoms-previews__button--arrow-up")

        == cell('folio/console/ui/button',
                variant: :secondary,
                icon: :arrow_down,
                class: "f-c-atoms-previews__button \
                        f-c-atoms-previews__button--arrow-down")

        == cell('folio/console/ui/button',
                variant: :secondary,
                icon: :arrow_up_down,
                class: "f-c-atoms-previews__button \
                        f-c-atoms-previews__button--handle")

        == cell('folio/console/ui/button',
                variant: :danger,
                icon: :delete,
                class: "f-c-atoms-previews__button \
                        f-c-atoms-previews__button--remove")

      .f-c-atoms-previews__controls-mobile-overlay
