= render(Folio::Console::Ui::ModalComponent.new(title: 'foo',
                                                class_name: CLASS_NAME,
                                                size: :lg,
                                                data:))
  ' form modal
