div[
  data-url=url
  class=class_name
]
  = hidden_field_tag attribute, model.send(attribute), \
                                class: 'f-c-index-position-buttons__input'

  = hidden_field_tag :id, model.id, \
                          class: 'f-c-index-position-buttons__id', \
                          'data-attribute' => attribute

  .btn-group[
    role="group"
    class="f-c-index-position-buttons__button-group"
  ]
    == cell("folio/console/ui/button",
            variant: :icon,
            icon: :arrow_up,
            class: "f-c-index-position-buttons__button",
            "data-direction" => "up")

    == cell("folio/console/ui/button",
            variant: :icon,
            icon: :arrow_down,
            class: "f-c-index-position-buttons__button",
            "data-direction" => "down")

    - unless options[:ancestry]
      == cell("folio/console/ui/button",
              variant: :icon,
              icon: :drag,
              tag: :span,
              class: "f-c-index-position-buttons__button \
                      f-c-index-position-buttons__button--handle")

    span.folio-loader.folio-loader--small.folio-loader--transparent
