.f-c-catalogue-published-dates
  border-radius: $border-radius
  padding: 2px 5px
  background: $medium-gray
  white-space: nowrap

  &--success
    background: $green-background

  &--danger
    background: $red-background
