$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .col-full
    max-width: 100% !important

  +mailer-media-breakpoint-up($mailer-breakpoint-mobile)
    .d-mailer-cards-medium__sm-column
      max-width: 37.6% !important

    .d-mailer-cards-medium__lg-column
      max-width: 62.4% !important

    .d-mailer-cards-extra-small-container__even-column
      max-width: 51.85% !important

    .d-mailer-cards-extra-small-container__odd-column
      max-width: 48.15% !important

    .d-mailer-cards-medium__sm-column
      max-width: 41.7% !important

    .d-mailer-cards-medium__lg-column
      max-width: 58.3% !important

  +mailer-media-breakpoint-down($mailer-breakpoint-mobile)
    .d-mailer-cards-medium__lg-column, .d-mailer-cards-medium__lg-column,
    .d-mailer-cards-medium__sm-column, .d-mailer-cards-medium__sm-column,
    .d-mailer-cards-extra-small-container__even-column, .d-mailer-cards-extra-small-container__odd-column
      max-width: 100% !important
