# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::TextAroundImageComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::TextAroundImage, :cover, :content)

    render_inline(<%= application_namespace %>::Atom::TextAroundImageComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-text-around-image")
  end
end
