$dummy-mailer-styles: false !default

@if $dummy-mailer-styles
  .d-mailer-cards-medium
    width: 100%

    &__wrapper
      padding: 32px 0 0 0

    &__inner
      width: 100%
      background-color: $cloud-100
      border-radius: map-get($spacers, 3)

    &__inner-wrapper
      font-size: 0
      padding: 0

    &__image-wrapper, &__content-wrapper
      display: inline-block
      vertical-align: top

    &__image-wrapper
      padding: 0
      width: 100%
      max-width: 240px
      vertical-align: top
      text-align: left

    &__image-inner
      padding: 32px 32px 32px 32px

    &__image
      border-radius: map-get($spacers, 3)

    &__content-wrapper
      width: 100%
      max-width: 408px
      vertical-align: top

    &__content-wrapper.col-full
      max-width: 100%

    &__content-inner
      padding: 32px 32px 32px 32px
      text-align: left

    &__content-inner p
      +mailer-font-size-text-s
      margin-bottom: 20px !important

    &__btn
      +mailer-font-size-text-xs
      height: 34px !important
      line-height: 34px !important
