= render(Folio::Console::Ui::ModalComponent.new(class_name: CLASS_NAME,
                                                size: :lg,
                                                data:))
  .f-c-files-index-modal__inner
    = render(Folio::Console::Ui::TurboFrameWithLoaderComponent.new(id: Folio::Console::FileControllerBase::TURBO_FRAME_ID,
                                                                   disabled: true,
                                                                   min_height: '375px'))
