.f-c-files-show-modal
  &__outer
    min-height: 400px

  &[data-f-c-files-show-modal-loading-value="true"]
    --#{$prefix}modal-header-border-color: transparent

    .f-c-ui-modal__title,
    .f-c-files-show-modal__inner
      visibility: hidden

  &[data-f-c-files-show-modal-loading-value="false"] &__loader
    display: none
