@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.f-embed-html,
.f-embed-body {
  background: #fff;
  font-size: 16px;
}

.f-embed__loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  font-size: 16px;
}

.f-embed__loader:before,
.f-embed__loader:after {
  content: '';
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: block;
}

.f-embed__loader:before {
  margin: -1.5em;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 0.45em solid rgba(0, 0, 0, 0.2);
  border-right: 0.45em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.45em solid rgba(0, 0, 0, 0.2);
  border-left: 0.45em solid rgba(0, 0, 0, 1);
  transform: translateZ(0);
  transform-origin: center center;
  animation: load8 1.1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
}
