- if ENV['CLOUDFLARE_TURNSTILE_SITE_KEY'].present?
  script [
    src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit&onload=onloadTurnstileCallback"
    async=true
    defer=true
  ]

  javascript:
    window.turnstileSiteKey = "#{ENV['CLOUDFLARE_TURNSTILE_SITE_KEY']}";
