link rel="apple-touch-icon" sizes="180x180" href="#{current_site.layout_favicon_path}apple-touch-icon.png"
link rel="icon" type="image/png" href="#{current_site.layout_favicon_path}favicon-32x32.png" sizes="32x32"
link rel="icon" type="image/png" href="#{current_site.layout_favicon_path}favicon-16x16.png" sizes="16x16"
link rel="manifest" href="#{current_site.layout_favicon_path}site.webmanifest"
link rel="mask-icon" href="#{current_site.layout_favicon_path}safari-pinned-tab.svg" color="#5bbad5"
