link[
  rel="icon"
  type="image/png"
  href="#{Folio::Current.site.layout_favicon_path}favicon-96x96.png"
  sizes="96x96"
]

link[
  rel="icon"
  type="image/svg+xml"
  href="#{Folio::Current.site.layout_favicon_path}favicon.svg"
]

link[
  rel="shortcut icon"
  href="#{Folio::Current.site.layout_favicon_path}favicon.ico"
]

link[
  rel="apple-touch-icon"
  sizes="180x180"
  href="#{Folio::Current.site.layout_favicon_path}apple-touch-icon.png"
]

link[
  rel="manifest"
  href="#{Folio::Current.site.layout_favicon_path}manifest.json"
  content-type="application/manifest+json"
  crossorigin=(Rails.env.production? ? nil : "use-credentials")
]
