- favicon_method ||= :layout_favicon_path

link[
  rel="icon"
  type="image/png"
  href="#{Folio::Current.site.send(favicon_method)}favicon-96x96.png"
  sizes="96x96"
]

link[
  rel="icon"
  type="image/svg+xml"
  href="#{Folio::Current.site.send(favicon_method)}favicon.svg"
]

link[
  rel="shortcut icon"
  href="#{Folio::Current.site.send(favicon_method)}favicon.ico"
]

link[
  rel="apple-touch-icon"
  sizes="180x180"
  href="#{Folio::Current.site.send(favicon_method)}apple-touch-icon.png"
]

link[
  rel="manifest"
  href="#{Folio::Current.site.send(favicon_method)}manifest.json"
  content-type="application/manifest+json"
  crossorigin=(Rails.env.production? ? nil : "use-credentials")
]
