ruby:
  app_namespace = ::Rails.application.class.name.deconstantize
  component = "#{app_namespace}::Mailer::LayoutComponent".constantize

doctype html
html.d-mailer-html[
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml"
]
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /

    link[
      rel="preconnect"
      href="https://fonts.googleapis.com"
    ]

    link[
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin=true
    ]

    link[
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700"
      rel="stylesheet"
    ]

    = stylesheet_link_tag('mailer', media: 'all')

    /![if gte mso 9]
      xml
        o:OfficeDocumentSettings
          o:AllowPNG
            o:PixelsPerInch 96

  body.d-mailer-body bgcolor="#ffffff"
    = render(component.new(site:))
       = yield
