.f-c-merges-index-header
  position: absolute
  top: 0
  left: 0
  width: 140px
  height: 46px
  display: flex
  align-items: center
  z-index: 2
  background: $white
  pointer-events: none

  &__text
    flex: 0 0 70px
    width: 70px
    text-align: center

  &__icon
    position: absolute
    top: calc(50% - 10px)
    left: calc(50% - 11px)

.f-c-merges-index-header-border
  width: 69px
  height: 100%
  left: 0
  top: 0
  content: ''
  display: block
  position: absolute
  border-left: 1px solid $gray-200
  border-right: 1px solid $gray-200
  z-index: 1
  pointer-events: none
