.f-c-merges-index-header
  position: absolute
  top: 0
  left: 0
  width: 140px
  height: 46px
  display: flex
  align-items: center
  z-index: 2
  pointer-events: none

  &:after
    position: absolute
    bottom: 4px
    right: 0
    left: 0
    top: 0
    background: $white
    display: block
    content: ''
    z-index: 1

  &__text
    flex: 0 0 70px
    width: 70px
    text-align: center
    position: relative
    z-index: 2

  &__icon
    position: absolute
    top: calc(50% - 10px)
    left: calc(50% - 11px)
    z-index: 2

  &__border
    width: 69px
    height: 100%
    left: 0
    top: 0
    content: ''
    display: block
    position: absolute
    border-left: 1px solid $table-border-color
    border-right: 1px solid $table-border-color
    z-index: 1
    pointer-events: none

  &__border--right
    left: 71px
    border-left: 0

  +mq-mobile-menu
    &__border--right
      display: none
