= index_header react_new: true

.folio-react-wrap[
  data-file-type='Folio::Document'
  data-files-url=url_for([:console, :api, Folio::Document])
  data-mode='index'
  data-can-destroy-files=(can?(:destroy, Folio::Document) ? "1" : nil)
]
