.<%= classname_prefix %>-searches-autocomplete
  padding: $spacer / 2 0

  &__title
    font-weight: $font-weight-bold
    text-decoration: none
    padding: $spacer / 2 $grid-gutter-half
    display: block

  &__record
    padding: $spacer / 2 $grid-gutter-half
    display: block

    &:hover,
    &--focused
      background: $gray

  &__no-results
    padding: $spacer $grid-gutter-half
