.<%= classname_prefix %>-searches-autocomplete
  &__title
    font-weight: $font-weight-bold
    text-decoration: none
    padding: $spacer $grid-gutter-half 0
    display: block

  &__record
    margin: $spacer 0
    display: block
    padding: 0 $grid-gutter-half

  &__no-results
    padding: $spacer $grid-gutter-half
