= render(Folio::Console::Ui::ModalComponent.new(title: 'title',
                                                class_name: CLASS_NAME,
                                                size: :lg))
  ' hello
