.<%= classname_prefix %>-molecule.<%= classname_prefix %>-molecule-blog-articles-card-small
  - if model.present?
    == cell('<%= application_namespace_path %>/ui/article_card_list',
            model.map(&:article),
            small: true)
