@import 'folio/loader'

.folio-newsletter-subscription-form-wrap
  position: relative

  .folio-loader
    z-index: 2
    display: none

.folio-newsletter-subscription-form-message
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
  align-items: center
  justify-content: center
  flex-direction: column
  z-index: 2

.folio-newsletter-subscription-form-submitting
  .folio-loader
    display: block

.folio-newsletter-subscription-form
  position: relative
  z-index: 1

.folio-newsletter-subscription-form-submitted
  .folio-newsletter-subscription-form
    visibility: hidden

  .folio-newsletter-subscription-form-message
    display: flex
