.f-c-ui-button
  display: inline-flex
  align-items: center
  justify-content: center
  gap: 5px 10px

  &__icon,
  &__right-icon
    margin: -2px 0 0 !important

    &:only-child
      margin: -2px -4px 0 !important
