.f-c-ui-button
  &__icon
    margin-left: - 1 * px-to-rem(11px - 7)

    &:last-child
      margin-right: - 1 * px-to-rem(11px - 7)

    &:only-child
      margin: 0 (( - 1 * px-to-rem(11px - 5) ))

  &__right-icon
    margin-right: - 1 * px-to-rem(11px - 7)
