# frozen_string_literal: true

module <%= application_namespace %>::Blog
  ARTICLE_PAGY_ITEMS = 12
  TOPICS_PARAM = :t

  def self.table_name_prefix
    "<%= application_namespace_path %>_blog_"
  end

  def self.available_locales
    I18n.available_locales.map(&:to_s)
  end

  def self.article_includes
    [:published_topics, cover_placement: :file]
  end
end
