.folio-console-hover-destroy
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2
  background: rgba(255, 255, 255, 0.75)
  padding: 10px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  font-size: 30px
  opacity: 0

  .fa
    cursor: pointer !important

    + .fa
      margin-left: 10px

  .fa-times-circle
    color: $danger

  .fa-check-circle
    color: $primary

  .fa-arrow-circle-up
    color: $success

  .fa-edit
    position: relative
    bottom: -2px

  &.visible, &:hover
    opacity: 1

  &.pointer
    cursor: pointer !important
