@keyframes fCHtmlAutoFormatNotify
  0%
    transform: scale(1)
    opacity: 0
  50%
    transform: scale(1.5)
    opacity: 1
  100%
    transform: scale(1)
    opacity: 0

.f-c-html-auto-format
  display: inline-block
  position: relative

  &::before
    content: ""
    display: none
    position: absolute
    inset: -4px
    z-index: 2
    cursor: pointer
    border-radius: $border-radius
    transition: $transition-base

  &[data-f-c-html-auto-format-before-value]:not([data-f-c-html-auto-format-cancelled-value="true"])::before
    display: block

  &:not([data-f-c-html-auto-format-cancelled-value="true"]):hover::before
    background-color: rgba(0, 0, 0, 0.08)

  &::after
    content: ""
    display: none
    pointer-events: none
    z-index: 0
    position: absolute
    inset: 0
    border-radius: $border-radius
    background-color: rgba(76, 132, 253, 0.5)
    opacity: 0

  &[data-f-c-html-auto-format-before-value]::after
    display: block

  &--notify::after
    animation: fCHtmlAutoFormatNotify .75s 1 ease-in-out
