.folio-console-index-table
  @extend .table-responsive
  margin-bottom: $form-group-margin-bottom

  table
    @extend .table
    @extend .table-striped
    @extend .table-hover
    margin: 0
    white-space: nowrap

    tr
      td:last-child
        text-align: right

        .btn + .btn
          margin-left: 1ch

  img
    max-width: 100%

  .folio-console-index-td-full
    width: 100%

  + h2, + .h2
    margin-top: (( 1.5 * $form-group-margin-bottom ))
