.f-c-layout-html
  height: 100%
  min-width: 320px
  overflow: hidden

.f-c-layout-body
  min-width: 320px

.f-c-layout-sidebar
  background: $gray-800
  color: $white

+mq-desktop-menu
  .f-c-layout-html
    overflow: hidden

  .f-c-layout-body
    display: flex
    align-items: stretch
    height: 100%
    overflow: hidden

  .f-c-layout-sidebar
    height: 100%
    max-width: 220px
    flex: 1 0 220px

  .f-c-layout-main
    height: 100%
    flex: 1 1 auto

+mq-mobile-menu
  .f-c-layout-html
    height: 100%
    min-width: 320px
    overflow-y: scroll

  .f-c-layout-sidebar
    display: none

  .slideout-menu
    position: fixed
    top: 0
    bottom: 0
    width: 256px
    min-height: 100vh
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    z-index: 0
    display: none

  .slideout-menu-left
    left: 0

  .slideout-menu-right
    right: 0

  .slideout-panel
    position: relative
    z-index: 1
    will-change: transform
    background-color: #FFF
    min-height: 100vh

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel
    overflow: hidden

  .slideout-open .slideout-menu
    display: block
