.f-c-layout-html
  height: 100%
  min-width: 320px
  overflow-y: scroll

.f-c-layout-body
  min-width: 320px

.f-c-layout-sidebar
  background: $gray-800
  color: $white

.f-c-layout-main-container
  padding-top: $spacer

+mq-desktop-menu
  .f-c-layout-body
    padding-left: 220px

  .f-c-layout-sidebar
    height: 100%
    width: 220px
    position: fixed
    top: 0
    bottom: 0
    left: 0
    z-index: 2

  .f-c-layout-header
    position: sticky
    top: 0
    left: 0
    z-index: 2

  .f-c-flash-wrap
    position: sticky
    top: 36px
    left: 0
    z-index: 2

  .f-c-layout-main-container
    position: relative
    z-index: 1

+mq-mobile-menu
  .f-c-layout-sidebar
    display: none

  .slideout-menu
    position: fixed
    top: 0
    bottom: 0
    width: 220px
    min-height: 100vh
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    z-index: 0
    display: none

  .slideout-menu-left
    left: 0

  .slideout-menu-right
    right: 0

  .slideout-panel
    position: relative
    z-index: 1
    will-change: transform
    background-color: #FFF
    min-height: 100vh

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel
    overflow: hidden

  .slideout-open .slideout-menu
    display: block
