.folio-console-nested-fields-with-images
  margin: -$grid-gutter-half
  display: flex
  flex-wrap: wrap
  min-width: 150px

  .nested-fields
    position: relative
    width: 150px
    height: 150px
    margin: $grid-gutter-half
    flex: 0 0 150px
    display: flex
    align-items: center
    justify-content: center
    background: $gray-200

    img
      max-width: 100%
      max-height: 100%

  .folio-console-multi &
    ~ .folio-console-add-image
      margin-top: $grid-gutter-width

  .folio-console-single &
    margin: 0

    .nested-fields
      margin: 0
