.folio-console-nested-fields-with-images
  margin: $grid-gutter-half (( -$grid-gutter-half ))
  display: flex
  flex-wrap: wrap

  .nested-fields
    position: relative
    width: 150px
    height: 150px
    margin: $grid-gutter-half
    flex: 0 0 150px

    img
      max-width: 100%
