.f-c-show-for__content.blank
  opacity: 0.5

*:not(.f-c-show-for-index) > .f-c-show-for__row
  .f-c-show-for__cell
    margin-bottom: $spacer

  .f-c-show-for__label
    display: inline-block
    margin-right: 1ch

    &:after
      content: ':'
      display: inline

  .f-c-show-for__content
    display: inline-block

+mq-desktop-menu
  .f-c-show-for-index
    display: table
    width: 100%
    margin: 0

    .f-c-show-for__row
      display: table-row

      &:first-child
        .f-c-show-for__label
          text-transform: uppercase
          color: $table-head-color

        .f-c-show-for__content
          display: none

      &:nth-child(n + 2)
        .f-c-show-for__label
          display: none

        &:hover
          .f-c-show-for__cell
            background: $table-hover-bg

      &:nth-child(even)
        .f-c-show-for__cell
          background: $table-accent-bg

    .f-c-show-for__cell
      display: table-cell
      padding: $table-cell-padding
      border-bottom: $table-border-width solid $table-border-color
      background: $table-bg
      vertical-align: middle

      &[class$="_cover"],
      &[class$="_cover blank"]
        width: 59px

        .f-c-show-for__label
          display: none

+mq-mobile-menu
  .f-c-show-for-index
    .f-c-show-for__row
      display: block
      width: 100%
      border: $table-border-width solid $table-border-color
      margin: 0 0 $spacer
      padding: $spacer calc(#{2 * $spacer} + #{$input-height-border} + #{$input-height-inner}) 0 $spacer
      position: relative

      &:first-child
        display: none

    .f-c-show-for__cell
      margin-bottom: $spacer

    .f-c-show-for__label,
    .f-c-show-for__content
      padding: 0

    .f-c-show-for__label
      text-transform: uppercase
      color: $table-head-color
      font-size: $font-size-tiny
      margin-bottom: $spacer / 4
