.f-c-show-for__content
  > :last-child
    margin-bottom: 0

*:not(.f-c-show-for-index):not(.f-c-show-for-table) > .f-c-show-for__row
  .f-c-show-for__cell:not(:last-child)
    margin-bottom: $spacer

  .f-c-show-for__label
    display: inline-block
    margin-right: 1ch

    &:after
      content: ':'
      display: inline

  .f-c-show-for__content
    display: inline-block

.f-c-show-for-small:not(.f-c-show-for-index):not(.f-c-show-for-table)
  font-size: $font-size-sm

  > .f-c-show-for__row .f-c-show-for__cell:not(:last-child)
    margin-bottom: $spacer / 2

.f-c-show-for-index-wrap
  position: relative

+mq-desktop-menu
  .f-c-show-for-index
    display: table
    width: 100%
    margin: 0

    .f-c-show-for__row
      display: table-row

      &:first-child
        .f-c-show-for__label
          text-transform: uppercase
          color: $table-head-color

        .f-c-show-for__content
          display: none

      &:nth-child(n + 2)
        .f-c-show-for__label
          display: none

        &:hover
          .f-c-show-for__cell
            background: $table-hover-bg

      &:nth-of-type(even)
        .f-c-show-for__cell
          background: $table-accent-bg

    .f-c-show-for__cell
      display: table-cell
      padding: $table-cell-padding
      border-bottom: $table-border-width solid $table-border-color
      background: $table-bg
      vertical-align: middle

      &[class$="_cover"],
      &[class$="_cover blank text-muted"]
        width: 59px

        .f-c-show-for__label
          display: none

  .f-c-show-for-table
    &--wide
      .f-c-show-for__row
        width: 100%

    .f-c-show-for__row
      display: table
      box-shadow: 0 0 5px rgba($black, 0.05)

    .f-c-show-for__cell
      display: table-row

    .f-c-show-for__label,
    .f-c-show-for__content
      display: table-cell
      padding: $table-cell-padding
      vertical-align: middle
      border-top: 1px solid $table-border-color
      border-left: 1px solid $table-border-color
      border-right: 1px solid $table-border-color

    .f-c-show-for__label
      border-right: 0

    .f-c-show-for__cell:last-child
      .f-c-show-for__label,
      .f-c-show-for__content
        border-bottom: 1px solid $table-border-color

    .f-c-show-for__label
      text-transform: uppercase
      color: $table-head-color
      white-space: nowrap
      background: $gray-50
      font-size: $font-size-sm

+mq-mobile-menu
  .f-c-show-for-index,
  .f-c-show-for-table
    .f-c-show-for__row
      display: block
      width: 100%
      border: $table-border-width solid $table-border-color
      margin: 0 0 $spacer
      padding: $spacer calc(#{2 * $spacer} + #{$input-height-border} + #{$input-height-inner}) 0 $spacer
      position: relative

    .f-c-show-for__cell
      margin-bottom: $spacer

    .f-c-show-for__label,
    .f-c-show-for__content
      padding: 0

    .f-c-show-for__label
      text-transform: uppercase
      color: $table-head-color
      font-size: $font-size-tiny
      margin-bottom: $spacer / 4

  .f-c-show-for-index
    .f-c-show-for__row
      &:first-child
        display: none
