.f-c-simple-form-with-atoms
  position: relative
  display: flex
  flex-direction: column
  overflow: hidden
  flex: 1 1 auto

  .f-c-form-footer
    padding: $grid-gutter-width
    margin: 0
    z-index: 2
    position: absolute
    width: 100%

    .container-fluid
      padding: 0
      margin: 0

  &__inner
    display: flex
    flex-direction: column
    flex: 1 1 auto
    position: relative
    z-index: 2

  &__preview
    display: flex
    flex-direction: column
    flex: 1 0 auto
    position: relative

    .folio-loader
      z-index: 2

    &:not(&--loading) .folio-loader
      display: none

  &__iframe
    width: 100%
    min-height: 100%
    flex: 1 0 auto
    border: 0
    position: relative
    z-index: 1

  &__form
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 100%
    z-index: 3
    display: none

    &--active
      display: block

    &:after
      content: ''
      display: block
      width: 60px
      height: 10px
      position: absolute
      top: -10px
      right: 15px
      background: $white
      z-index: 3

  &__form-overlay
    position: absolute
    z-index: 1
    top: 0
    left: 0
    right: 0
    height: 100%

  &__form-inner
    background: $white
    margin-left: auto
    width: 840px
    height: 100%
    max-width: 75%
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.29)
    padding: $grid-gutter-width $grid-gutter-width 0
    display: flex
    flex-direction: column
    position: relative
    z-index: 2

  &__form-scroll
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    margin: 0 (( - $grid-gutter-width )) (( - $grid-gutter-width ))
    padding: 0 $grid-gutter-width $grid-gutter-width

  @for $i from 0 through 10
    .f-c-atoms-form-header[data-active-offset="#{$i}"] + &__inner &__form:after
      right: $grid-gutter-half + $i * 60px
