.simple_form
  fieldset
    margin: 0 0 $fieldset-margin

    + fieldset
      margin-top: $fieldset-margin

    h1, h2, h3, h4, h5
      margin-bottom: 1rem

      &:first-child
        margin-top: 0

  input.btn
    + a
      @extend .btn
      @extend .btn-outline-secondary

    ~ a
      margin-left: 1ch

  .tab-content
    margin-bottom: $grid-gutter-width

  .form-group.datetime
    .form-inline
      +clearfix
      visibility: collapse
      display: block

      select
        float: left
        visibility: visible
        margin: 0 1ch 1ch 0

        &:nth-child(4)
          clear: left

  .check_boxes
    .checkbox
      padding-right: $grid-gutter-width
      display: inline-flex
      align-items: center

      input
        margin-right: 5px

      label
        margin-bottom: 0
        display: flex
        align-items: center
