.folio-console-smart-row
  display: flex

  &.folio-console-smart-row--wrap
    flex-wrap: wrap

.folio-console-smart-col
  flex: 1 1 auto
  min-width: 50%
  margin-bottom: $spacer

aside.folio-console-smart-col
  flex: 0 0 auto
  min-width: 0

  &.folio-console-smart-col--spread
    flex: 1 0 100%
    min-width: 100%

+mq-sm-up
  aside.folio-console-smart-col
    margin-right: $spacer

    div.folio-console-smart-col ~ &
      margin-right: 0
      margin-left: $spacer

      &.folio-console-smart-col--spread
        margin-left: 0
        margin-top: (( - $spacer ))

    div.folio-console-smart-col[hidden] ~ &
      margin-left: 0
      margin-bottom: 0

+mq-xs
  .folio-console-smart-row
    flex-direction: column
