$thumbnail-size: 150px

.folio-console-thumbnail
  position: relative
  width: $thumbnail-size
  min-height: $thumbnail-size
  margin: $grid-gutter-half
  flex: 0 0 $thumbnail-size

  &--document
    .folio-console-thumbnail__inner
      padding: 10px
      height: $thumbnail-size
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

.folio-console-thumbnail__inner
  max-width: 100%
  background: $gray-200

  &:hover
    background: darken($gray-200, 3%)

.folio-console-thumbnail__img-wrap
  position: relative
  width: $thumbnail-size
  height: $thumbnail-size
  display: flex
  align-items: center
  justify-content: center

.folio-console-thumbnail__img
  max-width: $thumbnail-size
  max-height: $thumbnail-size

.folio-console-thumbnail__alt
  cursor: pointer
  height: 16px
  overflow: hidden
  text-overflow: ellipsis
  width: 100%
  text-align: left
  display: block
  white-space: nowrap
  margin-top: 5px

  &:hover
    text-decoration: underline

.folio-console-thumbnail__title
  display: block
  max-width: 100%
  max-height: 100%
  overflow: hidden
  font-size: $font-size-sm
  text-overflow: ellipsis

  .folio-console-thumbnail__img-wrap &
    padding: 10px
