.f-c-togglable-fields
  position: relative

  &__label
    padding-left: $form-check-padding-start
    margin-bottom: $spacer

  &__input
    position: absolute

  &__content
    display: none

    &--reverse
      display: block

  &__input:checked ~ &__content,
  &__input:checked ~ &__parent > &__content
    display: block

    &--reverse
      display: none
