.f-c-with-aside
  width: 100%
  display: flex
  align-items: stretch
  height: auto
  min-height: 0
  position: relative
  overflow: hidden
  overflow-x: auto
  flex: 1 1 100%

  &__main,
  &__aside
    display: flex
    flex-direction: column
    height: 100%
    position: relative
    min-height: 0

  &__main
    width: percentage(2 / 3)
    min-width: 1060px * 2 / 3
    flex: 1 0 percentage(2 / 3)
    z-index: 1

  &__aside
    width: percentage(1 / 3)
    min-width: 1060px * 1 / 3
    flex: 0 0 percentage(1 / 3)
    max-width: 390px
    z-index: 2
    background: $light-gray

    .folio-loader
      background: rgba($light-gray, 0.9)

  &__fixed
    padding: $grid-gutter-half $grid-gutter-width

  &__scroll
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    padding: $grid-gutter-width
    flex: 0 1 100%
    min-height: 0
    position: relative

  &__aside &__fixed,
  &__aside &__scroll
    padding: $grid-gutter-half

  &__toggle
    height: 35px
    flex: 0 0 35px
    background: $medium-gray
    display: flex
    align-items: center
    justify-content: flex-end
    cursor: pointer
    position: static
    padding: 0 $grid-gutter-half

  &--aside-collapsed &__aside
    min-width: 28px
    width: 28px
    flex-basis: 28px
    position: relative

  &--aside-collapsed &__aside > *:not(&__toggle),
  &--aside-collapsed &__toggle-label
    display: none

  &--aside-collapsed &__toggle
    padding: 0
    justify-content: center

    .f-c-with-aside__toggle-icon
      transform: rotate(180deg)
