.f-c-with-icon
  display: inline-flex
  align-items: center

  .fa
    margin-right: 7px

a.f-c-with-icon
  text-decoration: none

  .fa, span
    text-decoration: none

  +hover-focus
    &, .fa
      text-decoration: none

    span
      text-decoration: underline
