.f-c-with-aside
  &__aside
    background: $aside-bg

  +mq-desktop-menu
    display: flex
    align-items: stretch
    height: auto
    min-height: 0
    position: relative
    overflow: hidden
    flex: 1 1 100%

    &__main,
    &__aside
      display: flex
      flex-direction: column
      height: 100%
      position: relative
      min-height: 0

    &__main
      width: percentage(2 / 3)
      flex: 1 0 percentage(2 / 3)
      z-index: 1

    &__aside
      width: percentage(1 / 3)
      flex: 0 0 percentage(1 / 3)
      max-width: 390px
      z-index: 2

    &__fixed
      padding: $grid-gutter-half $grid-gutter-width

    &__scroll
      overflow-y: scroll
      -webkit-overflow-scrolling: touch
      padding: $grid-gutter-half $grid-gutter-half $grid-gutter-half $grid-gutter-width
      flex: 0 1 100%
      min-height: 0
      position: relative

  +mq-mobile-menu
    overflow-y: scroll
    -webkit-overflow-scrolling: touch

    &__main
      padding: $grid-gutter-half

    &__aside
      padding-bottom: 65px

      .f-c-with-aside__scroll
        padding: $grid-gutter-half $grid-gutter-width
