.f-c-show-for-index-wrap--merge
  padding-left: 140px
  position: relative

.f-c-merges-index-radios
  position: absolute
  left: 0

  &__label
    height: 60px
    width: 70px
    display: block
    margin: 0
    top: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    position: absolute

    &--original
      left: 0

    &--duplicate
      left: 70px

  +mq-mobile-menu
    margin-top: 35px
