.f-c-merges-index-radios
  display: flex

  &__label
    height: 60px
    width: 70px
    display: block
    margin: 0
    top: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
