# frozen_string_literal: true

require "test_helper"
require Folio::Engine.root.join("test/controllers/folio/users/omniauth_callbacks_controller_test").to_s

class <%= application_namespace %>::Folio::Users::OmniauthCallbacksControllerTest < Folio::Users::OmniauthCallbacksControllerTest
end
