# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::DividerComponentTest < Folio::ComponentTest
  def test_render
    atom = create_atom(<%= application_namespace %>::Atom::Divider)

    render_inline(<%= application_namespace %>::Atom::DividerComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-divider")
  end
end
