.f-c-index-images__item
  position: relative
  width: 35px
  height: 35px
  background: $gray-400
  display: flex
  align-items: center
  justify-content: center

  &:not(:last-child)
    margin-right: 7px

.f-c-index-images__img
  display: block
  max-width: 100%
  max-height: 100%
