.d-molecule.d-molecule-card-padded-image
  = render(Dummy::Molecule::Card::ImageComponent.new(atoms: @atoms,
                                                     atom_options: @atom_options,
                                                     padded: true))
