.d-atom-images-gallery
  position: relative
  overflow: hidden

  &__wrap
    position: relative

    &::after
      clear: both
      content: ''
      display: block

  &__item
    float: left

  &__image
    max-width: 100% !important
    max-height: none !important
    width: 100% !important
    height: 100% !important

  &__loader-wrap
    background: $shade-light-contrast
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2

  &__loader
    max-height: 150px

  &__caption
    margin-top: $grid-gutter-width

  &__title:not(:last-child)
    display: inline-block
    margin-right: $grid-gutter-half

  &__subtitle
    color: $shade-400

  +media-breakpoint-down(sm)
    &__caption
      margin-top: 2 * $grid-gutter-base
