# frozen_string_literal: true

require "test_helper"

class <%= molecule_component_name %>Test < Folio::ComponentTest
  def test_render
    atoms = [create_atom(<%= application_namespace %>::Atom::<%= class_name %>)]

    render_inline(<%= molecule_component_name %>.new(atoms:))

    assert_selector(".<%= molecule_css_class_name %>")
  end
end
