@font-face
  font-family: 'Roboto'
  src: font-url('Roboto-BoldItalic.woff2') format('woff2')
  font-weight: $font-weight-bold
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: font-url('Roboto-Bold.woff2') format('woff2')
  font-weight: $font-weight-bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: font-url('Roboto-RegularItalic.woff2') format('woff2')
  font-weight: $font-weight-normal
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Roboto'
  src: font-url('Roboto-Regular.woff2') format('woff2')
  font-weight: $font-weight-normal
  font-style: normal
  font-display: swap
