.d-atoms
  .d-atom:first-child,
  .d-molecule:first-child
    margin-top: 0 !important

  .d-atom:last-child,
  .d-molecule:last-child
    margin-bottom: 0 !important

  .f-ui-atoms &
    padding-top: $grid-gutter-width
    padding-bottom: $grid-gutter-width
