@import 'folio/tiptap/styles';

.f-tiptap-styled-wrap[data-f-tiptap-styled-wrap-variant="gray-box"] {
  background: $transparent-b300;
  padding: calc(2 * var(--f-tiptap__spacer));
  border-radius: var(--bs-border-radius);
}
