.container-fluid
  h1
    a.d-unlink href=dummy_ui_path UI kit

  - %w[light dark].each do |theme|
    .bg-body.p-g.mt-g.border.rounded data-bs-theme=theme
      h2.mt-0 Embed - #{theme}

      - embed_list = [ \
        { embed_code: '<iframe width="560" height="315" src="https://www.youtube.com/embed/HmZKgaHa3Fg" title="YouTube video player" frameborder="0" allow="accelerometer;autoplay;clipboard-write;encrypted-media;gyroscope;picture-in-picture" allowfullscreen></iframe>', caption: 'Popisek video embedu' }, \
        { embed_code: '<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Sunsets don&#39;t get much better than this one over <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>. <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a> <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a> <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a></p>&mdash; US Department of the Interior (@Interior) <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May 5, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>', caption: 'Popisek HTML obsahu' }, \
        { embed_code: '<iframe src="https://open.spotify.com/embed-podcast/episode/5PM3tj3Zg8r0zMwtLTMQZf" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>', caption: 'Popisek podcast embedu' }, \
      ]

      - embed_list.each_with_index do |item, index|
        == render(Dummy::Ui::EmbedComponent.new( embed: item[:embed_code].html_safe, caption: item[:caption]))
        - if index != embed_list.length - 1
          hr.mb-4
