@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-Italic.woff2') format('woff2');
    font-weight: $font-weight-normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-Medium.woff2') format('woff2');
    font-weight: $font-weight-medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-Regular.woff2') format('woff2');
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-SemiBoldItalic.woff2') format('woff2');
    font-weight: $font-weight-semibold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-SemiBold.woff2') format('woff2');
    font-weight: $font-weight-semibold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-Bold.woff2') format('woff2');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-BoldItalic.woff2') format('woff2');
    font-weight: $font-weight-bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-MediumItalic.woff2') format('woff2');
    font-weight: $font-weight-medium;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
    font-weight: $font-weight-medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk-Light.woff2') format('woff2');
    font-weight: $font-weight-light;
    font-style: normal;
    font-display: swap;
}

