.f-c-atoms-form-header[
  data-active-offset=(locales.length - 1)
]
  button.mr-g[
    type="button"
    class="f-c-atoms-form-header__button"
    class="f-c-atoms-form-header__button--settings"
    class="f-c-with-icon"
  ]
    span.fa.fa-cog
    span = t('.settings')

  - locales.each_with_index do |locale, index|
    button[
      type="button"
      class="f-c-atoms-form-header__button"
      class="f-c-atoms-form-header__button--locale"
      class=(index == 0 ? "f-c-atoms-form-header__button--active" : nil)
      data-locale=locale
    ]
      = country_flag(locale)
