.select2-container--default
  outline: 0

  .select2-selection
    background-color: $form-select-bg
    background-image: escape-svg($form-select-indicator)
    background-repeat: no-repeat
    background-position: $form-select-bg-position
    background-size: $form-select-bg-size

  .select2-selection--single
    border-radius: $border-radius
    border-color: $input-border-color
    height: $input-height
    outline: 0

    .select2-selection__rendered
      line-height: $input-height
      padding: 0 $input-padding-x

    .select2-selection__arrow
      display: none

    .select2-selection__clear
      width: 20px
      text-align: center
      font-size: $font-size-base
      color: $danger
      line-height: $input-height-inner
      margin: 0 $grid-gutter-half
      display: inline-flex
      align-items: center
      justify-content: center
      text-indent: -9999px

      &::after
        content: "×"
        display: inline
        text-indent: 0
        font-size: px-to-rem(20px)

      .input-group &
        display: none

    .select2-selection__placeholder
      color: inherit

  .select2-search--dropdown
    .select2-search__field
      outline: 0
      height: $input-height
      border-radius: $border-radius
      border-color: $input-border-color

  .select2-results__option
    word-break: break-all

  .select2-results__option--highlighted[aria-selected]
    background: $blue

  .input-group &:not(:last-child)
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    position: relative
    flex: 1 1 auto
    width: 1% !important
    min-width: 0
    margin-bottom: 0
