.select2-container--default
  outline: 0

  .select2-selection--single
    border-radius: $border-radius
    border-color: $input-border-color
    height: $input-height
    outline: 0

    .select2-selection__rendered
      line-height: $input-height
      padding: 0 $input-padding-x

    .select2-selection__arrow
      height: $input-height

    .select2-selection__clear
      width: 20px
      text-align: center
      font-size: 20px
      color: $danger
      line-height: $input-height
      height: $input-height
      margin: 0 3px
      display: inline-flex
      align-items: center
      justify-content: center
      padding-bottom: 2px

    .select2-selection__placeholder
      color: inherit

  .select2-search--dropdown
    .select2-search__field
      outline: 0
      height: $input-height
      border-radius: $border-radius
      border-color: $input-border-color

  .select2-results__option
    word-break: break-all

  .select2-results__option--highlighted[aria-selected]
    background: $blue
