$d-mailer-styles: false !default

@if $d-mailer-styles
  .d-unlink
    &, &:hover, &:focus
      text-decoration: none
      color: inherit

  .fw-bold
    font-weight: $font-weight-bold

  .text-no-wrap
    white-space: nowrap
