.d-blog-articles-card
  border-radius: $border-radius
  overflow: hidden
  display: flex
  flex-wrap: nowrap
  align-items: flex-start
  justify-content: flex-start
  gap: 2*$grid-gutter-base
  &__content
    flex: 1

  &__top
    position: relative
    text-decoration: none
    width: px-to-rem(80px)
    flex: 0 0 px-to-rem(80px)
    height: px-to-rem(80px)

  &__cover
    background-clip: text

  &__title
    +font-size-display-xs
    font-weight: $font-weight-bold
    text-overflow: ellipsis
    margin: 0 0 $grid-gutter-base 0
    +media-breakpoint-up(lg)
      +line-clamp(5)

  &__link
    text-decoration: none
    &:hover
      text-decoration: underline

  &__details
    display: flex
    flex-wrap: wrap
    gap: $grid-gutter-half
    align-items: center

  &__date
    color: $shade-400
    +font-size-text-s

  &--md
    flex-direction: column
    align-items: stretch
    border: 1px solid $transparent-200
    .d-blog-articles-card__top
      height: 0
      padding-bottom: 61.1111%
      width: 100%
      flex: 1

    .d-blog-articles-card
      &__content
        padding: 0 $grid-gutter-half $grid-gutter-width

      &__title
        margin-bottom: $grid-gutter-width
