.d-blog-articles-show-body
  &__row
    +media-breakpoint-up(xl)
      display: flex
      gap: map-get($spacers, j)
      flex-direction: row
      align-items: flex-start
      justify-content: space-between

  &__main
    flex: 1 1 auto

  &__recommended
    +media-breakpoint-up(xl)
      flex: 0 0 360px

  &__recommended-title
    +font-size-display-xs
    font-weight: $font-weight-bold
