.d-blog-articles-topic-tags
  display: flex
  flex-wrap: wrap
  gap: $grid-gutter-base
  &__item
    border: 1px solid $transparent-200
    border-radius: $border-radius-pill
    justify-content: center
    align-items: center
    padding: $grid-gutter-half/2 $grid-gutter-half
    color: $shade-700
    +font-size-text-s
    font-weight: $font-weight-semibold
    text-decoration: none
    line-height: 1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: px-to-rem(200px)
    transition: color 0.15s ease, background-color 0.15s ease, border 0.15s ease
    &:hover
      border-color: $brand-200
      color: $brand-200
      background-color: $shade-light-contrast

    &--primary
      border-color: $brand-200
      background-color: $brand-200
      color: $shade-light-contrast

  &--sm
    .d-blog-articles-topic-tags__item
      max-width: px-to-rem(120px)
      padding: $grid-gutter-base/2 $grid-gutter-base
      +font-size-text-xs
      line-height: 1
