# frozen_string_literal: true

require "test_helper"

class Folio::Console::<%= application_module %>::Blog::CategoriesControllerTest < Folio::Console::BaseControllerTest
  test "index" do
    get url_for([:console, <%= application_module %>::Blog::Category])

    assert_response :success

    create(:<%= application_dir_namespace %>_blog_category)

    get url_for([:console, <%= application_module %>::Blog::Category])

    assert_response :success
  end

  test "new" do
    get url_for([:console, <%= application_module %>::Blog::Category, action: :new])

    assert_response :success
  end

  test "edit" do
    model = create(:<%= application_dir_namespace %>_blog_category)

    get url_for([:edit, :console, model])

    assert_response :success
  end

  test "create" do
    params = build(:<%= application_dir_namespace %>_blog_category).serializable_hash
    assert_equal(0, <%= application_module %>::Blog::Category.count)

    post url_for([:console, <%= application_module %>::Blog::Category]), params: {
      <%= application_dir_namespace %>_blog_category: params,
    }

    assert_equal(1, <%= application_module %>::Blog::Category.count, "Creates record")
  end

  test "update" do
    model = create(:<%= application_dir_namespace %>_blog_category)
    assert_not_equal("Title", model.title)

    put url_for([:console, model]), params: {
      <%= application_dir_namespace %>_blog_category: {
        title: "Title",
      },
    }

    assert_redirected_to url_for([:edit, :console, model])
    assert_equal("Title", model.reload.title)
  end

  test "destroy" do
    model = create(:<%= application_dir_namespace %>_blog_category)

    delete url_for([:console, model])

    assert_redirected_to url_for([:console, <%= application_module %>::Blog::Category])
    assert_not(<%= application_module %>::Blog::Category.exists?(id: model.id))
  end
end
