= index_header

= catalogue(@accounts)
  ruby:
    edit_link :full_name
    email :email
    attribute(:roles) { record.human_role_names.join("<br>") }
    attribute :sign_in_count
    date :last_sign_in_at
    actions
