.f-c-catalogue
  position: relative

  &__label
    text-transform: uppercase
    color: $table-head-color
    white-space: nowrap
    font-size: $font-size-sm

  &__sortable-placeholder
    height: 67px

    &:after
      content: ''
      position: absolute
      left: 0
      width: 100%
      height: 67px
      background: #E6F4FA
      display: block

  +mq-desktop-menu
    &__table
      display: table
      width: 100%
      margin: 0

    &__row,
    &__header
      display: table-row

    &__row:hover &__cell
      background: $table-accent-bg

    &__cell,
    &__header-cell
      display: table-cell
      padding: $table-cell-padding
      border-bottom: $table-border-width solid $table-border-color
      background: $white
      vertical-align: middle

    &__cell-label
      display: none

    &__header-cell--position-buttons,
    &__cell--position-buttons
      width: 103px

    &__header-cell--actions,
    &__cell--actions
      width: 1px
      white-space: nowrap

    &__header-cell--toggle,
    &__cell--toggle
      width: 36px
      white-space: nowrap

    &__header-cell--merge,
    &__cell--merge
      border-bottom: 0
      width: 140px
      background: transparent
      padding: 0

    &__cell--merge
      background: $table-accent-bg

  +mq-mobile-menu
    &--merge
      padding-left: 140px
      padding-top: 46px

    &__cell--merge
      position: absolute
      left: -140px
      top: $spacer

    &__header
      display: none

    &__row
      display: block
      width: 100%
      border: $table-border-width solid $table-border-color
      margin: 0 0 $spacer
      padding: $spacer calc(#{2 * $spacer} + #{$input-height-border} + #{$input-height-inner}) $spacer $spacer
      position: relative

    &__cell + &__cell
      margin-top: $spacer / 2

    &__cell--actions
      position: absolute
      top: $spacer
      right: $spacer
      bottom: $spacer

    &__cell + &__cell--actions
      margin-top: 0
