.f-c-catalogue
  +mq-desktop-menu
    &__table
      display: table
      width: 100%
      margin: 0

    &__row,
    &__header
      display: table-row

    &__row:hover &__cell
      background: $table-accent-bg

    &__cell,
    &__header-cell
      display: table-cell
      padding: $table-cell-padding
      border-bottom: $table-border-width solid $table-border-color
      background: $white
      vertical-align: middle

      &:first-child
        padding-left: 0

      &:last-child
        padding-right: 0

    &__label
      text-transform: uppercase
      color: $table-head-color
      white-space: nowrap
      font-size: $font-size-sm

    .f-c-show-for-table
      &--wide
        .f-c-show-for__row
          width: 100%

      .f-c-show-for__row
        display: table
        box-shadow: 0 0 5px rgba($black, 0.05)

      .f-c-show-for__cell
        display: table-row

      .f-c-show-for__label,
      .f-c-show-for__content
        display: table-cell
        padding: $table-cell-padding
        vertical-align: middle
        border-top: 1px solid $table-border-color
        border-left: 1px solid $table-border-color
        border-right: 1px solid $table-border-color

      .f-c-show-for__label
        border-right: 0

      .f-c-show-for__cell:last-child
        .f-c-show-for__label,
        .f-c-show-for__content
          border-bottom: 1px solid $table-border-color

  +mq-mobile-menu
    .f-c-show-for-index,
    .f-c-show-for-table
      .f-c-show-for__row
        display: block
        width: 100%
        border: $table-border-width solid $table-border-color
        margin: 0 0 $spacer
        padding: $spacer calc(#{2 * $spacer} + #{$input-height-border} + #{$input-height-inner}) 0 $spacer
        position: relative

      .f-c-show-for__cell
        margin-bottom: $spacer

      .f-c-show-for__label,
      .f-c-show-for__content
        padding: 0

      .f-c-show-for__label
        text-transform: uppercase
        color: $table-head-color
        font-size: $font-size-tiny
        margin-bottom: $spacer / 4

    .f-c-show-for-index
      .f-c-show-for__row
        &:first-child
          display: none
