# frozen_string_literal: true

require "test_helper"

class <%= application_namespace %>::Atom::Blog::Articles::IndexComponentTest < Folio::ComponentTest
  def test_render
    create_and_host_site
    placement = create_page_singleton(<%= application_namespace %>::Page::Blog::Articles::Index)
    atom = create_atom(<%= application_namespace %>::Atom::Blog::Articles::Index, placement:)

    render_inline(<%= application_namespace %>::Atom::Blog::Articles::IndexComponent.new(atom:))

    assert_selector(".<%= classname_prefix %>-atom-blog-articles-index")
  end
end
