.f-devise-omniauth
  margin: 1.5 * $spacer 0

  &__p
    margin: $spacer 0

  &__button
    display: inline-flex
    align-items: center

  &__svg
    height: 24px
    width: auto
    margin: -5px 10px -5px 0

  +media-breakpoint-up(sm)
    &__buttons
      display: flex

    &__button + &__button
      margin-left: $spacer

  +media-breakpoint-down(xs)
    &__button
      display: flex

    &__button + &__button
      margin-top: $spacer
