.f-c-state
  font-size: $font-size-sm
  line-height: 1

  &--loading
    cursor: wait

    .dropdown
      pointer-events: none
      opacity: 0.5

  &__state
    +unbutton
    display: flex
    align-items: center
    white-space: nowrap
    gap: $grid-gutter-base

    &.dropdown-item
      padding: $dropdown-item-padding-y $dropdown-item-padding-x

  &__state-square
    width: 16px
    height: 16px
    display: block
    background: $f-c-state-colors-default
    border-radius: 8px

    @each $name, $color in $f-c-state-colors
      &--color-#{$name}
        background: $color

  .dropdown-menu
    margin-left: -25px
    margin-top: 5px

div.f-c-state__state
  cursor: auto
