@keyframes heartBeat
  0%
    transform: scale(1)
  14%
    transform: scale(1.25)
  28%
    transform: scale(1)
  42%
    transform: scale(1.25)
  70%
    transform: scale(1)

.f-c-form-footer-spacer,
.f-c-form-footer
  min-height: 60px

  +mq-desktop-menu
    min-height: 68px

.f-c-form-footer
  padding-top: $grid-gutter-width / 2
  padding-bottom: $grid-gutter-width / 2
  background: $white
  position: fixed
  left: 0
  right: 0
  bottom: 0
  z-index: 999
  box-shadow: $f-c-box-shadow-card

  .f-c-layout-html.slideout-open &
    display: none

  & &__ribbon
    display: none

  &__container
    display: flex
    flex-wrap: wrap
    gap: $f-c-ui-buttons-gap

  &--dirty &__btn--submit,
  .simple_form--dirty &__btn--submit
    animation: heartBeat 1.5s 1 linear
    position: relative
    z-index: 2

  &--dirty &__ribbon,
  .simple_form--dirty &__ribbon
    display: flex

  +mq-desktop-menu
    padding-top: 2 * $grid-gutter-width / 3
    padding-bottom: 2 * $grid-gutter-width / 3
    left: 220px
