@keyframes heartBeat
  0%
    transform: scale(1)
  14%
    transform: scale(1.25)
  28%
    transform: scale(1)
  42%
    transform: scale(1.25)
  70%
    transform: scale(1)

.f-c-form-footer-spacer,
.f-c-form-footer
  min-height: 60px

  +mq-desktop-menu
    min-height: 68px

.f-c-form-footer
  padding-top: $grid-gutter-width / 2
  padding-bottom: $grid-gutter-width / 2
  background: $white
  position: fixed
  left: 0
  right: 0
  bottom: 0
  z-index: 999
  box-shadow: $f-c-box-shadow-card

  .f-c-layout-html.slideout-open &
    display: none

  &__ribbon
    overflow: hidden
    padding-left: 15px
    padding-right: 20px
    position: relative
    height: $input-height

    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      content: ''
      display: block
      z-index: 1
      width: 0
      height: 0
      border-style: solid
      border-width: 17.5px 10px 17.5px 0
      border-color: transparent $medium-gray transparent transparent

    &:after
      background: $medium-gray
      height: 100%
      position: absolute
      top: 0
      left: 10px
      right: 0
      bottom: 0
      content: ''
      display: block
      z-index: 1

    span
      position: relative
      z-index: 2

  & &__ribbon
    display: none

  &__container
    display: flex
    flex-wrap: wrap
    gap: $f-c-ui-buttons-gap

  .simple_form--dirty &__btn--submit
    animation: heartBeat 1.5s 1 linear
    position: relative
    z-index: 2

  .simple_form--dirty &__ribbon
    display: flex

  +mq-desktop-menu
    padding-top: 2 * $grid-gutter-width / 3
    padding-bottom: 2 * $grid-gutter-width / 3
    left: 220px

  +media-breakpoint-down(sm)
    &__ribbon
      padding-left: 20px
      padding-right: 15px

      .f-ui-icon
        width: 24px !important
        height: auto !important

      .f-c-ui-with-icon__span
        display: none
