@keyframes heartBeat
  0%
    transform: scale(1)
  14%
    transform: scale(1.25)
  28%
    transform: scale(1)
  42%
    transform: scale(1.25)
  70%
    transform: scale(1)

.f-c-form-footer
  padding-top: $grid-gutter-half
  padding-bottom: $grid-gutter-half
  background: rgba(255, 255, 255, .84)
  position: fixed
  left: 0
  right: 0
  bottom: 0
  z-index: 999

  .f-c-layout-html.slideout-open &
    display: none

  &__btn
    min-width: 100px

  &__ribbon
    overflow: hidden
    padding-left: 15px
    padding-right: 20px
    position: relative
    height: $input-height

    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      content: ''
      display: block
      z-index: 1
      width: 0
      height: 0
      border-style: solid
      border-width: 17.5px 10px 17.5px 0
      border-color: transparent $medium-gray transparent transparent

    &:after
      background: $medium-gray
      height: 100%
      position: absolute
      top: 0
      left: 10px
      right: 0
      bottom: 0
      content: ''
      display: block
      z-index: 1

    span
      position: relative
      z-index: 2

  & &__ribbon
    display: none

  &__container
    display: flex
    flex-wrap: wrap
    gap: $f-c-ui-buttons-gap

  &--dirty &__btn--submit
    animation: heartBeat 1.5s 1 linear
    position: relative
    z-index: 2

  &--dirty &__ribbon
    display: flex

  +media-breakpoint-up(xxl)
    padding-top: $grid-gutter-width
    padding-bottom: $grid-gutter-width

  +mq-desktop-menu
    left: 220px

// TODO @mreq position sticky footer
.f-c-form-footer-spacer
  visibility: hidden
  margin-top: map-get($spacers, 3)
  // height: $footer-height
  margin-bottom: - $spacer
  flex: 0 0 auto

  // +media-breakpoint-up(xxl)
  //   height: $footer-height-xxl
