.f-c-form-footer
  .container-fluid.f-c-form-footer__container
    - if back_path
      == cell('folio/console/ui/button',
              href: back_path,
              class: 'f-c-form-footer__btn',
              variant: :gray,
              label: t('folio.console.actions.back'),
              icon: :arrow_u_left_top)

    - if preview_path
      == cell('folio/console/ui/button',
              href: preview_path,
              class: 'f-c-form-footer__btn',
              variant: :secondary,
              label: t('folio.console.actions.preview'),
              icon: :open_in_new,
              target: "_blank")

    = options[:pre_submit_content]

    - if model
      == cell('folio/console/ui/button',
              type: :submit,
              class: 'f-c-form-footer__btn f-c-form-footer__btn--submit',
              variant: :primary,
              label: submit_label,
              icon: :check)

    .f-c-form-footer__ribbon.text-danger
      == cell('folio/console/ui/with_icon',
              t('.dirty_forms'),
              icon: :alert,
              icon_options: { width: 14 })

    = options[:post_submit_content]
