RACK_ENV=development

PROJECT_NAME=<%= project_name %>

SECRET_KEY_BASE=development_secret
DRAGONFLY_SECRET=development_secret

# DEV_S3_DRAGONFLY=1
# DRAGONFLY_PRODUCTION_S3_URL_BASE=https://<%= project_name %>.s3.amazonaws.com/<%= project_name %>/production/files

S3_SCHEME=https
S3_REGION=eu-west-1
S3_BUCKET_NAME=todo-bucket-name

AWS_ACCESS_KEY_ID=todo-access-key
AWS_SECRET_ACCESS_KEY=todo-secret-key

DIGITAL_DB_USER=username
DIGITAL_DB_PASSWORD=password

SMTP_ADDRESS=localhost
SMTP_DOMAIN=www.example.com
SMTP_USERNAME=username
SMTP_PASSWORD=password

# HOST=www.example.com
# ASSET_HOST=http://example.cloudfront.net

RAVEN_DSN=

# DEV_MAILCHIMP=1

# MAILCHIMP_API_KEY=todo
# MAILCHIMP_LIST_ID=todo
