.f-c-index-actions
  text-align: right

  +mq-desktop-menu
    .btn + .btn
      margin-left: $table-cell-padding

  +mq-mobile-menu
    position: absolute
    top: $spacer
    right: $spacer
    bottom: $spacer
    display: flex
    flex-direction: column
    justify-content: center

    .btn + .btn
      margin-top: $table-cell-padding
