.f-c-index-actions
  display: flex
  align-items: center
  justify-content: flex-end
  gap: $grid-gutter-width / 3
  color: $dark-gray

  &__link
    flex: 0 0 auto
    transition: $transition-base
    cursor: pointer

    &--cursor-move
      cursor: move

    &:hover
      opacity: $f-c-btn-hover-opacity
