@import '@folio-stylesheets/utilities';

@import '../stylesheets/custom_bootstrap';
@import '../stylesheets/fonts';

@import '../stylesheets/modules/turbolinks';
@import '../stylesheets/modules/bootstrap-overrides/**/*';
@import '../stylesheets/modules/atoms';
@import '../stylesheets/modules/rich-text';
@import '../stylesheets/modules/with-icon';

@import '@folio-cells/cookie_consent/cookie_consent';
@import '@folio-cells/image/image';
@import '@folio-cells/publishable_hint/publishable_hint';
@import '@folio-cells/ui/ui';
@import '@folio-components/dropzone_component';
@import '@folio-components/leads/form_component';
@import '@folio-components/nested_fields_component';
@import '@folio-components/newsletter_subscriptions/form_component';
@import '@folio-components/togglable_fields_component';
@import '@folio-stylesheets/devise';
@import '@folio-stylesheets/input/phone';
@import '@folio-stylesheets/lazyload';
@import '@folio-stylesheets/lightbox';
@import '@folio-stylesheets/loader';


html {
  height: 100%;
  min-width: 320px;
  overflow-y: scroll;
}

body {
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.d-layout-main {
  position: relative;
  z-index: 2;
  flex: 1 0 auto;
}

.f-devise {
  @extend .container-fluid;
}

@import '../../components/dummy/**/*';

// @media print {
//   @import 'print';
// }
