.d-ui-card-list
  &__inner
    display: flex
    flex-wrap: wrap
    margin: 0 (( - $grid-gutter-half ))

  .d-ui-card
    flex: 0 0 100%
    margin: 0
    padding: $grid-gutter-half

  .d-ui-card--size-large
    padding: map-get($spacers, gg) $grid-gutter-half

  .d-ui-card--size-large + .d-ui-card--size-large
    padding-top: 0

  +media-breakpoint-up(md)
    .d-ui-card--size-medium
      flex: 0 0 percentage(1 / 2)
      padding: $grid-gutter-half

  +media-breakpoint-up(lg)
    .d-ui-card--size-medium
      flex: 0 0 percentage(1 / 3)
      padding: $grid-gutter-half
