.<%= classname_prefix %>-ui-card-list
  .container-fluid
    .<%= classname_prefix %>-ui-card-list__inner
      - model.each do |card_model|
        == cell('<%= global_namespace_path %>/ui/card', card_model)
