.<%= classname_prefix %>-atom.<%= classname_prefix %>-atom-embed-html.my-gg
  .container-fluid
    == cell('<%= application_namespace_path %>/ui/embed',
            model.embed_code,
            caption: model.caption)
