@import 'dropzone-6-0-0-beta-2'

.f-dropzone
  position: relative
  z-index: 1

  &__loader
    z-index: 2
    display: none

  &__dropzone--loading ~ &__loader
    display: block

  &__dropzone
    min-height: $input-height
    position: relative
