.f-ai-c-site-settings
  &__record-title
    font-weight: $font-weight-bold

  &__field
    padding-top: $grid-gutter-width
    margin-top: $grid-gutter-width
    border-top: 1px solid $gray

    &:first-child
      padding-top: 0
      margin-top: 0
      border-top: 0

  &__field-header
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    gap: px-to-rem(8px)
    margin-bottom: px-to-rem(8px)

  &__field-title
    font-weight: $font-weight-bold

  &__field-hint
    color: $gray-500
