$f-ai-c-text-suggestions-group-accent: #9637D3 !default
$f-ai-c-text-suggestions-group-accent-light: #D3B3E8 !default
$f-ai-c-text-suggestions-group-background: #F3EBFC !default

.f-ai-c-text-suggestions-group
  --folio-loader-foreground: #{$f-ai-c-text-suggestions-group-accent}
  --folio-loader-foreground-transparent: #{rgba($f-ai-c-text-suggestions-group-accent, 0.2)}
