.f-c-index-filters
  background: #f2f2f2
  margin-top: - $spacer
  margin-bottom: $spacer

  .input-group
    margin-bottom: $spacer

  .f-c-index-header__tabs-wrap ~ &
    margin-top: - $nav-tabs-margin

  &__numeric-range
    background: #DBDBDB

  &__numeric-range > &__numeric-range-input
    width: 65px
    flex: 0 0 auto
    appearance: textfield

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      appearance: none
      margin: 0

  &__numeric-range .input-group-prepend
    display: flex
    align-items: center
    flex: 1 1 auto

    label
      margin: 0
      padding: 0 10px
      line-height: $input-height

  &__filters
    flex: 1 1 auto

  &__title
    flex: 0 0 auto
    padding: $spacer 0
    display: block

  &__cancel
    min-height: 35px
    display: flex

  &__toggle
    cursor: pointer
    display: flex

  &--expanded &__toggle-ico
    transform: rotate(180deg)

  &:not(&--expanded) &__filter--collapsible
    display: none

  &__autocomplete-wrap
    position: relative

    &:before
      +pseudo-font-awesome-icon($fa-var-chevron-down)
      position: absolute
      top: 0
      right: 0
      width: 30px
      height: $input-height
      pointer-events: none
      z-index: 2
      display: flex
      align-items: center
      justify-content: center

    &:after
      content: ''
      display: block
      position: absolute
      top: 5px
      right: 30px
      width: 0
      bottom: 5px
      pointer-events: none
      z-index: 2
      border-left: 1px solid $input-border-color

  &__autocomplete-input
    position: relative
    z-index: 1
    padding-right: $input-height

    &:not(:focus)
      cursor: pointer

  &__date-range-input-wrap
    position: relative

  &__date-range-input
    padding-left: 33px

  &__date-range-input-ico
    position: absolute
    top: 0
    left: 10px
    height: 100%
    display: flex
    align-items: center
    z-index: 3

  &__reset-input
    background: $input-bg

  .form-group,
  .input-group
    width: 100%
    margin: 0

  +media-breakpoint-up(md)
    &__wrap
      display: flex
      align-items: flex-start

    &__filters
      display: flex
      align-items: flex-start
      flex-wrap: wrap
      padding: $grid-gutter-half / 4 0

    &__title,
    &__cancel-wrap,
    &__toggle-wrap
      line-height: $input-height
      display: flex
      align-items: center
      margin: $grid-gutter-half / 4 0
      padding: 4px 0 0
      flex: 0 0 auto

    &__title
      margin-right: $grid-gutter-half

    &__cancel-wrap,
    &__toggle-wrap
      margin-left: $grid-gutter-width

    &__cancel-wrap
      &--hidden
        visibility: hidden

    &__filter
      flex: 0 0 auto
      width: 235px
      margin: $grid-gutter-half / 4 $grid-gutter-half / 2 $grid-gutter-half / 4 0

  +media-breakpoint-down(sm)
    &__filters
      padding-bottom: 3 * $grid-gutter-half / 4

    &__filter
      margin-bottom: $grid-gutter-half / 2
      width: 100% !important

    &__cancel-wrap
      flex: 0 0 100%
      width: 100% !important
      text-align: center
      padding-bottom: $grid-gutter-half

      &--hidden
        display: none

    &__toggle-wrap,
    &__toggle-wrap + &__cancel-wrap
      flex: 0 0 50%
      width: 50% !important
      margin-bottom: $grid-gutter-half / 2
      text-align: left
      display: inline-flex
      padding-bottom: $grid-gutter-half

    &__toggle-wrap + &__cancel-wrap
      text-align: right
      justify-content: flex-end
