.f-c-index-filters
  background: #f2f2f2
  margin-top: - $spacer
  margin-bottom: $spacer

  &__wrap
    padding: 4px 0

  &__inner
    flex: 1 1 auto

  &__title
    flex: 0 0 auto
    padding: $spacer 0
    display: block

  &__autocomplete-wrap
    position: relative

    &:before
      +pseudo-font-awesome-icon($fa-var-chevron-down)
      position: absolute
      top: 0
      right: 0
      width: 30px
      height: $input-height
      pointer-events: none
      z-index: 2
      display: flex
      align-items: center
      justify-content: center

    &:after
      content: ''
      display: block
      position: absolute
      top: 5px
      right: 30px
      width: 0
      bottom: 5px
      pointer-events: none
      z-index: 2
      border-left: 1px solid $input-border-color

  &__autocomplete-input
    position: relative
    z-index: 1
    padding-right: $input-height

    &:not(:focus)
      cursor: pointer

  &__date-range-input-wrap
    position: relative

  &__date-range-input
    padding-left: 33px

  &__date-range-input-ico
    position: absolute
    top: 0
    left: 10px
    height: 100%
    display: flex
    align-items: center

  +media-breakpoint-up(md)
    &__wrap
      display: flex
      align-items: center

    &__inner
      display: flex
      align-items: center
      flex-wrap: wrap
      margin-top: -2px
      margin-bottom: -2px

    &__title
      padding: 4px 0

    .form-group
      flex: 0 0 210px
      width: 210px
      margin: 2px 0 2px $grid-gutter-half
