$my-atom: map-get($spacers, g)
$my-atom-tablet: map-get($spacers, f)
$my-atom-mobile: map-get($spacers, d)
$my-atom-lg: 2 * $grid-gutter-width
$my-atom-lg-mobile: 50px

.d-atoms
  container-type: inline-size

  > .d-atom:first-child,
  > .d-molecule:first-child
    margin-top: 0 !important

  > .d-atom:last-child,
  > .d-molecule:last-child
    margin-bottom: 0 !important

  &--narrow .container-fluid
    padding-left: 0 !important
    padding-right: 0 !important

.my-atom
  margin-top: $my-atom
  margin-bottom: $my-atom

  +media-breakpoint-down(xl)
    margin-top: $my-atom-tablet
    margin-bottom: $my-atom-tablet

  +media-breakpoint-down($font-size-media-breakpoint-s)
    margin-top: $my-atom-mobile
    margin-bottom: $my-atom-mobile

.mb-atom
  margin-bottom: $my-atom

  +media-breakpoint-down($font-size-media-breakpoint-s)
    margin-bottom: $my-atom-mobile

.my-atom-lg
  margin-top: $my-atom-lg
  margin-bottom: $my-atom-lg

  +media-breakpoint-down($font-size-media-breakpoint-s)
    margin-top: $my-atom-lg-mobile
    margin-bottom: $my-atom-lg-mobile
